flows(ft-factory).json
[
    {
        "id": "4e9eeca57a653287",
        "type": "tab",
        "label": "Main Flow",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4c7e81e43391897e",
        "type": "tab",
        "label": "Publish motor data to TXT",
        "disabled": false,
        "info": "# Motor\n\nSend data to a TXT to activated a motor",
        "env": []
    },
    {
        "id": "f0a66f6a5cd9f8b9",
        "type": "tab",
        "label": "Receive P-data SLD",
        "disabled": false,
        "info": "Subscribe P-data from TXT\n\n\t\"txt/p\",        \n\t\"txt/p/p1\",\n\t\t\"txt/p/p2\",\n\t\t\"txt/p/p3\",\n\t\t\"txt/s\",         \n\t\t\"txt/s/p1\",\n\t\t\"txt/s/p2\",\n\t\t\"txt/s/p3\"",
        "env": []
    },
    {
        "id": "3a2b4845297472e9",
        "type": "tab",
        "label": "Receive P-data HBW",
        "disabled": false,
        "info": "Subscribe P-data from TXT\n\n\t\"txt/p\",        \n\t\"txt/p/p1\",\n\t\t\"txt/p/p2\",\n\t\t\"txt/p/p3\",\n\t\t\"txt/s\",         \n\t\t\"txt/s/p1\",\n\t\t\"txt/s/p2\",\n\t\t\"txt/s/p3\"",
        "env": []
    },
    {
        "id": "bf8a6a980178c631",
        "type": "tab",
        "label": "Receive P-data MPO",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "86129776fa6cf627",
        "type": "tab",
        "label": "Publish P-data to TXT",
        "disabled": false,
        "info": "Publish P-data to TXT\ntopic= <txt>/out/p1\n5 different sub messages.\n\n\t\t\"txt/p\",        \n\t\t\"txt/p/p1\",\n\t\t\"txt/p/p2\",\n\t\t\"txt/p/p3\",\n\t\t\"txt/s\",         \n\t\t\"txt/s/p1\",\n\t\t\"txt/s/p2\",\n\t\t\"txt/s/p3\"",
        "env": []
    },
    {
        "id": "91a23abe8e481d5a",
        "type": "tab",
        "label": "Emergency stop",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bd4c07398c4539cf",
        "type": "tab",
        "label": "Receive device data",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1ddee8b072c433e9",
        "type": "subflow",
        "name": "ShowPmessage",
        "info": "",
        "category": "dashboard",
        "in": [
            {
                "x": 60,
                "y": 360,
                "wires": [
                    {
                        "id": "ead821eead376006"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "495618beae6fa806",
        "type": "group",
        "z": "3a2b4845297472e9",
        "name": "Id p1 source",
        "style": {
            "stroke": "#ff3f3f",
            "fill": "#ffff7f",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "e2a18fef4b0d144b",
            "2b2e6c0e93953119",
            "89ed00b6d584ea5a",
            "11431c929562c65f",
            "6cee2f7ad646cb5e",
            "3ab3088afa01c214",
            "0ccd4e2d1bfee376",
            "eaec15fe299390cc",
            "cc12138e84a3e1ff",
            "42bb2cfe9a3ce76a",
            "d4f37321241b8ab8",
            "81f065c4a6413696",
            "4e9b86517b8333eb",
            "e5c7d1631feca758",
            "3432e6112aa7852e"
        ],
        "x": 2134,
        "y": 19
    },
    {
        "id": "e2d447b8604dc0fd",
        "type": "group",
        "z": "3a2b4845297472e9",
        "name": "Dashboard coordinates",
        "style": {
            "stroke": "#ff3f3f",
            "fill": "#ffff7f",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "134a443a593a54a1",
            "8dccaccc172b5623",
            "5aef0f3b138243a2",
            "81f4ce2ff915e706",
            "1c7438010a976eb5",
            "9594b5a95d4d73cf",
            "155edfe379abfd9e",
            "efe1de4c432862cc",
            "4685aa7140890de1",
            "579ed3110263e38c",
            "09634aa411a708f3",
            "b8cc5966f20fefee",
            "bec8c1d9d27e92da",
            "0780caf002378558",
            "ba5c5403c8e91abe"
        ],
        "x": 1874,
        "y": 299
    },
    {
        "id": "696ba882ad73f607",
        "type": "group",
        "z": "3a2b4845297472e9",
        "name": "",
        "style": {
            "stroke": "#ff0000",
            "fill": "#d1d1d1",
            "label": true
        },
        "nodes": [
            "408f320252684c7c",
            "bd5fafde87266690",
            "5736c7c55a6c46fd",
            "2707baf7a2dc22c4",
            "31086893f2335365",
            "408390a93365040b",
            "1d81a83df5399172",
            "9f0d8ebdbef7de27",
            "d066786ea5eccce9",
            "4b49c1bb7ee2a9a4",
            "e518ac3e70cf86bd",
            "f161de1817e30532",
            "baab096306d243a6",
            "45cb5e9048f6123c",
            "2d8f2879f79c3e93"
        ],
        "x": 794,
        "y": 19
    },
    {
        "id": "ef4950018385ad8e",
        "type": "group",
        "z": "3a2b4845297472e9",
        "name": "",
        "style": {
            "stroke": "#ff3f3f",
            "fill": "#e3f3d3",
            "label": true
        },
        "nodes": [
            "138aa4e7810c95f6",
            "7a91dfac8478c219",
            "d59db736608abf13",
            "c8e4e52a621a4c7a",
            "fd19f511a43e851b",
            "305a93258ffbeec6",
            "2fda3f977f4f0e7b",
            "0f934a528720a5dc",
            "73ed4f929bd547d6",
            "afaa4bf92e98e84b",
            "04c3465044c25a6d",
            "f5d8cee3701f75c5",
            "5af9183d1cc8c22e",
            "841025a258b5cfce",
            "a7f8801bda2cbf36"
        ],
        "x": 214,
        "y": 1259
    },
    {
        "id": "65dad3a26d9dc37e",
        "type": "group",
        "z": "3a2b4845297472e9",
        "name": "",
        "style": {
            "stroke": "#ff0000",
            "fill": "#e3f3d3",
            "label": true
        },
        "nodes": [
            "3bd2f54e2e6b9d66",
            "f08edf3b0fb9539e",
            "fecefd38a316d09c",
            "0b7534ecbfc9844b",
            "576b90cc81664619",
            "2a6499d32b9ac7d4",
            "ee12dbdc15a27ddd",
            "69f3329d62e26908",
            "2074ca5ea4709dd6",
            "e6508daeddcddeda",
            "df79d871c5537471",
            "5532cdb24d962019",
            "3044dc29b434c734",
            "be621f99f746488b",
            "270c6cd9160680ff"
        ],
        "x": 474,
        "y": 939
    },
    {
        "id": "2d1c974598225e33",
        "type": "group",
        "z": "3a2b4845297472e9",
        "name": "",
        "style": {
            "stroke": "#ff3f3f",
            "fill": "#bfdbef",
            "label": true
        },
        "nodes": [
            "089d64e9ef93d94b",
            "8c44991e8ba1ead3",
            "48f8957cf46f7faa",
            "115ae60c089381a2",
            "9746f3178754450d",
            "767bec0149e44199",
            "975662574ebcbad6",
            "cfb5d0d46e111ee3",
            "6bf039aed6b7152c",
            "3bc60fa9b2524d25",
            "925bb7d0487c1944",
            "da13c14c412a4189",
            "ae838f3069f8f179",
            "a9750519354fb540",
            "fdb3c13463152bfd"
        ],
        "x": 1274,
        "y": 779
    },
    {
        "id": "11b70d8b1233b516",
        "type": "group",
        "z": "3a2b4845297472e9",
        "name": "",
        "style": {
            "stroke": "#ff3f3f",
            "fill": "#bfdbef",
            "label": true
        },
        "nodes": [
            "89da0f58e3e51930",
            "a0f87d2888923d12",
            "02dbe1a5a39bfc65",
            "ce343ae96a39a4be",
            "a4bba0f212a3b391",
            "5ea2e04114902b3b",
            "98ebfcbef667a907",
            "6476fbf7c5fdd27c",
            "409cb0aeeab57827",
            "b2c37577429ff2c0",
            "be20fc71f601d897",
            "aa6b58a124beb0ae",
            "e6b87bed5807fc02",
            "b4f965bf5c5ef5f1",
            "cdf6a5356be1c69a"
        ],
        "x": 1054,
        "y": 1099
    },
    {
        "id": "c58f8d4b7c13412d",
        "type": "mqtt-broker",
        "name": "laptop(localhost)",
        "broker": "192.168.23.10",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "laptop/status",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "connected",
        "birthMsg": {},
        "closeTopic": "laptop/status",
        "closeQos": "2",
        "closeRetain": "false",
        "closePayload": "closing",
        "closeMsg": {},
        "willTopic": "laptop/status",
        "willQos": "2",
        "willRetain": "false",
        "willPayload": "Node-Red unexpected disconnected",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "70f9a5a2aadcbae3",
        "type": "ui_tab",
        "name": "TBK-Factory 01",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f5c9be56d5dd31e9",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Factory dashboard ",
            "hideToolbar": "false",
            "allowSwipe": "true",
            "lockMenu": "true",
            "allowTempTheme": "none",
            "dateFormat": "YYYY/MM/DD",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "aa9feae58ac4eadd",
        "type": "ui_group",
        "name": "General Info",
        "tab": "70f9a5a2aadcbae3",
        "order": 2,
        "disp": true,
        "width": "10",
        "collapse": true,
        "className": ""
    },
    {
        "id": "bd582865ce0a4c65",
        "type": "mqtt-broker",
        "name": "TxtUsb",
        "broker": "192.168.7.2",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "TxtUsb/status",
        "birthQos": "2",
        "birthRetain": "true",
        "birthPayload": "connected",
        "birthMsg": {},
        "closeTopic": "TxtUsb/status",
        "closeQos": "2",
        "closeRetain": "true",
        "closePayload": "disconnected",
        "closeMsg": {},
        "willTopic": "TxtUsb/status",
        "willQos": "2",
        "willRetain": "true",
        "willPayload": "killed",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "3a918d14429930a5",
        "type": "mqtt-broker",
        "name": "Txt175",
        "broker": "192.168.20.175",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "Txt175/status",
        "birthQos": "2",
        "birthRetain": "true",
        "birthPayload": "connected",
        "birthMsg": {},
        "closeTopic": "Txt175/status",
        "closeQos": "2",
        "closeRetain": "true",
        "closePayload": "disconnected",
        "closeMsg": {},
        "willTopic": "Txt175/status",
        "willQos": "2",
        "willRetain": "true",
        "willPayload": "killed",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "85f06380b4bc6391",
        "type": "ui_tab",
        "name": "TBK-Factory 02",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "2c9faac5d0d18804",
        "type": "ui_tab",
        "name": "TBK-Factory 03",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "30840b3c631a61fb",
        "type": "ui_group",
        "name": "SLD_P",
        "tab": "70f9a5a2aadcbae3",
        "order": 3,
        "disp": true,
        "width": "10",
        "collapse": true,
        "className": ""
    },
    {
        "id": "ccf5f67a2e5a062e",
        "type": "ui_group",
        "name": "Group 3",
        "tab": "70f9a5a2aadcbae3",
        "order": 9,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "590e59f993e7fcf2",
        "type": "ui_group",
        "name": "Group 2.HBW",
        "tab": "85f06380b4bc6391",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": true,
        "className": ""
    },
    {
        "id": "fc755ce7c4240337",
        "type": "ui_link",
        "name": "Link TesCaWeb",
        "link": "http://www.TesCaWeb.nl/Carel",
        "icon": "open_in_browser",
        "target": "iframe",
        "order": 5
    },
    {
        "id": "671f5a64ed1322a7",
        "type": "ui_group",
        "name": "Diverse ",
        "tab": "2c9faac5d0d18804",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "5cfe21d2.307938",
        "type": "ui_group",
        "name": "Gate #2",
        "tab": "312d3a0e7b86713a",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "fdb6c31c.4f2818",
        "type": "ui_group",
        "name": "Gate #1",
        "tab": "312d3a0e7b86713a",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "118402dedc740fc4",
        "type": "ui_group",
        "name": "Group 2.MPO",
        "tab": "85f06380b4bc6391",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": true,
        "className": ""
    },
    {
        "id": "6e6e308ee4a45efd",
        "type": "ui_group",
        "name": "Group 2.SLD",
        "tab": "85f06380b4bc6391",
        "order": 3,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "340ea28ebc329fb7",
        "type": "ui_spacer",
        "z": "bd4c07398c4539cf",
        "name": "spacer",
        "group": "590e59f993e7fcf2",
        "order": 2,
        "width": 12,
        "height": 1
    },
    {
        "id": "398e8816b4af8968",
        "type": "ui_spacer",
        "z": "bd4c07398c4539cf",
        "name": "spacer",
        "group": "590e59f993e7fcf2",
        "order": 4,
        "width": 12,
        "height": 1
    },
    {
        "id": "6ab8440655356b60",
        "type": "ui_spacer",
        "z": "bd4c07398c4539cf",
        "name": "spacer",
        "group": "590e59f993e7fcf2",
        "order": 7,
        "width": 12,
        "height": 1
    },
    {
        "id": "9e377b38722f34b6",
        "type": "ui_spacer",
        "z": "bd4c07398c4539cf",
        "name": "spacer",
        "group": "118402dedc740fc4",
        "order": 2,
        "width": 12,
        "height": 1
    },
    {
        "id": "1d6db6cb9f80806a",
        "type": "ui_spacer",
        "z": "bd4c07398c4539cf",
        "name": "spacer",
        "group": "118402dedc740fc4",
        "order": 4,
        "width": 12,
        "height": 1
    },
    {
        "id": "7d6b122a5dc1e399",
        "type": "ui_spacer",
        "z": "bd4c07398c4539cf",
        "name": "spacer",
        "group": "118402dedc740fc4",
        "order": 7,
        "width": 12,
        "height": 1
    },
    {
        "id": "87e0544b93cc67f8",
        "type": "ui_spacer",
        "z": "bd4c07398c4539cf",
        "name": "spacer",
        "group": "6e6e308ee4a45efd",
        "order": 2,
        "width": 12,
        "height": 1
    },
    {
        "id": "2cde2bdb68f2e666",
        "type": "ui_spacer",
        "z": "bd4c07398c4539cf",
        "name": "spacer",
        "group": "6e6e308ee4a45efd",
        "order": 4,
        "width": 12,
        "height": 1
    },
    {
        "id": "3c6858ce081623d0",
        "type": "ui_spacer",
        "z": "bd4c07398c4539cf",
        "name": "spacer",
        "group": "6e6e308ee4a45efd",
        "order": 7,
        "width": 12,
        "height": 1
    },
    {
        "id": "fa600c20.8a9c9",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.0.10",
        "port": "1883",
        "clientid": "Node-RED",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {}
    },
    {
        "id": "c2045506.d32c58",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "312d3a0e7b86713a",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6e42fd2c.304104",
        "type": "ui_link",
        "name": "ft Cloud",
        "link": "https://www.fischertechnik-cloud.com",
        "icon": "open_in_browser",
        "target": "newtab",
        "order": 6
    },
    {
        "id": "8069dfe.b488f2",
        "type": "ui_group",
        "name": "Camera Control",
        "tab": "312d3a0e7b86713a",
        "order": 2,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "631573fe.c997ec",
        "type": "ui_group",
        "name": "Factory Control",
        "tab": "312d3a0e7b86713a",
        "order": 5,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "312d3a0e7b86713a",
        "type": "ui_tab",
        "name": "dummy",
        "icon": "dashboard",
        "order": 7,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a9c07e1f45a7f1ee",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "2c9faac5d0d18804",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": true,
        "className": ""
    },
    {
        "id": "89ab7d33b5f732a7",
        "type": "ui_group",
        "name": "Group 3",
        "tab": "2c9faac5d0d18804",
        "order": 3,
        "disp": true,
        "width": "8",
        "collapse": true,
        "className": ""
    },
    {
        "id": "c5d96d3a0cdd0928",
        "type": "ui_spacer",
        "z": "91a23abe8e481d5a",
        "name": "spacer",
        "group": "671f5a64ed1322a7",
        "order": 2,
        "width": 2,
        "height": 1
    },
    {
        "id": "a2bc4efd71f925f1",
        "type": "ui_spacer",
        "z": "91a23abe8e481d5a",
        "name": "spacer",
        "group": "a9c07e1f45a7f1ee",
        "order": 4,
        "width": 3,
        "height": 1
    },
    {
        "id": "3cbd5bcadc5cb2f2",
        "type": "ui_spacer",
        "z": "91a23abe8e481d5a",
        "name": "spacer",
        "group": "a9c07e1f45a7f1ee",
        "order": 8,
        "width": 3,
        "height": 1
    },
    {
        "id": "a1b87c6368226dcf",
        "type": "ui_spacer",
        "z": "91a23abe8e481d5a",
        "name": "spacer",
        "group": "a9c07e1f45a7f1ee",
        "order": 12,
        "width": 3,
        "height": 1
    },
    {
        "id": "cf045384ee8d5475",
        "type": "ui_spacer",
        "z": "91a23abe8e481d5a",
        "name": "spacer",
        "group": "a9c07e1f45a7f1ee",
        "order": 13,
        "width": 12,
        "height": 1
    },
    {
        "id": "6af2cd52801d0d4c",
        "type": "ui_spacer",
        "z": "91a23abe8e481d5a",
        "name": "spacer",
        "group": "a9c07e1f45a7f1ee",
        "order": 15,
        "width": 2,
        "height": 1
    },
    {
        "id": "bc65f7d45d372520",
        "type": "ui_spacer",
        "z": "91a23abe8e481d5a",
        "name": "spacer",
        "group": "a9c07e1f45a7f1ee",
        "order": 17,
        "width": 2,
        "height": 1
    },
    {
        "id": "4ee3b11b1bd1ef05",
        "type": "ui_group",
        "name": "HDW_P1-1A-1B",
        "tab": "70f9a5a2aadcbae3",
        "order": 5,
        "disp": true,
        "width": "10",
        "collapse": true,
        "className": ""
    },
    {
        "id": "5751f621633a6771",
        "type": "ui_group",
        "name": "HDW_P2-3",
        "tab": "70f9a5a2aadcbae3",
        "order": 6,
        "disp": true,
        "width": "10",
        "collapse": true,
        "className": ""
    },
    {
        "id": "9dbd335627e7379d",
        "type": "ui_group",
        "name": "HDW_P4-5",
        "tab": "70f9a5a2aadcbae3",
        "order": 7,
        "disp": true,
        "width": "10",
        "collapse": true,
        "className": ""
    },
    {
        "id": "9a05c74e404fecb8",
        "type": "ui_group",
        "name": "MPO_P",
        "tab": "70f9a5a2aadcbae3",
        "order": 4,
        "disp": true,
        "width": "10",
        "collapse": true,
        "className": ""
    },
    {
        "id": "ee4226fc6adf1c10",
        "type": "ui_group",
        "name": "General P data",
        "tab": "70f9a5a2aadcbae3",
        "order": 8,
        "disp": true,
        "width": "10",
        "collapse": true,
        "className": ""
    },
    {
        "id": "06871941b2f14bfe",
        "type": "ui_group",
        "name": "Incomming MQTT message",
        "tab": "70f9a5a2aadcbae3",
        "order": 1,
        "disp": true,
        "width": "10",
        "collapse": true,
        "className": ""
    },
    {
        "id": "53f6d32eade10ef9",
        "type": "ui_spacer",
        "z": "4e9eeca57a653287",
        "name": "spacer",
        "group": "ccf5f67a2e5a062e",
        "order": 4,
        "width": 2,
        "height": 1
    },
    {
        "id": "ead821eead376006",
        "type": "function",
        "z": "1ddee8b072c433e9",
        "name": "PmsgToText",
        "func": "var topic=msg.topic;\nvar payload=msg.payload;\n\nvar objId = payload.id;\nvar objp1 = payload.par[0];\nvar objp2 = payload.par[1];\nvar objp3 = payload.par[2];\nvar objp4 = payload.par[3];\nvar objp5 = payload.par[4];\nvar objT = payload.t;\n\n\nvar msgp1={};\nvar msgp2={};\nvar msgp3={};\nvar msgp4={};\nvar msgp5={};\nvar msgId={};\nvar msgT={};\n\nmsgId.payload=  objId ;\nmsgId.topic= \"txt/new\";\n\nmsgp1.payload= JSON.stringify(  objp1 );\nmsgp1.topic= \"txt/new\";\n\nmsgp2.payload= JSON.stringify(  objp2 );\nmsgp2.topic =   \"txt/new\";\n\nmsgp3.payload= JSON.stringify(  objp3 );\nmsgp3.topic =   \"txt/new\";\n\nmsgp4.payload=  JSON.stringify( objp4 );\nmsgp4.topic =   \"txt/new\";\n\nmsgp5.payload= JSON.stringify(  objp5 );\nmsgp5.topic =   \"txt/new\";\n\nmsgT.payload= objT;// JSON.stringify(  objT );\nmsgT.topic =   \"txt/new\";\n\nreturn [msgId, msgp1,msgp2,msgp3,msgp4,msgp5,msgT ];",
        "outputs": 7,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 300,
        "wires": [
            [
                "f530bbe77edf422d"
            ],
            [
                "992d12bf21e1d55a",
                "54565dc94cbab058"
            ],
            [
                "c4a7a31bec8fb84c",
                "19791cd1aaed509b"
            ],
            [
                "a73d9ea8e177da05"
            ],
            [
                "87c4a68eface98c1",
                "1e64edf8bec3adbe"
            ],
            [
                "1f06885733d3866c",
                "ea1d7a82a6180e5d"
            ],
            [
                "3765ebc97d94aa9e",
                "2855acd71ce6b22a"
            ]
        ],
        "inputLabels": [
            "Json{}"
        ],
        "outputLabels": [
            "Id",
            "P1",
            "P2",
            "P3",
            "P4",
            "P5",
            "Time"
        ]
    },
    {
        "id": "a73ec3fdf3dfa7c8",
        "type": "inject",
        "z": "1ddee8b072c433e9",
        "name": "P-msg",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "txt/test1",
        "payload": "{\"id\":\"p1\",\"par\":[34,253,65,512,-23],\"t\":\"2014-06-25T00:00:00.000Z\"}",
        "payloadType": "str",
        "x": 110,
        "y": 220,
        "wires": [
            [
                "e14f6d882278fabf"
            ]
        ],
        "outputLabels": [
            "Json"
        ]
    },
    {
        "id": "54565dc94cbab058",
        "type": "debug",
        "z": "1ddee8b072c433e9",
        "name": "P1",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 770,
        "y": 160,
        "wires": []
    },
    {
        "id": "c4a7a31bec8fb84c",
        "type": "debug",
        "z": "1ddee8b072c433e9",
        "name": "P2",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 770,
        "y": 260,
        "wires": []
    },
    {
        "id": "1f06885733d3866c",
        "type": "debug",
        "z": "1ddee8b072c433e9",
        "name": "P5",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 770,
        "y": 560,
        "wires": []
    },
    {
        "id": "a73d9ea8e177da05",
        "type": "debug",
        "z": "1ddee8b072c433e9",
        "name": "P3",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 770,
        "y": 360,
        "wires": []
    },
    {
        "id": "87c4a68eface98c1",
        "type": "debug",
        "z": "1ddee8b072c433e9",
        "name": "P4",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 770,
        "y": 460,
        "wires": []
    },
    {
        "id": "e14f6d882278fabf",
        "type": "json",
        "z": "1ddee8b072c433e9",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 290,
        "y": 280,
        "wires": [
            [
                "ead821eead376006"
            ]
        ]
    },
    {
        "id": "1e64edf8bec3adbe",
        "type": "ui_text",
        "z": "1ddee8b072c433e9",
        "group": "671f5a64ed1322a7",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "txt_p4",
        "label": "P4=",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "className": "",
        "x": 770,
        "y": 520,
        "wires": []
    },
    {
        "id": "19791cd1aaed509b",
        "type": "ui_text",
        "z": "1ddee8b072c433e9",
        "group": "671f5a64ed1322a7",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "txt_p2",
        "label": "P2=",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "className": "",
        "x": 770,
        "y": 320,
        "wires": []
    },
    {
        "id": "ea1d7a82a6180e5d",
        "type": "ui_text",
        "z": "1ddee8b072c433e9",
        "group": "671f5a64ed1322a7",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "txt_p5",
        "label": "P5=",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "className": "",
        "x": 770,
        "y": 620,
        "wires": []
    },
    {
        "id": "992d12bf21e1d55a",
        "type": "ui_text",
        "z": "1ddee8b072c433e9",
        "group": "671f5a64ed1322a7",
        "order": 3,
        "width": 6,
        "height": 1,
        "name": "txt_p1",
        "label": "P1=",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "className": "",
        "x": 770,
        "y": 220,
        "wires": []
    },
    {
        "id": "f530bbe77edf422d",
        "type": "debug",
        "z": "1ddee8b072c433e9",
        "name": "Id",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 770,
        "y": 60,
        "wires": []
    },
    {
        "id": "3765ebc97d94aa9e",
        "type": "debug",
        "z": "1ddee8b072c433e9",
        "name": "Time",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 780,
        "y": 660,
        "wires": []
    },
    {
        "id": "2855acd71ce6b22a",
        "type": "ui_text",
        "z": "1ddee8b072c433e9",
        "group": "671f5a64ed1322a7",
        "order": 1,
        "width": 4,
        "height": 1,
        "name": "txt_time",
        "label": "Time=",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "className": "",
        "x": 780,
        "y": 720,
        "wires": []
    },
    {
        "id": "2a2a279366c4b5b6",
        "type": "mqtt in",
        "z": "4e9eeca57a653287",
        "name": "receiver mqtt status",
        "topic": "txt/mqtt",
        "qos": "0",
        "datatype": "utf8",
        "broker": "c58f8d4b7c13412d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 160,
        "wires": [
            [
                "02eda2ef93f3bf97",
                "de37a8b93e2d46ae",
                "30e7ab76a96921a9"
            ]
        ],
        "outputLabels": [
            "text"
        ]
    },
    {
        "id": "02eda2ef93f3bf97",
        "type": "ui_text",
        "z": "4e9eeca57a653287",
        "group": "06871941b2f14bfe",
        "order": 1,
        "width": 10,
        "height": 2,
        "name": "mqtt_status",
        "label": "MQTT status",
        "format": "{{msg.topic},{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 550,
        "y": 80,
        "wires": []
    },
    {
        "id": "de37a8b93e2d46ae",
        "type": "debug",
        "z": "4e9eeca57a653287",
        "name": "mqtt status",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 550,
        "y": 200,
        "wires": []
    },
    {
        "id": "7d47b52a3af6da21",
        "type": "ui_switch",
        "z": "4e9eeca57a653287",
        "name": "test",
        "label": "switch",
        "tooltip": "",
        "group": "ccf5f67a2e5a062e",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 90,
        "y": 80,
        "wires": [
            [
                "02eda2ef93f3bf97"
            ]
        ]
    },
    {
        "id": "30e7ab76a96921a9",
        "type": "ui_toast",
        "z": "4e9eeca57a653287",
        "position": "top left",
        "displayTime": "5",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": true,
        "topic": "#",
        "name": "mqtt",
        "x": 570,
        "y": 140,
        "wires": []
    },
    {
        "id": "3ea86854cadcd14a",
        "type": "mqtt in JSON",
        "z": "4e9eeca57a653287",
        "name": "MPO init",
        "topic": "MPO/mqtt",
        "qos": "0",
        "broker": "c58f8d4b7c13412d",
        "ignoreempty": true,
        "removemqttconfig": false,
        "x": 860,
        "y": 80,
        "wires": [
            [
                "4c5e224836b78723"
            ]
        ]
    },
    {
        "id": "4c5e224836b78723",
        "type": "ui_text",
        "z": "4e9eeca57a653287",
        "group": "aa9feae58ac4eadd",
        "order": 1,
        "width": 10,
        "height": 1,
        "name": "MPO_init",
        "label": "MPO is init",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1160,
        "y": 80,
        "wires": []
    },
    {
        "id": "ac6626680c328fd6",
        "type": "ui_text_input",
        "z": "4e9eeca57a653287",
        "name": "inP1",
        "label": "P1=",
        "tooltip": "",
        "group": "ccf5f67a2e5a062e",
        "order": 2,
        "width": 2,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 990,
        "y": 320,
        "wires": [
            [
                "f223209feacb7f86"
            ]
        ]
    },
    {
        "id": "fe40d63bde94cf05",
        "type": "ui_text_input",
        "z": "4e9eeca57a653287",
        "name": "inP2",
        "label": "P2=",
        "tooltip": "",
        "group": "ccf5f67a2e5a062e",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 990,
        "y": 360,
        "wires": [
            [
                "f223209feacb7f86"
            ]
        ]
    },
    {
        "id": "f074621419c85ece",
        "type": "ui_text_input",
        "z": "4e9eeca57a653287",
        "name": "inP3",
        "label": "P3=",
        "tooltip": "",
        "group": "ccf5f67a2e5a062e",
        "order": 3,
        "width": 2,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 990,
        "y": 400,
        "wires": [
            [
                "f223209feacb7f86"
            ]
        ]
    },
    {
        "id": "aeec0403d47b3c6f",
        "type": "ui_slider",
        "z": "4e9eeca57a653287",
        "name": "inP4",
        "label": "P4=",
        "tooltip": "",
        "group": "ccf5f67a2e5a062e",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "-512",
        "max": "512",
        "step": 1,
        "className": "",
        "x": 990,
        "y": 460,
        "wires": [
            [
                "f223209feacb7f86"
            ]
        ]
    },
    {
        "id": "f223209feacb7f86",
        "type": "function",
        "z": "4e9eeca57a653287",
        "name": "",
        "func": "\nreturn msg;",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 500,
        "wires": [
            [
                "740974992d34062f"
            ],
            [
                "0677eab1b559fc4c"
            ],
            []
        ]
    },
    {
        "id": "740974992d34062f",
        "type": "function",
        "z": "4e9eeca57a653287",
        "name": "",
        "func": "\nreturn msg;",
        "outputs": 4,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 360,
        "wires": [
            [
                "ac6626680c328fd6"
            ],
            [
                "fe40d63bde94cf05"
            ],
            [
                "f074621419c85ece"
            ],
            [
                "aeec0403d47b3c6f"
            ]
        ]
    },
    {
        "id": "0677eab1b559fc4c",
        "type": "mqtt out",
        "z": "4e9eeca57a653287",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c58f8d4b7c13412d",
        "x": 1090,
        "y": 520,
        "wires": []
    },
    {
        "id": "cd5a583e.c8ec88",
        "type": "gate",
        "z": "4e9eeca57a653287",
        "name": "Pause Or Resume",
        "controlTopic": "control",
        "defaultState": "open",
        "openCmd": "Resume",
        "closeCmd": "Pause",
        "toggleCmd": "",
        "defaultCmd": "",
        "persist": false,
        "x": 560,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "469f5e0bc84e936b",
        "type": "mqtt in JSON",
        "z": "4e9eeca57a653287",
        "name": "HBW init",
        "topic": "HBW/mqtt",
        "qos": "0",
        "broker": "c58f8d4b7c13412d",
        "ignoreempty": true,
        "removemqttconfig": false,
        "x": 860,
        "y": 160,
        "wires": [
            [
                "217b57421cf89a96"
            ]
        ]
    },
    {
        "id": "217b57421cf89a96",
        "type": "ui_text",
        "z": "4e9eeca57a653287",
        "group": "aa9feae58ac4eadd",
        "order": 3,
        "width": 10,
        "height": 1,
        "name": "HBW_init",
        "label": "HBW is init",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1160,
        "y": 160,
        "wires": []
    },
    {
        "id": "4b04c229693647e5",
        "type": "mqtt in JSON",
        "z": "4e9eeca57a653287",
        "name": "SLD init",
        "topic": "SLD/mqtt",
        "qos": "0",
        "broker": "c58f8d4b7c13412d",
        "ignoreempty": true,
        "removemqttconfig": false,
        "x": 850,
        "y": 220,
        "wires": [
            [
                "5cdff2b11bd1fe3e"
            ]
        ]
    },
    {
        "id": "5cdff2b11bd1fe3e",
        "type": "ui_text",
        "z": "4e9eeca57a653287",
        "group": "aa9feae58ac4eadd",
        "order": 2,
        "width": 10,
        "height": 1,
        "name": "SLD_init",
        "label": "SLD is init",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1160,
        "y": 220,
        "wires": []
    },
    {
        "id": "c3f47623ab17ee2b",
        "type": "function",
        "z": "4e9eeca57a653287",
        "name": "Name of database + timestamp",
        "func": "//msg.filename = \"/home/pi/.node-red/public/databases/machines/timepi_temp.db\";\n//C:\\Users\\Carel\\.node-red\n//I:/Hobby/FT-NodeRed/tmp\nmsg.filename = \"I:/Hobby/FT-NodeRed/tmp/test_pi_temp.db\";\nvar time = Date.now();\nvar x = msg.payload;\nmsg.payload = time + ' - ' + x;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 520,
        "wires": [
            [
                "ce7d4f42f270dbd7"
            ]
        ]
    },
    {
        "id": "ce7d4f42f270dbd7",
        "type": "file",
        "z": "4e9eeca57a653287",
        "name": "",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 510,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "94c0c86a14e650a2",
        "type": "inject",
        "z": "4e9eeca57a653287",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "clock",
        "payloadType": "str",
        "x": 80,
        "y": 520,
        "wires": [
            [
                "c3f47623ab17ee2b"
            ]
        ]
    },
    {
        "id": "98da6308da71ae6e",
        "type": "function",
        "z": "4e9eeca57a653287",
        "name": "Name of database + timestamp",
        "func": "msg.filename = \"../databases/machines/timepi_temp.db\";\nvar time = Date.now();\nvar x = msg.payload;\nmsg.payload = time + ' - ' + x;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 570,
        "wires": [
            [
                "88e2783a940e52de"
            ]
        ]
    },
    {
        "id": "88e2783a940e52de",
        "type": "file",
        "z": "4e9eeca57a653287",
        "name": "",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "x": 510,
        "y": 570,
        "wires": [
            []
        ]
    },
    {
        "id": "5a592b24a0ae6927",
        "type": "inject",
        "z": "4e9eeca57a653287",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "clock",
        "payloadType": "str",
        "x": 80,
        "y": 570,
        "wires": [
            [
                "98da6308da71ae6e"
            ]
        ]
    },
    {
        "id": "ea5b1d3fd2440b96",
        "type": "ui_form",
        "z": "4c7e81e43391897e",
        "name": "set_actuator_data",
        "label": "Send actuator data",
        "group": "a9c07e1f45a7f1ee",
        "order": 16,
        "width": 10,
        "height": 1,
        "options": [
            {
                "label": "M [1..4]=",
                "value": "outMid",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "P [-512-512]=",
                "value": "outP",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "D [0..]=",
                "value": "outD",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "outMid": "",
            "outP": "",
            "outD": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "txt/c/m",
        "topicType": "str",
        "splitLayout": true,
        "className": "",
        "x": 390,
        "y": 140,
        "wires": [
            [
                "156bf0a285ed6539",
                "4b6f7179ec3b16d8"
            ]
        ],
        "inputLabels": [
            "data_in"
        ],
        "outputLabels": [
            "data_out"
        ]
    },
    {
        "id": "a1af0c2aa40e5882",
        "type": "debug",
        "z": "4c7e81e43391897e",
        "name": "send",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 670,
        "y": 320,
        "wires": []
    },
    {
        "id": "6eac0b4933e3c8ac",
        "type": "inject",
        "z": "4c7e81e43391897e",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "txt/act",
        "payload": "{\"outMid\":1,\"outD\":45,\"outP\":123}",
        "payloadType": "json",
        "x": 150,
        "y": 80,
        "wires": [
            [
                "ea5b1d3fd2440b96"
            ]
        ]
    },
    {
        "id": "fe35d86ff585ba4b",
        "type": "mqtt out",
        "z": "4c7e81e43391897e",
        "name": "Test",
        "topic": "txt/out/motor",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c58f8d4b7c13412d",
        "x": 670,
        "y": 240,
        "wires": []
    },
    {
        "id": "156bf0a285ed6539",
        "type": "function",
        "z": "4c7e81e43391897e",
        "name": "check_M",
        "func": "var payload=msg.payload;\nvar topic=msg.topic;\nvar error=false;\nvar j=payload ;//JSON.parse(payload);\nvar msg1={};\nif ( (j.outMid<1) || (j.outMid>4)){\n  j.outMid=null; error=true;  \n} \n\nif ( (j.outP<-512) || (j.outP>512)){\n  j.outP=null; error=true;  \n} \n\nif ( (j.outD<0) || (j.outD>32000)){\n  j.outD=null; error=true;  \n} \nmsg1.payload= j;\nmsg1.topic=topic;\n\n\nif (error) return [ msg1,  null];\n\nreturn [ null,msg1  ];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 240,
        "wires": [
            [
                "29acb7217437424b",
                "ea5b1d3fd2440b96"
            ],
            [
                "fe35d86ff585ba4b",
                "a1af0c2aa40e5882"
            ]
        ],
        "inputLabels": [
            "data"
        ],
        "outputLabels": [
            "err",
            "out"
        ]
    },
    {
        "id": "29acb7217437424b",
        "type": "debug",
        "z": "4c7e81e43391897e",
        "name": "error",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 670,
        "y": 180,
        "wires": []
    },
    {
        "id": "4b6f7179ec3b16d8",
        "type": "debug",
        "z": "4c7e81e43391897e",
        "name": "sttr",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 530,
        "y": 80,
        "wires": []
    },
    {
        "id": "3eee930ebefa8ae3",
        "type": "ui_text",
        "z": "f0a66f6a5cd9f8b9",
        "group": "ee4226fc6adf1c10",
        "order": 2,
        "width": 10,
        "height": 2,
        "name": "sld txt data",
        "label": "sld txt data",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 530,
        "y": 100,
        "wires": []
    },
    {
        "id": "c6d1e76f133acfe0",
        "type": "mqtt in",
        "z": "f0a66f6a5cd9f8b9",
        "name": "SLD p  message",
        "topic": "SLD/p/p",
        "qos": "0",
        "datatype": "json",
        "broker": "c58f8d4b7c13412d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 260,
        "wires": [
            [
                "e5c20a88abbd18b8",
                "8cb7838273183d5d",
                "a10934bed2a486fd"
            ]
        ],
        "outputLabels": [
            "text"
        ]
    },
    {
        "id": "e22ed57a3fac57eb",
        "type": "debug",
        "z": "f0a66f6a5cd9f8b9",
        "name": "Value",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 380,
        "wires": []
    },
    {
        "id": "e5c20a88abbd18b8",
        "type": "json2md",
        "z": "f0a66f6a5cd9f8b9",
        "name": "Parse json to markdown",
        "x": 330,
        "y": 360,
        "wires": [
            [
                "e22ed57a3fac57eb"
            ]
        ],
        "inputLabels": [
            "dara"
        ],
        "outputLabels": [
            "out"
        ]
    },
    {
        "id": "8cb7838273183d5d",
        "type": "function",
        "z": "f0a66f6a5cd9f8b9",
        "name": "SLD PmsgToText",
        "func": "var topic=msg.topic;\nvar payload=msg.payload;\n\nvar objId = payload.id;\nvar objp1 = payload.par[0];\nvar objp2 = payload.par[1];\nvar objp3 = payload.par[2];\nvar objp4 = payload.par[3];\nvar objp5 = payload.par[4];\nvar objT = payload.t;\n\n\nvar msgp1={};\nvar msgp2={};\nvar msgp3={};\nvar msgp4={};\nvar msgp5={};\nvar msgId={};\nvar msgT={};\n\nmsgId.payload=  objId ;\nmsgId.topic= \"ID=\";\n\n//msgp1.payload= JSON.stringify(  objp1 );\nmsgp1.topic= \"txt/new\";\nmsgp1.ui_control={color:\"red\", classname:\"id-warn\",layout:\"row-left\" };\n\nif(objp1==null){\nmsgp1.color = 'green';msgp1.payload = 'null';\n}else if(objp1==1){\nmsgp1.color = 'green';msgp1.payload = 'white';\n}else if (objp1==2){\nmsgp1.color  = 'white';msgp1.payload = 'red';\n}else if (objp1==3){\nmsgp1.color = 'white';msgp1.payload ='blue';\n}else if (objp1==4){\nmsgp1.color  = 'green' ;msgp1.payload ='not accepted';\n}else { msgp1.color = 'yellow' ;msgp1.payload ='error';}\n\nmsgp2.payload= JSON.stringify( objp2 );\nmsgp2.topic =   \"txt/new\";\n\nmsgp3.payload= JSON.stringify(  objp3 );\nmsgp3.topic =   \"txt/new\";\n\nmsgp4.payload=  JSON.stringify( objp4 );\nmsgp4.topic =   \"txt/new\";\n\nmsgp5.payload= JSON.stringify(  objp5 );\nmsgp5.topic =   \"txt/new\";\n\nmsgT.payload= objT;// JSON.stringify(  objT );\nmsgT.topic =   \"txt/new\";\n\nreturn [msgId, msgp1,msgp2,msgp3,msgp4,msgp5,msgT ];",
        "outputs": 7,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 220,
        "wires": [
            [
                "161368e93504bd81",
                "871ba4db4c9f6c62"
            ],
            [
                "d9aa082873a4a813",
                "62a8134f285496c6"
            ],
            [
                "2f72e14d7050fa58",
                "b05423851e6e9ef2"
            ],
            [
                "cd4b29572a44f6b6",
                "5cc6c6c51ed9baea"
            ],
            [
                "47129c14bd8469ef",
                "1bcdd7c5b8e44c59"
            ],
            [
                "390573897624e0e5",
                "b0602b45eade5e6e"
            ],
            [
                "0b29526cc288ea34",
                "43608e0b84f14d62"
            ]
        ],
        "inputLabels": [
            "Json{}"
        ],
        "outputLabels": [
            "Id",
            "P1",
            "P2",
            "P3",
            "P4",
            "P5",
            "Time"
        ]
    },
    {
        "id": "b2271eae59d1b120",
        "type": "inject",
        "z": "f0a66f6a5cd9f8b9",
        "name": "P-msg",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "SLD/p/p",
        "payload": " {         \"id\" : \"p2\",         \"par\" :         [                 1,                 1022,                 0,                 0,                 0         ],         \"t\" : \"2000-01-01T01:57:41Z\" }",
        "payloadType": "str",
        "x": 150,
        "y": 80,
        "wires": [
            [
                "6da8ef9d1098089d"
            ]
        ],
        "outputLabels": [
            "Json"
        ]
    },
    {
        "id": "d9aa082873a4a813",
        "type": "debug",
        "z": "f0a66f6a5cd9f8b9",
        "name": "P1",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 810,
        "y": 240,
        "wires": []
    },
    {
        "id": "2f72e14d7050fa58",
        "type": "debug",
        "z": "f0a66f6a5cd9f8b9",
        "name": "P2",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 810,
        "y": 340,
        "wires": []
    },
    {
        "id": "390573897624e0e5",
        "type": "debug",
        "z": "f0a66f6a5cd9f8b9",
        "name": "P5",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 810,
        "y": 640,
        "wires": []
    },
    {
        "id": "5cc6c6c51ed9baea",
        "type": "debug",
        "z": "f0a66f6a5cd9f8b9",
        "name": "P3",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 810,
        "y": 440,
        "wires": []
    },
    {
        "id": "47129c14bd8469ef",
        "type": "debug",
        "z": "f0a66f6a5cd9f8b9",
        "name": "P4",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 810,
        "y": 540,
        "wires": []
    },
    {
        "id": "6da8ef9d1098089d",
        "type": "json",
        "z": "f0a66f6a5cd9f8b9",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 330,
        "y": 200,
        "wires": [
            [
                "8cb7838273183d5d",
                "3eee930ebefa8ae3"
            ]
        ]
    },
    {
        "id": "cd4b29572a44f6b6",
        "type": "ui_text",
        "z": "f0a66f6a5cd9f8b9",
        "group": "30840b3c631a61fb",
        "order": 5,
        "width": 2,
        "height": 1,
        "name": "sld_p1_3",
        "label": "P3=",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "className": "",
        "x": 820,
        "y": 400,
        "wires": []
    },
    {
        "id": "161368e93504bd81",
        "type": "debug",
        "z": "f0a66f6a5cd9f8b9",
        "name": "Id",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 810,
        "y": 140,
        "wires": []
    },
    {
        "id": "871ba4db4c9f6c62",
        "type": "ui_text",
        "z": "f0a66f6a5cd9f8b9",
        "group": "30840b3c631a61fb",
        "order": 1,
        "width": 4,
        "height": 1,
        "name": "sld_p1_Id",
        "label": "SLD ID=",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 820,
        "y": 100,
        "wires": []
    },
    {
        "id": "0b29526cc288ea34",
        "type": "debug",
        "z": "f0a66f6a5cd9f8b9",
        "name": "Time",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 820,
        "y": 740,
        "wires": []
    },
    {
        "id": "1ed2323da7d440ed",
        "type": "inject",
        "z": "f0a66f6a5cd9f8b9",
        "name": "P-msg",
        "props": [
            {
                "p": "topic",
                "v": "{\"topic\":\"txt/test\"}",
                "vt": "json"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[{\"a\":\"11\",\"b\":\"22\",\"c\":\"33\",\"d\":\"44\"},{\"a\":\"55\",\"b\":\"66\",\"c\":\"77\",\"d\":\"88\"}]",
        "payloadType": "json",
        "x": 110,
        "y": 360,
        "wires": [
            [
                "e5c20a88abbd18b8"
            ]
        ],
        "outputLabels": [
            "Json"
        ]
    },
    {
        "id": "b0602b45eade5e6e",
        "type": "ui_text",
        "z": "f0a66f6a5cd9f8b9",
        "group": "30840b3c631a61fb",
        "order": 7,
        "width": 2,
        "height": 1,
        "name": "sld_p1_5",
        "label": "P5=",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "className": "",
        "x": 820,
        "y": 600,
        "wires": []
    },
    {
        "id": "1bcdd7c5b8e44c59",
        "type": "ui_text",
        "z": "f0a66f6a5cd9f8b9",
        "group": "30840b3c631a61fb",
        "order": 6,
        "width": 2,
        "height": 1,
        "name": "sld_p1_4",
        "label": "P4=",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "className": "",
        "x": 820,
        "y": 500,
        "wires": []
    },
    {
        "id": "b05423851e6e9ef2",
        "type": "ui_text",
        "z": "f0a66f6a5cd9f8b9",
        "group": "30840b3c631a61fb",
        "order": 4,
        "width": 2,
        "height": 1,
        "name": "sld_p1_2",
        "label": "P2=",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "className": "",
        "x": 820,
        "y": 300,
        "wires": []
    },
    {
        "id": "62a8134f285496c6",
        "type": "ui_text",
        "z": "f0a66f6a5cd9f8b9",
        "group": "30840b3c631a61fb",
        "order": 3,
        "width": 2,
        "height": 1,
        "name": "sld_p1_1",
        "label": "P1=",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "className": "",
        "x": 820,
        "y": 200,
        "wires": []
    },
    {
        "id": "43608e0b84f14d62",
        "type": "ui_text",
        "z": "f0a66f6a5cd9f8b9",
        "group": "30840b3c631a61fb",
        "order": 2,
        "width": 6,
        "height": 1,
        "name": "sld_p1_T",
        "label": "T=",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 820,
        "y": 700,
        "wires": []
    },
    {
        "id": "aac3bfe0c4ca492c",
        "type": "link in",
        "z": "f0a66f6a5cd9f8b9",
        "name": "Init_SLD_p",
        "links": [
            "4237b5bfd7ce309b"
        ],
        "x": 25,
        "y": 180,
        "wires": [
            [
                "b40faac52f6261df"
            ]
        ]
    },
    {
        "id": "b40faac52f6261df",
        "type": "change",
        "z": "f0a66f6a5cd9f8b9",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": " {         \"id\" : \"\",         \"par\" :         [                  null,                 null,       null,                 null,                 null         ],         \"t\" : \"2000-01-01T00:00:00Z\" }",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "SLD/p/p",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 160,
        "y": 180,
        "wires": [
            [
                "6da8ef9d1098089d"
            ]
        ]
    },
    {
        "id": "93b2f2f7825ab82c",
        "type": "function",
        "z": "f0a66f6a5cd9f8b9",
        "name": "Name of database + timestamp",
        "func": "//msg.filename = \"/home/pi/.node-red/public/databases/machines/timepi_temp.db\";\n//C:\\Users\\Carel\\.node-red\n//I:/Hobby/FT-NodeRed/tmp\n//H:/Log/NodeRed/factory(Pmesg).log\n//\"I:/Hobby/FT-NodeRed/tmp/test_pi_temp.db\"\nmsg.filename = \"H:/Log/NodeRed/factory(SLD).log\";\nvar x = msg.topic;\nvar y = msg.payload;\nmsg.payload = x +'::' + y;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 480,
        "wires": [
            [
                "341f70bade1da496"
            ]
        ]
    },
    {
        "id": "341f70bade1da496",
        "type": "file",
        "z": "f0a66f6a5cd9f8b9",
        "name": "Wirite_P-messages",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 530,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "2482785ead61c5c6",
        "type": "inject",
        "z": "f0a66f6a5cd9f8b9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test/Pmsg",
        "payload": "{\"test\":\"p_messages\"}",
        "payloadType": "json",
        "x": 170,
        "y": 680,
        "wires": [
            [
                "a10934bed2a486fd"
            ]
        ]
    },
    {
        "id": "a10934bed2a486fd",
        "type": "json",
        "z": "f0a66f6a5cd9f8b9",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 150,
        "y": 500,
        "wires": [
            [
                "93b2f2f7825ab82c"
            ]
        ]
    },
    {
        "id": "f3369630dd1bd52f",
        "type": "mqtt in",
        "z": "3a2b4845297472e9",
        "name": "HBW p  message",
        "topic": "HBW/p/p",
        "qos": "0",
        "datatype": "json",
        "broker": "c58f8d4b7c13412d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 520,
        "wires": [
            [
                "85cdce41b1172c54",
                "d4d7c5055048de94"
            ]
        ],
        "outputLabels": [
            "text"
        ]
    },
    {
        "id": "c69c481092575e32",
        "type": "ui_text",
        "z": "3a2b4845297472e9",
        "group": "ee4226fc6adf1c10",
        "order": 3,
        "width": 10,
        "height": 2,
        "name": "hbw txt data",
        "label": "HBW txt data",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 650,
        "y": 340,
        "wires": []
    },
    {
        "id": "408f320252684c7c",
        "type": "function",
        "z": "3a2b4845297472e9",
        "g": "696ba882ad73f607",
        "name": "HBW PmsgToText",
        "func": "var topic=msg.topic;\nvar payload=msg.payload;\n\nvar objId = payload.id;\nvar objp1 = payload.par[0];\nvar objp2 = payload.par[1];\nvar objp3 = payload.par[2];\nvar objp4 = payload.par[3];\nvar objp5 = payload.par[4];\nvar objT = payload.t;\n\n\nvar msgp1={};\nvar msgp2={};\nvar msgp3={};\nvar msgp4={};\nvar msgp5={};\nvar msgId={};\nvar msgT={};\n\nmsgId.payload=  objId ;\nmsgId.topic= \"ID=\";\n\nmsgp1.payload= JSON.stringify(  objp1 );\nmsgp1.topic= \"txt/new\";\n\nmsgp2.payload= JSON.stringify( objp2 );\nmsgp2.topic =   \"txt/new\";\n\nmsgp3.payload= JSON.stringify(  objp3 );\nmsgp3.topic =   \"txt/new\";\n\nmsgp4.payload=  JSON.stringify( objp4 );\nmsgp4.topic =   \"txt/new\";\n\nmsgp5.payload= JSON.stringify(  objp5 );\nmsgp5.topic =   \"txt/new\";\n\nmsgT.payload= objT;// JSON.stringify(  objT );\nmsgT.topic =   \"txt/new\";\n\nreturn [msgId, msgp1,msgp2,msgp3,msgp4,msgp5,msgT ];",
        "outputs": 7,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 300,
        "wires": [
            [
                "9f0d8ebdbef7de27",
                "d066786ea5eccce9"
            ],
            [
                "bd5fafde87266690",
                "45cb5e9048f6123c"
            ],
            [
                "5736c7c55a6c46fd",
                "baab096306d243a6"
            ],
            [
                "1d81a83df5399172",
                "31086893f2335365"
            ],
            [
                "408390a93365040b",
                "f161de1817e30532"
            ],
            [
                "2707baf7a2dc22c4",
                "e518ac3e70cf86bd"
            ],
            [
                "4b49c1bb7ee2a9a4",
                "2d8f2879f79c3e93"
            ]
        ],
        "inputLabels": [
            "Json{}"
        ],
        "outputLabels": [
            "Id",
            "P1",
            "P2",
            "P3",
            "P4",
            "P5",
            "Time"
        ]
    },
    {
        "id": "11b308cc8927083f",
        "type": "inject",
        "z": "3a2b4845297472e9",
        "name": "P1-msg",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "HBW/p/p",
        "payload": " {         \"id\" : \"p1\",         \"par\" :         [                 12,                134,                -13,                 0,                 0         ],         \"t\" : \"2022-01-01T01:57:41Z\" }",
        "payloadType": "str",
        "x": 310,
        "y": 240,
        "wires": [
            [
                "ba6d5e091f648c02"
            ]
        ],
        "outputLabels": [
            "Json"
        ]
    },
    {
        "id": "bd5fafde87266690",
        "type": "debug",
        "z": "3a2b4845297472e9",
        "g": "696ba882ad73f607",
        "name": "P1",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1130,
        "y": 200,
        "wires": []
    },
    {
        "id": "5736c7c55a6c46fd",
        "type": "debug",
        "z": "3a2b4845297472e9",
        "g": "696ba882ad73f607",
        "name": "P2",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1130,
        "y": 300,
        "wires": []
    },
    {
        "id": "2707baf7a2dc22c4",
        "type": "debug",
        "z": "3a2b4845297472e9",
        "g": "696ba882ad73f607",
        "name": "P5",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1130,
        "y": 600,
        "wires": []
    },
    {
        "id": "31086893f2335365",
        "type": "debug",
        "z": "3a2b4845297472e9",
        "g": "696ba882ad73f607",
        "name": "P3",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1130,
        "y": 400,
        "wires": []
    },
    {
        "id": "408390a93365040b",
        "type": "debug",
        "z": "3a2b4845297472e9",
        "g": "696ba882ad73f607",
        "name": "P4",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1130,
        "y": 500,
        "wires": []
    },
    {
        "id": "ba6d5e091f648c02",
        "type": "json",
        "z": "3a2b4845297472e9",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 470,
        "y": 360,
        "wires": [
            [
                "c69c481092575e32",
                "85cdce41b1172c54"
            ]
        ]
    },
    {
        "id": "1d81a83df5399172",
        "type": "ui_text",
        "z": "3a2b4845297472e9",
        "g": "696ba882ad73f607",
        "group": "4ee3b11b1bd1ef05",
        "order": 5,
        "width": 2,
        "height": 1,
        "name": "hbw_p_3",
        "label": "P3=",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "className": "",
        "x": 1160,
        "y": 360,
        "wires": []
    },
    {
        "id": "9f0d8ebdbef7de27",
        "type": "debug",
        "z": "3a2b4845297472e9",
        "g": "696ba882ad73f607",
        "name": "Id",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1130,
        "y": 100,
        "wires": []
    },
    {
        "id": "d066786ea5eccce9",
        "type": "ui_text",
        "z": "3a2b4845297472e9",
        "g": "696ba882ad73f607",
        "group": "4ee3b11b1bd1ef05",
        "order": 1,
        "width": 4,
        "height": 1,
        "name": "hbw_p_Id",
        "label": "HBW ID=",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1160,
        "y": 60,
        "wires": []
    },
    {
        "id": "4b49c1bb7ee2a9a4",
        "type": "debug",
        "z": "3a2b4845297472e9",
        "g": "696ba882ad73f607",
        "name": "Time",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1160,
        "y": 700,
        "wires": []
    },
    {
        "id": "e518ac3e70cf86bd",
        "type": "ui_text",
        "z": "3a2b4845297472e9",
        "g": "696ba882ad73f607",
        "group": "4ee3b11b1bd1ef05",
        "order": 7,
        "width": 2,
        "height": 1,
        "name": "hbw_p_5",
        "label": "P5=",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "className": "",
        "x": 1160,
        "y": 560,
        "wires": []
    },
    {
        "id": "f161de1817e30532",
        "type": "ui_text",
        "z": "3a2b4845297472e9",
        "g": "696ba882ad73f607",
        "group": "4ee3b11b1bd1ef05",
        "order": 6,
        "width": 2,
        "height": 1,
        "name": "hbw_p_4",
        "label": "P4=",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "className": "",
        "x": 1160,
        "y": 460,
        "wires": []
    },
    {
        "id": "baab096306d243a6",
        "type": "ui_text",
        "z": "3a2b4845297472e9",
        "g": "696ba882ad73f607",
        "group": "4ee3b11b1bd1ef05",
        "order": 4,
        "width": 2,
        "height": 1,
        "name": "hbw_p_2",
        "label": "P2=",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "className": "",
        "x": 1160,
        "y": 260,
        "wires": []
    },
    {
        "id": "45cb5e9048f6123c",
        "type": "ui_text",
        "z": "3a2b4845297472e9",
        "g": "696ba882ad73f607",
        "group": "4ee3b11b1bd1ef05",
        "order": 3,
        "width": 2,
        "height": 1,
        "name": "hbw_p_1",
        "label": "P1=",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "className": "",
        "x": 1160,
        "y": 160,
        "wires": []
    },
    {
        "id": "2d8f2879f79c3e93",
        "type": "ui_text",
        "z": "3a2b4845297472e9",
        "g": "696ba882ad73f607",
        "group": "4ee3b11b1bd1ef05",
        "order": 2,
        "width": 6,
        "height": 1,
        "name": "hbw_p_T",
        "label": "T=",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1160,
        "y": 660,
        "wires": []
    },
    {
        "id": "85cdce41b1172c54",
        "type": "function",
        "z": "3a2b4845297472e9",
        "name": "",
        "func": "var topic=msg.topic;\nvar payload=msg.payload;\n\nvar objId = payload.id;\nvar objp1 = payload.par[0];\nvar objp2 = payload.par[1];\nvar objp3 = payload.par[2];\nvar objp4 = payload.par[3];\nvar objp5 = payload.par[4];\nvar objT = payload.t;\n\n\nvar msgId1={};\nvar msgId2={};\nvar msgId3={};\nvar msgId4={};\nvar msgId5={};\n\n\n// msgId.payload=  objId ;\n//msgId.topic= \"ID=\";\nif(objId=='p1')\n{   \n    msgId1=msg;\n        return [msg,msgId1, null,null,null,null ];\n} else if(objId=='p2')\n{     \n    msgId2=msg;\n    return [msg,null,msgId2, null,null,null ]; \n}else if (objId=='p3')\n{\n    msgId3=msg;\n       return [msg, null,null,msgId3,null,null ];\n}else if (objId=='p4')\n{\n    msgId4=msg;\n       return [msg,null, null,null,msgId4,null ];\n}else if (objId=='p5')\n{       \n    msgId5=msg;\n    return [msg,null, null,null,null,msgId5 ];\n} else\n{\n    return [msg,null, null,null,null,null ];\n}\n\n\n\n",
        "outputs": 6,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 680,
        "wires": [
            [
                "408f320252684c7c",
                "fddfce4536d97210"
            ],
            [
                "432e5a7551b6b177",
                "7fbe6a5372ee8eba"
            ],
            [
                "1d5132f75f8df498",
                "3bd2f54e2e6b9d66"
            ],
            [
                "e95a23dd1b5ee638",
                "138aa4e7810c95f6"
            ],
            [
                "c1df40f668b9c39f",
                "089d64e9ef93d94b"
            ],
            [
                "87748bc96693d12e",
                "89da0f58e3e51930"
            ]
        ]
    },
    {
        "id": "fddfce4536d97210",
        "type": "debug",
        "z": "3a2b4845297472e9",
        "name": "Select01",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 540,
        "y": 500,
        "wires": []
    },
    {
        "id": "432e5a7551b6b177",
        "type": "debug",
        "z": "3a2b4845297472e9",
        "name": "Select01",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 520,
        "y": 560,
        "wires": []
    },
    {
        "id": "1d5132f75f8df498",
        "type": "debug",
        "z": "3a2b4845297472e9",
        "name": "Select02",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 520,
        "y": 600,
        "wires": []
    },
    {
        "id": "e95a23dd1b5ee638",
        "type": "debug",
        "z": "3a2b4845297472e9",
        "name": "Select03",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 540,
        "y": 660,
        "wires": []
    },
    {
        "id": "e32d7df299d1da34",
        "type": "inject",
        "z": "3a2b4845297472e9",
        "name": "P4-msg",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "HBW/p/p",
        "payload": " {         \"id\" : \"p4\",         \"par\" :         [                 0,                 0,                -13,                 4,                 4         ],         \"t\" : \"2022-01-01T01:57:41Z\" }",
        "payloadType": "str",
        "x": 310,
        "y": 360,
        "wires": [
            [
                "ba6d5e091f648c02"
            ]
        ],
        "outputLabels": [
            "Json"
        ]
    },
    {
        "id": "cdf474ce79434610",
        "type": "inject",
        "z": "3a2b4845297472e9",
        "name": "P3-msg",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "HBW/p/p",
        "payload": " {         \"id\" : \"p3\",         \"par\" :         [                 0,                 0,                -13,                 4,                 4         ],         \"t\" : \"2022-01-01T01:57:41Z\" }",
        "payloadType": "str",
        "x": 310,
        "y": 320,
        "wires": [
            [
                "ba6d5e091f648c02"
            ]
        ],
        "outputLabels": [
            "Json"
        ]
    },
    {
        "id": "af541c372a4e3ccb",
        "type": "inject",
        "z": "3a2b4845297472e9",
        "name": "P2-msg",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "HBW/p/p",
        "payload": " {         \"id\" : \"p1\",         \"par\" :         [               1300,                 120,                -13,                 3,                 1         ],         \"t\" : \"2022-01-01T01:57:41Z\" }",
        "payloadType": "str",
        "x": 310,
        "y": 280,
        "wires": [
            [
                "ba6d5e091f648c02"
            ]
        ],
        "outputLabels": [
            "Json"
        ]
    },
    {
        "id": "c1df40f668b9c39f",
        "type": "debug",
        "z": "3a2b4845297472e9",
        "name": "Select04",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 540,
        "y": 740,
        "wires": []
    },
    {
        "id": "87748bc96693d12e",
        "type": "debug",
        "z": "3a2b4845297472e9",
        "name": "Select05",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 520,
        "y": 800,
        "wires": []
    },
    {
        "id": "ff407911055891e4",
        "type": "inject",
        "z": "3a2b4845297472e9",
        "name": "P4-msg",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "HBW/p/p",
        "payload": " {         \"id\" : \"p5\",         \"par\" :         [                 0,                 0,                -13,                 4,                 4         ],         \"t\" : \"2022-01-01T01:57:41Z\" }",
        "payloadType": "str",
        "x": 310,
        "y": 400,
        "wires": [
            [
                "ba6d5e091f648c02"
            ]
        ],
        "outputLabels": [
            "Json"
        ]
    },
    {
        "id": "e2a18fef4b0d144b",
        "type": "function",
        "z": "3a2b4845297472e9",
        "g": "495618beae6fa806",
        "name": "HBW Pid1ToText",
        "func": "var topic=msg.topic;\nvar payload=msg.payload;\n\nvar objId = payload.id;\nvar objp1 = payload.par[0];\nvar objp2 = payload.par[1];\nvar objp3 = payload.par[2];\nvar objp4 = payload.par[3];\nvar objp5 = payload.par[4];\nvar objT = payload.t;\n\n\nvar msgp1={};\nvar msgp2={};\nvar msgp3={};\nvar msgp4={};\nvar msgp5={};\nvar msgId={};\nvar msgT={};\n\nmsgId.payload=  objId ;\nmsgId.topic= \"ID=\";\n\nmsgp1.payload= JSON.stringify(  objp1 );\nmsgp1.topic= \"txt/new\";\n\nmsgp2.payload= JSON.stringify( objp2 );\nmsgp2.topic =   \"txt/new\";\n\nmsgp3.payload= JSON.stringify(  objp3 );\nmsgp3.topic =   \"txt/new\";\n\nmsgp4.payload=  JSON.stringify( objp4 );\nmsgp4.topic =   \"txt/new\";\n\nmsgp5.payload= JSON.stringify(  objp5 );\nmsgp5.topic =   \"txt/new\";\n\nmsgT.payload= objT;// JSON.stringify(  objT );\nmsgT.topic =   \"txt/new\";\n\nreturn [msgId, msgp1,msgp2,msgp3,msgp4,msgp5,msgT ];",
        "outputs": 7,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2250,
        "y": 220,
        "wires": [
            [
                "eaec15fe299390cc",
                "cc12138e84a3e1ff"
            ],
            [
                "2b2e6c0e93953119",
                "e5c7d1631feca758"
            ],
            [
                "89ed00b6d584ea5a",
                "4e9b86517b8333eb"
            ],
            [
                "0ccd4e2d1bfee376",
                "6cee2f7ad646cb5e"
            ],
            [
                "3ab3088afa01c214",
                "81f065c4a6413696"
            ],
            [
                "11431c929562c65f",
                "d4f37321241b8ab8"
            ],
            [
                "42bb2cfe9a3ce76a",
                "3432e6112aa7852e"
            ]
        ],
        "inputLabels": [
            "Json{}"
        ],
        "outputLabels": [
            "Id",
            "P1",
            "P2",
            "P3",
            "P4",
            "P5",
            "Time"
        ]
    },
    {
        "id": "2b2e6c0e93953119",
        "type": "debug",
        "z": "3a2b4845297472e9",
        "g": "495618beae6fa806",
        "name": "P1",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 2450,
        "y": 200,
        "wires": []
    },
    {
        "id": "89ed00b6d584ea5a",
        "type": "debug",
        "z": "3a2b4845297472e9",
        "g": "495618beae6fa806",
        "name": "P2",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 2450,
        "y": 300,
        "wires": []
    },
    {
        "id": "11431c929562c65f",
        "type": "debug",
        "z": "3a2b4845297472e9",
        "g": "495618beae6fa806",
        "name": "P5",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 2450,
        "y": 600,
        "wires": []
    },
    {
        "id": "6cee2f7ad646cb5e",
        "type": "debug",
        "z": "3a2b4845297472e9",
        "g": "495618beae6fa806",
        "name": "P3",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 2450,
        "y": 400,
        "wires": []
    },
    {
        "id": "3ab3088afa01c214",
        "type": "debug",
        "z": "3a2b4845297472e9",
        "g": "495618beae6fa806",
        "name": "P4",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 2450,
        "y": 500,
        "wires": []
    },
    {
        "id": "0ccd4e2d1bfee376",
        "type": "ui_text",
        "z": "3a2b4845297472e9",
        "g": "495618beae6fa806",
        "group": "4ee3b11b1bd1ef05",
        "order": 12,
        "width": 2,
        "height": 1,
        "name": "hbw_p1_3",
        "label": "P3_z=",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "className": "",
        "x": 2490,
        "y": 360,
        "wires": []
    },
    {
        "id": "eaec15fe299390cc",
        "type": "debug",
        "z": "3a2b4845297472e9",
        "g": "495618beae6fa806",
        "name": "Id",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 2450,
        "y": 100,
        "wires": []
    },
    {
        "id": "cc12138e84a3e1ff",
        "type": "ui_text",
        "z": "3a2b4845297472e9",
        "g": "495618beae6fa806",
        "group": "4ee3b11b1bd1ef05",
        "order": 8,
        "width": 4,
        "height": 1,
        "name": "hbw_p1_Id",
        "label": "HBW Id src=",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 2490,
        "y": 60,
        "wires": []
    },
    {
        "id": "42bb2cfe9a3ce76a",
        "type": "debug",
        "z": "3a2b4845297472e9",
        "g": "495618beae6fa806",
        "name": "Time",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 2480,
        "y": 700,
        "wires": []
    },
    {
        "id": "d4f37321241b8ab8",
        "type": "ui_text",
        "z": "3a2b4845297472e9",
        "g": "495618beae6fa806",
        "group": "4ee3b11b1bd1ef05",
        "order": 14,
        "width": 2,
        "height": 1,
        "name": "hbw_p1_5",
        "label": "P5_src=",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 2490,
        "y": 560,
        "wires": []
    },
    {
        "id": "81f065c4a6413696",
        "type": "ui_text",
        "z": "3a2b4845297472e9",
        "g": "495618beae6fa806",
        "group": "4ee3b11b1bd1ef05",
        "order": 13,
        "width": 2,
        "height": 1,
        "name": "hbw_p1_4",
        "label": "P4_src_row=",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 2490,
        "y": 460,
        "wires": []
    },
    {
        "id": "4e9b86517b8333eb",
        "type": "ui_text",
        "z": "3a2b4845297472e9",
        "g": "495618beae6fa806",
        "group": "4ee3b11b1bd1ef05",
        "order": 11,
        "width": 2,
        "height": 1,
        "name": "hbw_p1_2",
        "label": "P2_y=",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "className": "",
        "x": 2490,
        "y": 260,
        "wires": []
    },
    {
        "id": "e5c7d1631feca758",
        "type": "ui_text",
        "z": "3a2b4845297472e9",
        "g": "495618beae6fa806",
        "group": "4ee3b11b1bd1ef05",
        "order": 10,
        "width": 2,
        "height": 1,
        "name": "hbw_p1_1",
        "label": "P1_x=",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "className": "",
        "x": 2490,
        "y": 160,
        "wires": []
    },
    {
        "id": "3432e6112aa7852e",
        "type": "ui_text",
        "z": "3a2b4845297472e9",
        "g": "495618beae6fa806",
        "group": "4ee3b11b1bd1ef05",
        "order": 9,
        "width": 6,
        "height": 1,
        "name": "hbw_p1_T",
        "label": "T_src=",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 2490,
        "y": 660,
        "wires": []
    },
    {
        "id": "3bd2f54e2e6b9d66",
        "type": "function",
        "z": "3a2b4845297472e9",
        "g": "65dad3a26d9dc37e",
        "name": "HBW Pid1ToText",
        "func": "var topic=msg.topic;\nvar payload=msg.payload;\n\nvar objId = payload.id;\nvar objp1 = payload.par[0];\nvar objp2 = payload.par[1];\nvar objp3 = payload.par[2];\nvar objp4 = payload.par[3];\nvar objp5 = payload.par[4];\nvar objT = payload.t;\n\n\nvar msgp1={};\nvar msgp2={};\nvar msgp3={};\nvar msgp4={};\nvar msgp5={};\nvar msgId={};\nvar msgT={};\n\nmsgId.payload=  objId ;\nmsgId.topic= \"ID=\";\n\nmsgp1.payload= JSON.stringify(  objp1 );\nmsgp1.topic= \"txt/new\";\n\nmsgp2.payload= JSON.stringify( objp2 );\nmsgp2.topic =   \"txt/new\";\n\nmsgp3.payload= JSON.stringify(  objp3 );\nmsgp3.topic =   \"txt/new\";\n\nmsgp4.payload=  JSON.stringify( objp4 );\nmsgp4.topic =   \"txt/new\";\n\nmsgp5.payload= JSON.stringify(  objp5 );\nmsgp5.topic =   \"txt/new\";\n\nmsgT.payload= objT;// JSON.stringify(  objT );\nmsgT.topic =   \"txt/new\";\n\nreturn [msgId, msgp1,msgp2,msgp3,msgp4,msgp5,msgT ];",
        "outputs": 7,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 1140,
        "wires": [
            [
                "69f3329d62e26908",
                "2074ca5ea4709dd6"
            ],
            [
                "f08edf3b0fb9539e",
                "be621f99f746488b"
            ],
            [
                "fecefd38a316d09c",
                "3044dc29b434c734"
            ],
            [
                "ee12dbdc15a27ddd",
                "576b90cc81664619"
            ],
            [
                "2a6499d32b9ac7d4",
                "5532cdb24d962019"
            ],
            [
                "0b7534ecbfc9844b",
                "df79d871c5537471"
            ],
            [
                "e6508daeddcddeda",
                "270c6cd9160680ff"
            ]
        ],
        "inputLabels": [
            "Json{}"
        ],
        "outputLabels": [
            "Id",
            "P1",
            "P2",
            "P3",
            "P4",
            "P5",
            "Time"
        ]
    },
    {
        "id": "f08edf3b0fb9539e",
        "type": "debug",
        "z": "3a2b4845297472e9",
        "g": "65dad3a26d9dc37e",
        "name": "P1",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 790,
        "y": 1120,
        "wires": []
    },
    {
        "id": "fecefd38a316d09c",
        "type": "debug",
        "z": "3a2b4845297472e9",
        "g": "65dad3a26d9dc37e",
        "name": "P2",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 790,
        "y": 1220,
        "wires": []
    },
    {
        "id": "0b7534ecbfc9844b",
        "type": "debug",
        "z": "3a2b4845297472e9",
        "g": "65dad3a26d9dc37e",
        "name": "P5",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 790,
        "y": 1520,
        "wires": []
    },
    {
        "id": "576b90cc81664619",
        "type": "debug",
        "z": "3a2b4845297472e9",
        "g": "65dad3a26d9dc37e",
        "name": "P3",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 790,
        "y": 1320,
        "wires": []
    },
    {
        "id": "2a6499d32b9ac7d4",
        "type": "debug",
        "z": "3a2b4845297472e9",
        "g": "65dad3a26d9dc37e",
        "name": "P4",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 790,
        "y": 1420,
        "wires": []
    },
    {
        "id": "ee12dbdc15a27ddd",
        "type": "ui_text",
        "z": "3a2b4845297472e9",
        "g": "65dad3a26d9dc37e",
        "group": "9dbd335627e7379d",
        "order": 5,
        "width": 2,
        "height": 1,
        "name": "hbw_p2_3",
        "label": "P3=",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "className": "",
        "x": 830,
        "y": 1280,
        "wires": []
    },
    {
        "id": "69f3329d62e26908",
        "type": "debug",
        "z": "3a2b4845297472e9",
        "g": "65dad3a26d9dc37e",
        "name": "Id",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 790,
        "y": 1020,
        "wires": []
    },
    {
        "id": "2074ca5ea4709dd6",
        "type": "ui_text",
        "z": "3a2b4845297472e9",
        "g": "65dad3a26d9dc37e",
        "group": "9dbd335627e7379d",
        "order": 1,
        "width": 4,
        "height": 1,
        "name": "hbw_p2_Id",
        "label": "HBW Id=",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 830,
        "y": 980,
        "wires": []
    },
    {
        "id": "e6508daeddcddeda",
        "type": "debug",
        "z": "3a2b4845297472e9",
        "g": "65dad3a26d9dc37e",
        "name": "Time",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 820,
        "y": 1620,
        "wires": []
    },
    {
        "id": "df79d871c5537471",
        "type": "ui_text",
        "z": "3a2b4845297472e9",
        "g": "65dad3a26d9dc37e",
        "group": "9dbd335627e7379d",
        "order": 7,
        "width": 2,
        "height": 1,
        "name": "hbw_p2_5",
        "label": "P5=",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "className": "",
        "x": 830,
        "y": 1480,
        "wires": []
    },
    {
        "id": "5532cdb24d962019",
        "type": "ui_text",
        "z": "3a2b4845297472e9",
        "g": "65dad3a26d9dc37e",
        "group": "9dbd335627e7379d",
        "order": 6,
        "width": 2,
        "height": 1,
        "name": "hbw_p2_4",
        "label": "P4=",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "className": "",
        "x": 830,
        "y": 1380,
        "wires": []
    },
    {
        "id": "3044dc29b434c734",
        "type": "ui_text",
        "z": "3a2b4845297472e9",
        "g": "65dad3a26d9dc37e",
        "group": "9dbd335627e7379d",
        "order": 4,
        "width": 2,
        "height": 1,
        "name": "hbw_p2_2",
        "label": "P2=",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "className": "",
        "x": 830,
        "y": 1180,
        "wires": []
    },
    {
        "id": "be621f99f746488b",
        "type": "ui_text",
        "z": "3a2b4845297472e9",
        "g": "65dad3a26d9dc37e",
        "group": "9dbd335627e7379d",
        "order": 3,
        "width": 2,
        "height": 1,
        "name": "hbw_p2_1",
        "label": "P1=",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "className": "",
        "x": 830,
        "y": 1080,
        "wires": []
    },
    {
        "id": "270c6cd9160680ff",
        "type": "ui_text",
        "z": "3a2b4845297472e9",
        "g": "65dad3a26d9dc37e",
        "group": "9dbd335627e7379d",
        "order": 2,
        "width": 6,
        "height": 1,
        "name": "hbw_p2_T",
        "label": "HBW T=",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 830,
        "y": 1580,
        "wires": []
    },
    {
        "id": "138aa4e7810c95f6",
        "type": "function",
        "z": "3a2b4845297472e9",
        "g": "ef4950018385ad8e",
        "name": "HBW Pid1ToText",
        "func": "var topic=msg.topic;\nvar payload=msg.payload;\n\nvar objId = payload.id;\nvar objp1 = payload.par[0];\nvar objp2 = payload.par[1];\nvar objp3 = payload.par[2];\nvar objp4 = payload.par[3];\nvar objp5 = payload.par[4];\nvar objT = payload.t;\n\n\nvar msgp1={};\nvar msgp2={};\nvar msgp3={};\nvar msgp4={};\nvar msgp5={};\nvar msgId={};\nvar msgT={};\n\nmsgId.payload=  objId ;\nmsgId.topic= \"ID=\";\n\nmsgp1.payload= JSON.stringify(  objp1 );\nmsgp1.topic= \"txt/new\";\n\nmsgp2.payload= JSON.stringify( objp2 );\nmsgp2.topic =   \"txt/new\";\n\nmsgp3.payload= JSON.stringify(  objp3 );\nmsgp3.topic =   \"txt/new\";\n\nmsgp4.payload=  JSON.stringify( objp4 );\nmsgp4.topic =   \"txt/new\";\n\nmsgp5.payload= JSON.stringify(  objp5 );\nmsgp5.topic =   \"txt/new\";\n\nmsgT.payload= objT;// JSON.stringify(  objT );\nmsgT.topic =   \"txt/new\";\n\nreturn [msgId, msgp1,msgp2,msgp3,msgp4,msgp5,msgT ];",
        "outputs": 7,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 1480,
        "wires": [
            [
                "0f934a528720a5dc",
                "73ed4f929bd547d6"
            ],
            [
                "7a91dfac8478c219",
                "841025a258b5cfce"
            ],
            [
                "d59db736608abf13",
                "5af9183d1cc8c22e"
            ],
            [
                "2fda3f977f4f0e7b",
                "fd19f511a43e851b"
            ],
            [
                "305a93258ffbeec6",
                "f5d8cee3701f75c5"
            ],
            [
                "c8e4e52a621a4c7a",
                "04c3465044c25a6d"
            ],
            [
                "afaa4bf92e98e84b",
                "a7f8801bda2cbf36"
            ]
        ],
        "inputLabels": [
            "Json{}"
        ],
        "outputLabels": [
            "Id",
            "P1",
            "P2",
            "P3",
            "P4",
            "P5",
            "Time"
        ]
    },
    {
        "id": "7a91dfac8478c219",
        "type": "debug",
        "z": "3a2b4845297472e9",
        "g": "ef4950018385ad8e",
        "name": "P1",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 510,
        "y": 1440,
        "wires": []
    },
    {
        "id": "d59db736608abf13",
        "type": "debug",
        "z": "3a2b4845297472e9",
        "g": "ef4950018385ad8e",
        "name": "P2",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 510,
        "y": 1540,
        "wires": []
    },
    {
        "id": "c8e4e52a621a4c7a",
        "type": "debug",
        "z": "3a2b4845297472e9",
        "g": "ef4950018385ad8e",
        "name": "P5",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 510,
        "y": 1840,
        "wires": []
    },
    {
        "id": "fd19f511a43e851b",
        "type": "debug",
        "z": "3a2b4845297472e9",
        "g": "ef4950018385ad8e",
        "name": "P3",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 510,
        "y": 1640,
        "wires": []
    },
    {
        "id": "305a93258ffbeec6",
        "type": "debug",
        "z": "3a2b4845297472e9",
        "g": "ef4950018385ad8e",
        "name": "P4",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 510,
        "y": 1740,
        "wires": []
    },
    {
        "id": "2fda3f977f4f0e7b",
        "type": "ui_text",
        "z": "3a2b4845297472e9",
        "g": "ef4950018385ad8e",
        "group": "9dbd335627e7379d",
        "order": 12,
        "width": 2,
        "height": 1,
        "name": "hbw_p3_3",
        "label": "P3=",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "className": "",
        "x": 550,
        "y": 1600,
        "wires": []
    },
    {
        "id": "0f934a528720a5dc",
        "type": "debug",
        "z": "3a2b4845297472e9",
        "g": "ef4950018385ad8e",
        "name": "Id",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 510,
        "y": 1340,
        "wires": []
    },
    {
        "id": "73ed4f929bd547d6",
        "type": "ui_text",
        "z": "3a2b4845297472e9",
        "g": "ef4950018385ad8e",
        "group": "9dbd335627e7379d",
        "order": 8,
        "width": 4,
        "height": 1,
        "name": "hbw_p3_Id",
        "label": "HBW Id=",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 550,
        "y": 1300,
        "wires": []
    },
    {
        "id": "afaa4bf92e98e84b",
        "type": "debug",
        "z": "3a2b4845297472e9",
        "g": "ef4950018385ad8e",
        "name": "Time",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 540,
        "y": 1940,
        "wires": []
    },
    {
        "id": "04c3465044c25a6d",
        "type": "ui_text",
        "z": "3a2b4845297472e9",
        "g": "ef4950018385ad8e",
        "group": "9dbd335627e7379d",
        "order": 14,
        "width": 2,
        "height": 1,
        "name": "hbw_p3_5",
        "label": "P5=",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "className": "",
        "x": 550,
        "y": 1800,
        "wires": []
    },
    {
        "id": "f5d8cee3701f75c5",
        "type": "ui_text",
        "z": "3a2b4845297472e9",
        "g": "ef4950018385ad8e",
        "group": "9dbd335627e7379d",
        "order": 13,
        "width": 2,
        "height": 1,
        "name": "hbw_p3_4",
        "label": "P4=",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "className": "",
        "x": 550,
        "y": 1700,
        "wires": []
    },
    {
        "id": "5af9183d1cc8c22e",
        "type": "ui_text",
        "z": "3a2b4845297472e9",
        "g": "ef4950018385ad8e",
        "group": "9dbd335627e7379d",
        "order": 11,
        "width": 2,
        "height": 1,
        "name": "hbw_p3_2",
        "label": "P2=",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "className": "",
        "x": 550,
        "y": 1500,
        "wires": []
    },
    {
        "id": "841025a258b5cfce",
        "type": "ui_text",
        "z": "3a2b4845297472e9",
        "g": "ef4950018385ad8e",
        "group": "9dbd335627e7379d",
        "order": 10,
        "width": 2,
        "height": 1,
        "name": "hbw_p3_1",
        "label": "P1=",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "className": "",
        "x": 550,
        "y": 1400,
        "wires": []
    },
    {
        "id": "a7f8801bda2cbf36",
        "type": "ui_text",
        "z": "3a2b4845297472e9",
        "g": "ef4950018385ad8e",
        "group": "9dbd335627e7379d",
        "order": 9,
        "width": 6,
        "height": 1,
        "name": "hbw_p3_T",
        "label": "HBW T=",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 550,
        "y": 1900,
        "wires": []
    },
    {
        "id": "134a443a593a54a1",
        "type": "function",
        "z": "3a2b4845297472e9",
        "g": "e2d447b8604dc0fd",
        "name": "HBW Pid1ToText",
        "func": "var topic=msg.topic;\nvar payload=msg.payload;\n\nvar objId = payload.id;\nvar objp1 = payload.par[0];\nvar objp2 = payload.par[1];\nvar objp3 = payload.par[2];\nvar objp4 = payload.par[3];\nvar objp5 = payload.par[4];\nvar objT = payload.t;\n\n\nvar msgp1={};\nvar msgp2={};\nvar msgp3={};\nvar msgp4={};\nvar msgp5={};\nvar msgId={};\nvar msgT={};\n\nmsgId.payload=  objId ;\nmsgId.topic= \"ID=\";\n\nmsgp1.payload= JSON.stringify(  objp1 );\nmsgp1.topic= \"txt/new\";\n\nmsgp2.payload= JSON.stringify( objp2 );\nmsgp2.topic =   \"txt/new\";\n\nmsgp3.payload= JSON.stringify(  objp3 );\nmsgp3.topic =   \"txt/new\";\n\nmsgp4.payload=  JSON.stringify( objp4 );\nmsgp4.topic =   \"txt/new\";\n\nmsgp5.payload= JSON.stringify(  objp5 );\nmsgp5.topic =   \"txt/new\";\n\nmsgT.payload= objT;// JSON.stringify(  objT );\nmsgT.topic =   \"txt/new\";\n\nreturn [msgId, msgp1,msgp2,msgp3,msgp4,msgp5,msgT ];",
        "outputs": 7,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1990,
        "y": 460,
        "wires": [
            [
                "efe1de4c432862cc",
                "4685aa7140890de1"
            ],
            [
                "8dccaccc172b5623",
                "0780caf002378558"
            ],
            [
                "5aef0f3b138243a2",
                "bec8c1d9d27e92da"
            ],
            [
                "155edfe379abfd9e",
                "1c7438010a976eb5"
            ],
            [
                "9594b5a95d4d73cf",
                "b8cc5966f20fefee"
            ],
            [
                "81f4ce2ff915e706",
                "09634aa411a708f3"
            ],
            [
                "579ed3110263e38c",
                "ba5c5403c8e91abe"
            ]
        ],
        "inputLabels": [
            "Json{}"
        ],
        "outputLabels": [
            "Id",
            "P1",
            "P2",
            "P3",
            "P4",
            "P5",
            "Time"
        ]
    },
    {
        "id": "8dccaccc172b5623",
        "type": "debug",
        "z": "3a2b4845297472e9",
        "g": "e2d447b8604dc0fd",
        "name": "P1",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 2190,
        "y": 480,
        "wires": []
    },
    {
        "id": "5aef0f3b138243a2",
        "type": "debug",
        "z": "3a2b4845297472e9",
        "g": "e2d447b8604dc0fd",
        "name": "P2",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 2190,
        "y": 580,
        "wires": []
    },
    {
        "id": "81f4ce2ff915e706",
        "type": "debug",
        "z": "3a2b4845297472e9",
        "g": "e2d447b8604dc0fd",
        "name": "P5",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 2190,
        "y": 880,
        "wires": []
    },
    {
        "id": "1c7438010a976eb5",
        "type": "debug",
        "z": "3a2b4845297472e9",
        "g": "e2d447b8604dc0fd",
        "name": "P3",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 2190,
        "y": 680,
        "wires": []
    },
    {
        "id": "9594b5a95d4d73cf",
        "type": "debug",
        "z": "3a2b4845297472e9",
        "g": "e2d447b8604dc0fd",
        "name": "P4",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 2190,
        "y": 780,
        "wires": []
    },
    {
        "id": "155edfe379abfd9e",
        "type": "ui_text",
        "z": "3a2b4845297472e9",
        "g": "e2d447b8604dc0fd",
        "group": "4ee3b11b1bd1ef05",
        "order": 19,
        "width": 2,
        "height": 1,
        "name": "hbw_p1d_3",
        "label": "P3_z=",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "className": "",
        "x": 2230,
        "y": 640,
        "wires": []
    },
    {
        "id": "efe1de4c432862cc",
        "type": "debug",
        "z": "3a2b4845297472e9",
        "g": "e2d447b8604dc0fd",
        "name": "Id",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 2190,
        "y": 380,
        "wires": []
    },
    {
        "id": "4685aa7140890de1",
        "type": "ui_text",
        "z": "3a2b4845297472e9",
        "g": "e2d447b8604dc0fd",
        "group": "4ee3b11b1bd1ef05",
        "order": 15,
        "width": 4,
        "height": 1,
        "name": "hbw_p1d_Id",
        "label": "HBW Id dest=",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 2230,
        "y": 340,
        "wires": []
    },
    {
        "id": "579ed3110263e38c",
        "type": "debug",
        "z": "3a2b4845297472e9",
        "g": "e2d447b8604dc0fd",
        "name": "Time",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 2220,
        "y": 980,
        "wires": []
    },
    {
        "id": "09634aa411a708f3",
        "type": "ui_text",
        "z": "3a2b4845297472e9",
        "g": "e2d447b8604dc0fd",
        "group": "4ee3b11b1bd1ef05",
        "order": 21,
        "width": 2,
        "height": 1,
        "name": "hbw_p1d_5",
        "label": "P5_dest=",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 2230,
        "y": 840,
        "wires": []
    },
    {
        "id": "b8cc5966f20fefee",
        "type": "ui_text",
        "z": "3a2b4845297472e9",
        "g": "e2d447b8604dc0fd",
        "group": "4ee3b11b1bd1ef05",
        "order": 20,
        "width": 2,
        "height": 1,
        "name": "hbw_p1d_4",
        "label": "P4_dest_row=",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 2230,
        "y": 740,
        "wires": []
    },
    {
        "id": "bec8c1d9d27e92da",
        "type": "ui_text",
        "z": "3a2b4845297472e9",
        "g": "e2d447b8604dc0fd",
        "group": "4ee3b11b1bd1ef05",
        "order": 18,
        "width": 2,
        "height": 1,
        "name": "hbw_p1d_2",
        "label": "P2_y=",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "className": "",
        "x": 2230,
        "y": 540,
        "wires": []
    },
    {
        "id": "0780caf002378558",
        "type": "ui_text",
        "z": "3a2b4845297472e9",
        "g": "e2d447b8604dc0fd",
        "group": "4ee3b11b1bd1ef05",
        "order": 17,
        "width": 2,
        "height": 1,
        "name": "hbw_p1d_1",
        "label": "P1_x=",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "className": "",
        "x": 2230,
        "y": 440,
        "wires": []
    },
    {
        "id": "ba5c5403c8e91abe",
        "type": "ui_text",
        "z": "3a2b4845297472e9",
        "g": "e2d447b8604dc0fd",
        "group": "4ee3b11b1bd1ef05",
        "order": 16,
        "width": 6,
        "height": 1,
        "name": "hbw_p1d_T",
        "label": "T-dest=",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 2230,
        "y": 940,
        "wires": []
    },
    {
        "id": "7fbe6a5372ee8eba",
        "type": "function",
        "z": "3a2b4845297472e9",
        "name": "",
        "func": "var topic=msg.topic;\nvar payload=msg.payload;\n\nvar objId = payload.id;\nvar objp1 = payload.par[0];\nvar objp2 = payload.par[1];\nvar objp3 = payload.par[2];\nvar objp4 = payload.par[3];\nvar objp5 = payload.par[4];\nvar objT = payload.t;\n\n\n\n\n\n// msgId.payload=  objId ;\n//msgId.topic= \"ID=\";\nif(objp5==0)\n{   \n    return [msg,null,null ];\n} else if(objp5==1){ \n    return [null,msg,null ];\n} else {\n     return [null,null,msg ];\n}\n",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1360,
        "y": 360,
        "wires": [
            [
                "e2a18fef4b0d144b"
            ],
            [
                "134a443a593a54a1"
            ],
            [
                "02927ff82c5684ad"
            ]
        ]
    },
    {
        "id": "02927ff82c5684ad",
        "type": "debug",
        "z": "3a2b4845297472e9",
        "name": "P2",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1590,
        "y": 40,
        "wires": []
    },
    {
        "id": "a9f9fd3e25ab07ee",
        "type": "ui_webcam",
        "z": "3a2b4845297472e9",
        "name": "",
        "group": "ccf5f67a2e5a062e",
        "order": 7,
        "width": 6,
        "height": 5,
        "countdown": false,
        "autoStart": true,
        "hideCaptureButton": false,
        "showImage": "2",
        "mirror": true,
        "format": "png",
        "x": 580,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "089d64e9ef93d94b",
        "type": "function",
        "z": "3a2b4845297472e9",
        "g": "2d1c974598225e33",
        "name": "HBW Pid1ToText",
        "func": "var topic=msg.topic;\nvar payload=msg.payload;\n\nvar objId = payload.id;\nvar objp1 = payload.par[0];\nvar objp2 = payload.par[1];\nvar objp3 = payload.par[2];\nvar objp4 = payload.par[3];\nvar objp5 = payload.par[4];\nvar objT = payload.t;\n\n\nvar msgp1={};\nvar msgp2={};\nvar msgp3={};\nvar msgp4={};\nvar msgp5={};\nvar msgId={};\nvar msgT={};\n\nmsgId.payload=  objId ;\nmsgId.topic= \"ID=\";\n\nmsgp1.payload= JSON.stringify(  objp1 );\nmsgp1.topic= \"txt/new\";\n\nmsgp2.payload= JSON.stringify( objp2 );\nmsgp2.topic =   \"txt/new\";\n\nmsgp3.payload= JSON.stringify(  objp3 );\nmsgp3.topic =   \"txt/new\";\n\nmsgp4.payload=  JSON.stringify( objp4 );\nmsgp4.topic =   \"txt/new\";\n\nmsgp5.payload= JSON.stringify(  objp5 );\nmsgp5.topic =   \"txt/new\";\n\nmsgT.payload= objT;// JSON.stringify(  objT );\nmsgT.topic =   \"txt/new\";\n\nreturn [msgId, msgp1,msgp2,msgp3,msgp4,msgp5,msgT ];",
        "outputs": 7,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1390,
        "y": 960,
        "wires": [
            [
                "cfb5d0d46e111ee3",
                "6bf039aed6b7152c"
            ],
            [
                "8c44991e8ba1ead3",
                "a9750519354fb540"
            ],
            [
                "48f8957cf46f7faa",
                "ae838f3069f8f179"
            ],
            [
                "975662574ebcbad6",
                "9746f3178754450d"
            ],
            [
                "767bec0149e44199",
                "da13c14c412a4189"
            ],
            [
                "115ae60c089381a2",
                "925bb7d0487c1944"
            ],
            [
                "3bc60fa9b2524d25",
                "fdb3c13463152bfd"
            ]
        ],
        "inputLabels": [
            "Json{}"
        ],
        "outputLabels": [
            "Id",
            "P1",
            "P2",
            "P3",
            "P4",
            "P5",
            "Time"
        ]
    },
    {
        "id": "8c44991e8ba1ead3",
        "type": "debug",
        "z": "3a2b4845297472e9",
        "g": "2d1c974598225e33",
        "name": "P1",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1610,
        "y": 960,
        "wires": []
    },
    {
        "id": "48f8957cf46f7faa",
        "type": "debug",
        "z": "3a2b4845297472e9",
        "g": "2d1c974598225e33",
        "name": "P2",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1610,
        "y": 1060,
        "wires": []
    },
    {
        "id": "115ae60c089381a2",
        "type": "debug",
        "z": "3a2b4845297472e9",
        "g": "2d1c974598225e33",
        "name": "P5",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1610,
        "y": 1360,
        "wires": []
    },
    {
        "id": "9746f3178754450d",
        "type": "debug",
        "z": "3a2b4845297472e9",
        "g": "2d1c974598225e33",
        "name": "P3",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1610,
        "y": 1160,
        "wires": []
    },
    {
        "id": "767bec0149e44199",
        "type": "debug",
        "z": "3a2b4845297472e9",
        "g": "2d1c974598225e33",
        "name": "P4",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1610,
        "y": 1260,
        "wires": []
    },
    {
        "id": "975662574ebcbad6",
        "type": "ui_text",
        "z": "3a2b4845297472e9",
        "g": "2d1c974598225e33",
        "group": "5751f621633a6771",
        "order": 5,
        "width": 2,
        "height": 1,
        "name": "hbw_p4_3",
        "label": "P3=",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "className": "",
        "x": 1650,
        "y": 1120,
        "wires": []
    },
    {
        "id": "cfb5d0d46e111ee3",
        "type": "debug",
        "z": "3a2b4845297472e9",
        "g": "2d1c974598225e33",
        "name": "Id",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1610,
        "y": 860,
        "wires": []
    },
    {
        "id": "6bf039aed6b7152c",
        "type": "ui_text",
        "z": "3a2b4845297472e9",
        "g": "2d1c974598225e33",
        "group": "5751f621633a6771",
        "order": 1,
        "width": 4,
        "height": 1,
        "name": "hbw_p4_Id",
        "label": "HBW Id=",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1650,
        "y": 820,
        "wires": []
    },
    {
        "id": "3bc60fa9b2524d25",
        "type": "debug",
        "z": "3a2b4845297472e9",
        "g": "2d1c974598225e33",
        "name": "Time",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1640,
        "y": 1460,
        "wires": []
    },
    {
        "id": "925bb7d0487c1944",
        "type": "ui_text",
        "z": "3a2b4845297472e9",
        "g": "2d1c974598225e33",
        "group": "5751f621633a6771",
        "order": 7,
        "width": 2,
        "height": 1,
        "name": "hbw_p4_5",
        "label": "P5=",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "className": "",
        "x": 1650,
        "y": 1320,
        "wires": []
    },
    {
        "id": "da13c14c412a4189",
        "type": "ui_text",
        "z": "3a2b4845297472e9",
        "g": "2d1c974598225e33",
        "group": "5751f621633a6771",
        "order": 6,
        "width": 2,
        "height": 1,
        "name": "hbw_p4_4",
        "label": "P4=",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "className": "",
        "x": 1650,
        "y": 1220,
        "wires": []
    },
    {
        "id": "ae838f3069f8f179",
        "type": "ui_text",
        "z": "3a2b4845297472e9",
        "g": "2d1c974598225e33",
        "group": "5751f621633a6771",
        "order": 4,
        "width": 2,
        "height": 1,
        "name": "hbw_p4_2",
        "label": "P2=",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "className": "",
        "x": 1650,
        "y": 1020,
        "wires": []
    },
    {
        "id": "a9750519354fb540",
        "type": "ui_text",
        "z": "3a2b4845297472e9",
        "g": "2d1c974598225e33",
        "group": "5751f621633a6771",
        "order": 3,
        "width": 2,
        "height": 1,
        "name": "hbw_p4_1",
        "label": "P1=",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "className": "",
        "x": 1650,
        "y": 920,
        "wires": []
    },
    {
        "id": "fdb3c13463152bfd",
        "type": "ui_text",
        "z": "3a2b4845297472e9",
        "g": "2d1c974598225e33",
        "group": "5751f621633a6771",
        "order": 2,
        "width": 6,
        "height": 1,
        "name": "hbw_p4_T",
        "label": "HBW T=",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1650,
        "y": 1420,
        "wires": []
    },
    {
        "id": "89da0f58e3e51930",
        "type": "function",
        "z": "3a2b4845297472e9",
        "g": "11b70d8b1233b516",
        "name": "HBW Pid1ToText",
        "func": "var topic=msg.topic;\nvar payload=msg.payload;\n\nvar objId = payload.id;\nvar objp1 = payload.par[0];\nvar objp2 = payload.par[1];\nvar objp3 = payload.par[2];\nvar objp4 = payload.par[3];\nvar objp5 = payload.par[4];\nvar objT = payload.t;\n\n\nvar msgp1={};\nvar msgp2={};\nvar msgp3={};\nvar msgp4={};\nvar msgp5={};\nvar msgId={};\nvar msgT={};\n\nmsgId.payload=  objId ;\nmsgId.topic= \"ID=\";\n\nmsgp1.payload= JSON.stringify(  objp1 );\nmsgp1.topic= \"txt/new\";\n\nmsgp2.payload= JSON.stringify( objp2 );\nmsgp2.topic =   \"txt/new\";\n\nmsgp3.payload= JSON.stringify(  objp3 );\nmsgp3.topic =   \"txt/new\";\n\nmsgp4.payload=  JSON.stringify( objp4 );\nmsgp4.topic =   \"txt/new\";\n\nmsgp5.payload= JSON.stringify(  objp5 );\nmsgp5.topic =   \"txt/new\";\n\nmsgT.payload= objT;// JSON.stringify(  objT );\nmsgT.topic =   \"txt/new\";\n\nreturn [msgId, msgp1,msgp2,msgp3,msgp4,msgp5,msgT ];",
        "outputs": 7,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1170,
        "y": 1300,
        "wires": [
            [
                "6476fbf7c5fdd27c",
                "409cb0aeeab57827"
            ],
            [
                "a0f87d2888923d12",
                "b4f965bf5c5ef5f1"
            ],
            [
                "02dbe1a5a39bfc65",
                "e6b87bed5807fc02"
            ],
            [
                "98ebfcbef667a907",
                "a4bba0f212a3b391"
            ],
            [
                "5ea2e04114902b3b",
                "aa6b58a124beb0ae"
            ],
            [
                "ce343ae96a39a4be",
                "be20fc71f601d897"
            ],
            [
                "b2c37577429ff2c0",
                "cdf6a5356be1c69a"
            ]
        ],
        "inputLabels": [
            "Json{}"
        ],
        "outputLabels": [
            "Id",
            "P1",
            "P2",
            "P3",
            "P4",
            "P5",
            "Time"
        ]
    },
    {
        "id": "a0f87d2888923d12",
        "type": "debug",
        "z": "3a2b4845297472e9",
        "g": "11b70d8b1233b516",
        "name": "P1",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1370,
        "y": 1280,
        "wires": []
    },
    {
        "id": "02dbe1a5a39bfc65",
        "type": "debug",
        "z": "3a2b4845297472e9",
        "g": "11b70d8b1233b516",
        "name": "P2",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1370,
        "y": 1380,
        "wires": []
    },
    {
        "id": "ce343ae96a39a4be",
        "type": "debug",
        "z": "3a2b4845297472e9",
        "g": "11b70d8b1233b516",
        "name": "P5",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1370,
        "y": 1680,
        "wires": []
    },
    {
        "id": "a4bba0f212a3b391",
        "type": "debug",
        "z": "3a2b4845297472e9",
        "g": "11b70d8b1233b516",
        "name": "P3",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1370,
        "y": 1480,
        "wires": []
    },
    {
        "id": "5ea2e04114902b3b",
        "type": "debug",
        "z": "3a2b4845297472e9",
        "g": "11b70d8b1233b516",
        "name": "P4",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1370,
        "y": 1580,
        "wires": []
    },
    {
        "id": "98ebfcbef667a907",
        "type": "ui_text",
        "z": "3a2b4845297472e9",
        "g": "11b70d8b1233b516",
        "group": "5751f621633a6771",
        "order": 12,
        "width": 2,
        "height": 1,
        "name": "hbw_p5_3",
        "label": "P3=",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "className": "",
        "x": 1410,
        "y": 1440,
        "wires": []
    },
    {
        "id": "6476fbf7c5fdd27c",
        "type": "debug",
        "z": "3a2b4845297472e9",
        "g": "11b70d8b1233b516",
        "name": "Id",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1370,
        "y": 1180,
        "wires": []
    },
    {
        "id": "409cb0aeeab57827",
        "type": "ui_text",
        "z": "3a2b4845297472e9",
        "g": "11b70d8b1233b516",
        "group": "5751f621633a6771",
        "order": 8,
        "width": 4,
        "height": 1,
        "name": "hbw_p5_Id",
        "label": "HBW Id=",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1410,
        "y": 1140,
        "wires": []
    },
    {
        "id": "b2c37577429ff2c0",
        "type": "debug",
        "z": "3a2b4845297472e9",
        "g": "11b70d8b1233b516",
        "name": "Time",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1400,
        "y": 1780,
        "wires": []
    },
    {
        "id": "be20fc71f601d897",
        "type": "ui_text",
        "z": "3a2b4845297472e9",
        "g": "11b70d8b1233b516",
        "group": "5751f621633a6771",
        "order": 14,
        "width": 2,
        "height": 1,
        "name": "hbw_p5_5",
        "label": "P5=",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "className": "",
        "x": 1410,
        "y": 1640,
        "wires": []
    },
    {
        "id": "aa6b58a124beb0ae",
        "type": "ui_text",
        "z": "3a2b4845297472e9",
        "g": "11b70d8b1233b516",
        "group": "5751f621633a6771",
        "order": 13,
        "width": 2,
        "height": 1,
        "name": "hbw_p5_4",
        "label": "P4=",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "className": "",
        "x": 1410,
        "y": 1540,
        "wires": []
    },
    {
        "id": "e6b87bed5807fc02",
        "type": "ui_text",
        "z": "3a2b4845297472e9",
        "g": "11b70d8b1233b516",
        "group": "5751f621633a6771",
        "order": 11,
        "width": 2,
        "height": 1,
        "name": "hbw_p5_2",
        "label": "P2=",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "className": "",
        "x": 1410,
        "y": 1340,
        "wires": []
    },
    {
        "id": "b4f965bf5c5ef5f1",
        "type": "ui_text",
        "z": "3a2b4845297472e9",
        "g": "11b70d8b1233b516",
        "group": "5751f621633a6771",
        "order": 10,
        "width": 2,
        "height": 1,
        "name": "hbw_p5_1",
        "label": "P1=",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "className": "",
        "x": 1410,
        "y": 1240,
        "wires": []
    },
    {
        "id": "cdf6a5356be1c69a",
        "type": "ui_text",
        "z": "3a2b4845297472e9",
        "g": "11b70d8b1233b516",
        "group": "5751f621633a6771",
        "order": 9,
        "width": 6,
        "height": 1,
        "name": "hbw_p5_T",
        "label": "HBW T=",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1410,
        "y": 1740,
        "wires": []
    },
    {
        "id": "fd8eb917fe35aaf5",
        "type": "function",
        "z": "3a2b4845297472e9",
        "name": "Name of database + timestamp",
        "func": "//msg.filename = \"/home/pi/.node-red/public/databases/machines/timepi_temp.db\";\n//C:\\Users\\Carel\\.node-red\n//I:/Hobby/FT-NodeRed/tmp\n//H:/Log/NodeRed/factory(Pmesg).log\n//\"I:/Hobby/FT-NodeRed/tmp/test_pi_temp.db\"\nmsg.filename = \"H:/Log/NodeRed/factory(HBW).log\";\nvar x = msg.topic;\nvar y = msg.payload;\nmsg.payload = x +'::' + y;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 140,
        "wires": [
            [
                "7bcd7b54a45979f9"
            ]
        ]
    },
    {
        "id": "7bcd7b54a45979f9",
        "type": "file",
        "z": "3a2b4845297472e9",
        "name": "Wirite_P-messages",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 630,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "8955cdb419109678",
        "type": "inject",
        "z": "3a2b4845297472e9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test/Pmsg",
        "payload": "{\"test\":\"p_messages\"}",
        "payloadType": "json",
        "x": 190,
        "y": 60,
        "wires": [
            [
                "d4d7c5055048de94"
            ]
        ]
    },
    {
        "id": "d4d7c5055048de94",
        "type": "json",
        "z": "3a2b4845297472e9",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 150,
        "y": 180,
        "wires": [
            [
                "fd8eb917fe35aaf5"
            ]
        ]
    },
    {
        "id": "813a9a312fe3c109",
        "type": "mqtt in",
        "z": "bf8a6a980178c631",
        "name": "MPO p  message",
        "topic": "MPO/p/p",
        "qos": "0",
        "datatype": "json",
        "broker": "c58f8d4b7c13412d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 400,
        "wires": [
            [
                "c878b05e4663417a",
                "e3a4f8b9d0aa59bf"
            ]
        ],
        "outputLabels": [
            "text"
        ]
    },
    {
        "id": "a83e63e126f12738",
        "type": "ui_text",
        "z": "bf8a6a980178c631",
        "group": "ee4226fc6adf1c10",
        "order": 1,
        "width": 10,
        "height": 2,
        "name": "mpo txt data",
        "label": "mpo txt data",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 570,
        "y": 160,
        "wires": []
    },
    {
        "id": "c878b05e4663417a",
        "type": "function",
        "z": "bf8a6a980178c631",
        "name": "MPO PmsgToText",
        "func": "var topic=msg.topic;\nvar payload=msg.payload;\n\nvar objId = payload.id;\nvar objp1 = payload.par[0];\nvar objp2 = payload.par[1];\nvar objp3 = payload.par[2];\nvar objp4 = payload.par[3];\nvar objp5 = payload.par[4];\nvar objT = payload.t;\n\n\nvar msgp1={};\nvar msgp2={};\nvar msgp3={};\nvar msgp4={};\nvar msgp5={};\nvar msgId={};\nvar msgT={};\n\nmsgId.payload=  objId ;\nmsgId.topic= \"ID=\";\n\nmsgp1.payload= JSON.stringify(  objp1 );\nmsgp1.topic= \"txt/new\";\n\nmsgp2.payload= JSON.stringify( objp2 );\nmsgp2.topic =   \"txt/new\";\n\nmsgp3.payload= JSON.stringify(  objp3 );\nmsgp3.topic =   \"txt/new\";\n\nmsgp4.payload=  JSON.stringify( objp4 );\nmsgp4.topic =   \"txt/new\";\n\nmsgp5.payload= JSON.stringify(  objp5 );\nmsgp5.topic =   \"txt/new\";\n\nmsgT.payload= objT;// JSON.stringify(  objT );\nmsgT.topic =   \"txt/new\";\n\nreturn [msgId, msgp1,msgp2,msgp3,msgp4,msgp5,msgT ];",
        "outputs": 7,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 340,
        "wires": [
            [
                "7875ca2c8c7daa7a",
                "59583ad2cf7a0e47"
            ],
            [
                "b6ce981d10c271a6",
                "e28ba3c49730b1b2"
            ],
            [
                "ad636bd3e8caa484",
                "b1a34638f6466db9"
            ],
            [
                "c68f717405860f0b",
                "b441844b6777022b"
            ],
            [
                "d5c05592d50d0a4f",
                "d8d914451916f658"
            ],
            [
                "dc7d9a37a4c35194",
                "c182801cc0f98f87"
            ],
            [
                "a8eaefefc724c9e7",
                "f89a67f7af3a88ea"
            ]
        ],
        "inputLabels": [
            "Json{}"
        ],
        "outputLabels": [
            "Id",
            "P1",
            "P2",
            "P3",
            "P4",
            "P5",
            "Time"
        ]
    },
    {
        "id": "daac206c691f269f",
        "type": "inject",
        "z": "bf8a6a980178c631",
        "name": "P-msg",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "SLD/p/p",
        "payload": " {         \"id\" : \"p2\",         \"par\" :         [                 10,                11                 ,                 0,                 0         ],         \"t\" : \"2000-01-01T01:57:41Z\" }",
        "payloadType": "str",
        "x": 290,
        "y": 240,
        "wires": [
            [
                "02d5a15cbe6615d2"
            ]
        ],
        "outputLabels": [
            "Json"
        ]
    },
    {
        "id": "b6ce981d10c271a6",
        "type": "debug",
        "z": "bf8a6a980178c631",
        "name": "P1",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 830,
        "y": 320,
        "wires": []
    },
    {
        "id": "ad636bd3e8caa484",
        "type": "debug",
        "z": "bf8a6a980178c631",
        "name": "P2",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 830,
        "y": 420,
        "wires": []
    },
    {
        "id": "dc7d9a37a4c35194",
        "type": "debug",
        "z": "bf8a6a980178c631",
        "name": "P5",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 830,
        "y": 720,
        "wires": []
    },
    {
        "id": "b441844b6777022b",
        "type": "debug",
        "z": "bf8a6a980178c631",
        "name": "P3",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 830,
        "y": 520,
        "wires": []
    },
    {
        "id": "d5c05592d50d0a4f",
        "type": "debug",
        "z": "bf8a6a980178c631",
        "name": "P4",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 830,
        "y": 620,
        "wires": []
    },
    {
        "id": "02d5a15cbe6615d2",
        "type": "json",
        "z": "bf8a6a980178c631",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 390,
        "y": 160,
        "wires": [
            [
                "c878b05e4663417a",
                "a83e63e126f12738"
            ]
        ]
    },
    {
        "id": "c68f717405860f0b",
        "type": "ui_text",
        "z": "bf8a6a980178c631",
        "group": "9a05c74e404fecb8",
        "order": 5,
        "width": 2,
        "height": 1,
        "name": "mpo_p1_3",
        "label": "P3=",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "className": "",
        "x": 850,
        "y": 480,
        "wires": []
    },
    {
        "id": "7875ca2c8c7daa7a",
        "type": "debug",
        "z": "bf8a6a980178c631",
        "name": "Id",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 830,
        "y": 220,
        "wires": []
    },
    {
        "id": "59583ad2cf7a0e47",
        "type": "ui_text",
        "z": "bf8a6a980178c631",
        "group": "9a05c74e404fecb8",
        "order": 1,
        "width": 4,
        "height": 1,
        "name": "mpo_p1_Id",
        "label": "MPO ID=",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 850,
        "y": 180,
        "wires": []
    },
    {
        "id": "a8eaefefc724c9e7",
        "type": "debug",
        "z": "bf8a6a980178c631",
        "name": "Time",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 840,
        "y": 820,
        "wires": []
    },
    {
        "id": "c182801cc0f98f87",
        "type": "ui_text",
        "z": "bf8a6a980178c631",
        "group": "9a05c74e404fecb8",
        "order": 7,
        "width": 2,
        "height": 1,
        "name": "mpo_p1_5",
        "label": "P5=",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "className": "",
        "x": 850,
        "y": 680,
        "wires": []
    },
    {
        "id": "d8d914451916f658",
        "type": "ui_text",
        "z": "bf8a6a980178c631",
        "group": "9a05c74e404fecb8",
        "order": 6,
        "width": 2,
        "height": 1,
        "name": "mpo_p1_4",
        "label": "P4=",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "className": "",
        "x": 850,
        "y": 580,
        "wires": []
    },
    {
        "id": "b1a34638f6466db9",
        "type": "ui_text",
        "z": "bf8a6a980178c631",
        "group": "9a05c74e404fecb8",
        "order": 4,
        "width": 2,
        "height": 1,
        "name": "mpo_p1_2",
        "label": "P2=",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "className": "",
        "x": 850,
        "y": 380,
        "wires": []
    },
    {
        "id": "e28ba3c49730b1b2",
        "type": "ui_text",
        "z": "bf8a6a980178c631",
        "group": "9a05c74e404fecb8",
        "order": 3,
        "width": 2,
        "height": 1,
        "name": "mpo_p1_1",
        "label": "P1=",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "className": "",
        "x": 850,
        "y": 280,
        "wires": []
    },
    {
        "id": "f89a67f7af3a88ea",
        "type": "ui_text",
        "z": "bf8a6a980178c631",
        "group": "9a05c74e404fecb8",
        "order": 2,
        "width": 6,
        "height": 1,
        "name": "mpo_p1_T",
        "label": "T=",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 850,
        "y": 780,
        "wires": []
    },
    {
        "id": "be8f3973a0ab0630",
        "type": "function",
        "z": "bf8a6a980178c631",
        "name": "Name of database + timestamp",
        "func": "//msg.filename = \"/home/pi/.node-red/public/databases/machines/timepi_temp.db\";\n//C:\\Users\\Carel\\.node-red\n//I:/Hobby/FT-NodeRed/tmp\n//H:/Log/NodeRed/factory(Pmesg).log\n//\"I:/Hobby/FT-NodeRed/tmp/test_pi_temp.db\"\nmsg.filename = \"H:/Log/NodeRed/factory(MPO).log\";\nvar x = msg.topic;\nvar y = msg.payload;\nmsg.payload = x +'::' + y;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 600,
        "wires": [
            [
                "431645dfddc9a3df"
            ]
        ]
    },
    {
        "id": "431645dfddc9a3df",
        "type": "file",
        "z": "bf8a6a980178c631",
        "name": "Wirite_P-messages",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 650,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "933d30b771433a6a",
        "type": "inject",
        "z": "bf8a6a980178c631",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test/Pmsg",
        "payload": "{\"test\":\"p_messages\"}",
        "payloadType": "json",
        "x": 230,
        "y": 720,
        "wires": [
            [
                "e3a4f8b9d0aa59bf"
            ]
        ]
    },
    {
        "id": "e3a4f8b9d0aa59bf",
        "type": "json",
        "z": "bf8a6a980178c631",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 210,
        "y": 540,
        "wires": [
            [
                "be8f3973a0ab0630"
            ]
        ]
    },
    {
        "id": "ece4cb8c82db4177",
        "type": "ui_form",
        "z": "86129776fa6cf627",
        "name": "publish_P_data",
        "label": "Send P1-data",
        "group": "a9c07e1f45a7f1ee",
        "order": 14,
        "width": 10,
        "height": 1,
        "options": [
            {
                "label": "Id [1..3]=",
                "value": "id",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "P1 [see doc] =",
                "value": "par1",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "P2 [see doc] =",
                "value": "par2",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "P3 [see doc] =",
                "value": "par3",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "P4 [see doc] =",
                "value": "par4",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "P5 [see doc] =",
                "value": "par5",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "id": "",
            "par1": "",
            "par2": "",
            "par3": "",
            "par4": "",
            "par5": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "txt/c/p1",
        "topicType": "str",
        "splitLayout": true,
        "className": "",
        "x": 320,
        "y": 200,
        "wires": [
            [
                "9d1e03aa5a7b52fd",
                "25c5f56b903361a1"
            ]
        ],
        "inputLabels": [
            "data_in"
        ],
        "outputLabels": [
            "data_out"
        ]
    },
    {
        "id": "77fbe054e9f51e1d",
        "type": "debug",
        "z": "86129776fa6cf627",
        "name": "send",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 530,
        "y": 380,
        "wires": []
    },
    {
        "id": "a2096132522109fa",
        "type": "inject",
        "z": "86129776fa6cf627",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "txt/c/p1",
        "payload": "{\"id\":1,\"par1\":0,\"par2\":0,\"par3\":0,\"par4\":0,\"par5\":0,\"t\":\"2014-06-25T00:00:00.000Z\"}",
        "payloadType": "json",
        "x": 90,
        "y": 180,
        "wires": [
            [
                "ece4cb8c82db4177"
            ]
        ],
        "info": "\"par\":[34,253,65,512,-23],"
    },
    {
        "id": "d88163db1c48d4f6",
        "type": "mqtt out",
        "z": "86129776fa6cf627",
        "name": "pub_p1",
        "topic": "\"txt/c/p1\"",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c58f8d4b7c13412d",
        "x": 760,
        "y": 320,
        "wires": []
    },
    {
        "id": "9d1e03aa5a7b52fd",
        "type": "function",
        "z": "86129776fa6cf627",
        "name": "check_M",
        "func": "var payload=msg.payload;\nvar plOut={};\nvar topic=msg.topic;\nvar error=false;\nvar j=payload ;//JSON.parse(payload);\nvar msg1={};\nvar msg3={};\nvar msg4={};\nif ( (j.id<1) || (j.id>3)){\n  j.id=null; error=true;  \n} else \nplOut.id=\"P1\";//  \"P\"+ payload.id.toString();\nvar r=[j.par1,j.par2,j.par3,j.par4,j.par5];\nplOut.par=[];\n\n\n[0, 1,2,3,4].forEach(v => {\nplOut.par[v]=r[v];\nif ( (plOut.par[v]<-32767) || (plOut.par[v]>32767)){\n  plOut.par[v]=null; error=true;  \n} \n});\nj.par1=plOut.par[0];\nj.par2=plOut.par[1];\nj.par3=plOut.par[2];\nj.par4=plOut.par[3];\nj.par5=plOut.par[4];\nj.t=new Date();\nmsg.payload= j;\nif (error){\n   return [ msg,  null]; \n} \nplOut.t=new Date();\nmsg1.payload= plOut;\nmsg1.topic=topic;\nreturn [ msg,msg1];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 320,
        "wires": [
            [
                "a377809ecff81c51",
                "ece4cb8c82db4177"
            ],
            [
                "d88163db1c48d4f6",
                "77fbe054e9f51e1d"
            ]
        ],
        "inputLabels": [
            "data"
        ],
        "outputLabels": [
            "err",
            "out"
        ]
    },
    {
        "id": "a377809ecff81c51",
        "type": "debug",
        "z": "86129776fa6cf627",
        "name": "error",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 530,
        "y": 260,
        "wires": []
    },
    {
        "id": "25c5f56b903361a1",
        "type": "debug",
        "z": "86129776fa6cf627",
        "name": "button_out",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 550,
        "y": 180,
        "wires": []
    },
    {
        "id": "80f136618643dae4",
        "type": "debug",
        "z": "91a23abe8e481d5a",
        "name": "Cmd Halt",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 140,
        "wires": []
    },
    {
        "id": "7e9cab15f9dc9e6d",
        "type": "inject",
        "z": "91a23abe8e481d5a",
        "name": "Halt MPO",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "MPO/c/halt",
        "payload": "{\"outMid\":0}",
        "payloadType": "json",
        "x": 140,
        "y": 80,
        "wires": [
            [
                "f05193b0812e1c3b"
            ]
        ]
    },
    {
        "id": "c9807cf65460edf8",
        "type": "mqtt out",
        "z": "91a23abe8e481d5a",
        "name": "Cmd Halt",
        "topic": "",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c58f8d4b7c13412d",
        "x": 600,
        "y": 80,
        "wires": []
    },
    {
        "id": "f05193b0812e1c3b",
        "type": "ui_button",
        "z": "91a23abe8e481d5a",
        "d": true,
        "name": "Halt MPO",
        "group": "a9c07e1f45a7f1ee",
        "order": 9,
        "width": 3,
        "height": 1,
        "passthru": true,
        "label": "btn_halt_mpo",
        "tooltip": "Emergency stop of the actuators in this section.",
        "color": "red",
        "bgcolor": "black",
        "className": "",
        "icon": "",
        "payload": "{\"outMid\":0}",
        "payloadType": "json",
        "topic": "MPO/c/halt",
        "topicType": "str",
        "x": 340,
        "y": 60,
        "wires": [
            [
                "c9807cf65460edf8",
                "80f136618643dae4"
            ]
        ]
    },
    {
        "id": "0a0b4dd278101868",
        "type": "debug",
        "z": "91a23abe8e481d5a",
        "name": "MPO pause",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 530,
        "y": 520,
        "wires": []
    },
    {
        "id": "1a16ff1a2011c0eb",
        "type": "inject",
        "z": "91a23abe8e481d5a",
        "name": "Pause",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "txt/c/pause",
        "payload": "{\"item\":\"\"}",
        "payloadType": "json",
        "x": 150,
        "y": 460,
        "wires": [
            [
                "e6a33923a4197ba8"
            ]
        ]
    },
    {
        "id": "135238f4fed07999",
        "type": "mqtt out",
        "z": "91a23abe8e481d5a",
        "name": "MPO Pause",
        "topic": "",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c58f8d4b7c13412d",
        "x": 530,
        "y": 460,
        "wires": []
    },
    {
        "id": "e6a33923a4197ba8",
        "type": "ui_button",
        "z": "91a23abe8e481d5a",
        "name": "mpo_btn_pause",
        "group": "a9c07e1f45a7f1ee",
        "order": 1,
        "width": 3,
        "height": 1,
        "passthru": true,
        "label": "MPO Pause",
        "tooltip": "Emergency stop of the actuators in this section.",
        "color": "blue",
        "bgcolor": "grey",
        "className": "",
        "icon": "",
        "payload": "{\"outMid\":0}",
        "payloadType": "json",
        "topic": "MPO/c/pause",
        "topicType": "str",
        "x": 340,
        "y": 460,
        "wires": [
            [
                "135238f4fed07999",
                "0a0b4dd278101868"
            ]
        ]
    },
    {
        "id": "7b68d6663cd47345",
        "type": "debug",
        "z": "91a23abe8e481d5a",
        "name": "MPO resume",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 530,
        "y": 640,
        "wires": []
    },
    {
        "id": "584f36681d9fc98e",
        "type": "inject",
        "z": "91a23abe8e481d5a",
        "name": "Resume",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "txt/c/resume",
        "payload": "{\"item\":\"\"}",
        "payloadType": "json",
        "x": 160,
        "y": 580,
        "wires": [
            [
                "aa80c834baf65210"
            ]
        ]
    },
    {
        "id": "76458433e2e6c887",
        "type": "mqtt out",
        "z": "91a23abe8e481d5a",
        "name": "MPO Resume",
        "topic": "",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c58f8d4b7c13412d",
        "x": 540,
        "y": 580,
        "wires": []
    },
    {
        "id": "aa80c834baf65210",
        "type": "ui_button",
        "z": "91a23abe8e481d5a",
        "name": "mpo_btn_resume",
        "group": "a9c07e1f45a7f1ee",
        "order": 5,
        "width": 3,
        "height": 1,
        "passthru": true,
        "label": "MPO Resume",
        "tooltip": "Emergency stop of the actuators in this section.",
        "color": "green",
        "bgcolor": "black",
        "className": "",
        "icon": "",
        "payload": "{\"outMid\":0}",
        "payloadType": "json",
        "topic": "MPO/c/resume",
        "topicType": "str",
        "x": 330,
        "y": 580,
        "wires": [
            [
                "76458433e2e6c887",
                "7b68d6663cd47345"
            ]
        ]
    },
    {
        "id": "3efcf8219619efbb",
        "type": "inject",
        "z": "91a23abe8e481d5a",
        "name": "Halt HBW",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "HBW/c/halt",
        "payload": "{\"outMid\":0}",
        "payloadType": "json",
        "x": 140,
        "y": 140,
        "wires": [
            [
                "851e6f5532bf9635"
            ]
        ]
    },
    {
        "id": "851e6f5532bf9635",
        "type": "ui_button",
        "z": "91a23abe8e481d5a",
        "d": true,
        "name": "Halt HBW",
        "group": "a9c07e1f45a7f1ee",
        "order": 10,
        "width": 3,
        "height": 1,
        "passthru": true,
        "label": "btn_halt_hbw",
        "tooltip": "Emergency stop of the actuators in this section.",
        "color": "red",
        "bgcolor": "black",
        "className": "",
        "icon": "",
        "payload": "{\"outMid\":0}",
        "payloadType": "json",
        "topic": "HBW/c/halt",
        "topicType": "str",
        "x": 340,
        "y": 140,
        "wires": [
            [
                "c9807cf65460edf8",
                "80f136618643dae4"
            ]
        ]
    },
    {
        "id": "6a2bb4f2cc9fe66d",
        "type": "inject",
        "z": "91a23abe8e481d5a",
        "name": "Halt SLD",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            },
            {
                "p": "payload.enable",
                "v": "",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "SLD/c/halt",
        "payload": "{\"outMid\":0}",
        "payloadType": "json",
        "x": 140,
        "y": 180,
        "wires": [
            [
                "1ae2ef1ffadb8893"
            ]
        ]
    },
    {
        "id": "1ae2ef1ffadb8893",
        "type": "ui_button",
        "z": "91a23abe8e481d5a",
        "d": true,
        "name": "Halt SLD",
        "group": "a9c07e1f45a7f1ee",
        "order": 11,
        "width": 3,
        "height": 1,
        "passthru": true,
        "label": "btn_halt_sld",
        "tooltip": "Emergency stop of the actuators in this section.",
        "color": "red",
        "bgcolor": "black",
        "className": "",
        "icon": "",
        "payload": "{\"outMid\":0}",
        "payloadType": "json",
        "topic": "SLD/c/halt",
        "topicType": "str",
        "x": 340,
        "y": 180,
        "wires": [
            [
                "c9807cf65460edf8",
                "80f136618643dae4"
            ]
        ]
    },
    {
        "id": "b0441cc65a10c6bd",
        "type": "debug",
        "z": "91a23abe8e481d5a",
        "name": "SLD pause",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 300,
        "wires": []
    },
    {
        "id": "721cc2964129643b",
        "type": "inject",
        "z": "91a23abe8e481d5a",
        "name": "Pause",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "txt/c/pause",
        "payload": "{\"item\":\"\"}",
        "payloadType": "json",
        "x": 150,
        "y": 240,
        "wires": [
            [
                "84eb0405c248be2c"
            ]
        ]
    },
    {
        "id": "7e28b936fc7402dd",
        "type": "mqtt out",
        "z": "91a23abe8e481d5a",
        "name": "SLD Pause",
        "topic": "",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c58f8d4b7c13412d",
        "x": 530,
        "y": 240,
        "wires": []
    },
    {
        "id": "84eb0405c248be2c",
        "type": "ui_button",
        "z": "91a23abe8e481d5a",
        "name": "sld_btn_pause",
        "group": "a9c07e1f45a7f1ee",
        "order": 2,
        "width": 3,
        "height": 1,
        "passthru": true,
        "label": "SLD Pause",
        "tooltip": "Emergency stop of the actuators in this section.",
        "color": "blue",
        "bgcolor": "grey",
        "className": "",
        "icon": "",
        "payload": "{\"outMid\":0}",
        "payloadType": "json",
        "topic": "SLD/c/pause",
        "topicType": "str",
        "x": 340,
        "y": 240,
        "wires": [
            [
                "7e28b936fc7402dd",
                "b0441cc65a10c6bd"
            ]
        ]
    },
    {
        "id": "522c80cdad4730d4",
        "type": "debug",
        "z": "91a23abe8e481d5a",
        "name": "SLD resume",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 530,
        "y": 420,
        "wires": []
    },
    {
        "id": "c5871e2fd059ef15",
        "type": "inject",
        "z": "91a23abe8e481d5a",
        "name": "Resume",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "txt/c/resume",
        "payload": "{\"item\":\"\"}",
        "payloadType": "json",
        "x": 160,
        "y": 360,
        "wires": [
            [
                "b952ecd5136b9eb5"
            ]
        ]
    },
    {
        "id": "a25eab0fa7427e96",
        "type": "mqtt out",
        "z": "91a23abe8e481d5a",
        "name": "SLD Resume",
        "topic": "",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c58f8d4b7c13412d",
        "x": 530,
        "y": 360,
        "wires": []
    },
    {
        "id": "b952ecd5136b9eb5",
        "type": "ui_button",
        "z": "91a23abe8e481d5a",
        "name": "sld_btn_resume",
        "group": "a9c07e1f45a7f1ee",
        "order": 6,
        "width": 3,
        "height": 1,
        "passthru": true,
        "label": "SLD Resume",
        "tooltip": "Emergency stop of the actuators in this section.",
        "color": "green",
        "bgcolor": "black",
        "className": "",
        "icon": "",
        "payload": "{\"outMid\":0}",
        "payloadType": "json",
        "topic": "SLD/c/resume",
        "topicType": "str",
        "x": 320,
        "y": 360,
        "wires": [
            [
                "a25eab0fa7427e96",
                "522c80cdad4730d4"
            ]
        ]
    },
    {
        "id": "2bc1f75fc6656138",
        "type": "debug",
        "z": "91a23abe8e481d5a",
        "name": "HBW pause",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 530,
        "y": 760,
        "wires": []
    },
    {
        "id": "6ad4d1a6bb066d16",
        "type": "inject",
        "z": "91a23abe8e481d5a",
        "name": "Pause",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "HBW/c/pause",
        "payload": "{\"item\":\"\"}",
        "payloadType": "json",
        "x": 150,
        "y": 700,
        "wires": [
            [
                "2e579aeb33351f7e"
            ]
        ]
    },
    {
        "id": "1659ad0d5d2ece43",
        "type": "mqtt out",
        "z": "91a23abe8e481d5a",
        "name": "HBW Pause",
        "topic": "",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c58f8d4b7c13412d",
        "x": 530,
        "y": 700,
        "wires": []
    },
    {
        "id": "2e579aeb33351f7e",
        "type": "ui_button",
        "z": "91a23abe8e481d5a",
        "name": "hbw_btn_pause",
        "group": "a9c07e1f45a7f1ee",
        "order": 3,
        "width": 3,
        "height": 1,
        "passthru": true,
        "label": "HBW Pause",
        "tooltip": "Emergency stop of the actuators in this section.",
        "color": "blue",
        "bgcolor": "grey",
        "className": "",
        "icon": "",
        "payload": "{\"outMid\":0}",
        "payloadType": "json",
        "topic": "HBW/c/pause",
        "topicType": "str",
        "x": 320,
        "y": 700,
        "wires": [
            [
                "1659ad0d5d2ece43",
                "2bc1f75fc6656138"
            ]
        ]
    },
    {
        "id": "cf26ab710dcacefd",
        "type": "debug",
        "z": "91a23abe8e481d5a",
        "name": "HBW resume",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 530,
        "y": 880,
        "wires": []
    },
    {
        "id": "8f33289bb4e2fce3",
        "type": "inject",
        "z": "91a23abe8e481d5a",
        "name": "Resume",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "HBW/c/resume",
        "payload": "{\"item\":\"\"}",
        "payloadType": "json",
        "x": 160,
        "y": 820,
        "wires": [
            [
                "2d18664855f6835e"
            ]
        ]
    },
    {
        "id": "958c3c9db114f23b",
        "type": "mqtt out",
        "z": "91a23abe8e481d5a",
        "name": "HBW Resume",
        "topic": "",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c58f8d4b7c13412d",
        "x": 540,
        "y": 820,
        "wires": []
    },
    {
        "id": "2d18664855f6835e",
        "type": "ui_button",
        "z": "91a23abe8e481d5a",
        "name": "hbw_btn_resume",
        "group": "a9c07e1f45a7f1ee",
        "order": 7,
        "width": 3,
        "height": 1,
        "passthru": true,
        "label": "HBW Resume",
        "tooltip": "Emergency stop of the actuators in this section.",
        "color": "green",
        "bgcolor": "black",
        "className": "",
        "icon": "",
        "payload": "{\"outMid\":0}",
        "payloadType": "json",
        "topic": "HBW/c/resume",
        "topicType": "str",
        "x": 330,
        "y": 820,
        "wires": [
            [
                "958c3c9db114f23b",
                "cf26ab710dcacefd"
            ]
        ]
    },
    {
        "id": "bcd7512fbbdbcf7b",
        "type": "ui_text",
        "z": "bd4c07398c4539cf",
        "group": "118402dedc740fc4",
        "order": 1,
        "width": 12,
        "height": 2,
        "name": "mpo_value_dataI",
        "label": "MPO Value dataI",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 730,
        "y": 580,
        "wires": []
    },
    {
        "id": "04821745beaa9303",
        "type": "mqtt in",
        "z": "bd4c07398c4539cf",
        "name": "receiver  valueI",
        "topic": "+/s/value/I",
        "qos": "0",
        "datatype": "json",
        "broker": "c58f8d4b7c13412d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 460,
        "wires": [
            [
                "b1a2c8920e07936b"
            ]
        ],
        "outputLabels": [
            "text"
        ]
    },
    {
        "id": "f9744455d7fa8e35",
        "type": "mqtt in",
        "z": "bd4c07398c4539cf",
        "name": "receiver conf",
        "topic": "+/s/conf/#",
        "qos": "0",
        "datatype": "json",
        "broker": "c58f8d4b7c13412d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 40,
        "wires": [
            [
                "d83bb2f6d83b5c89",
                "2aa233fc634d9080"
            ]
        ],
        "outputLabels": [
            "text"
        ]
    },
    {
        "id": "4ef8a08d8b98584c",
        "type": "mqtt in",
        "z": "bd4c07398c4539cf",
        "name": "receiver status",
        "topic": "+/s/status/#",
        "qos": "0",
        "datatype": "json",
        "broker": "c58f8d4b7c13412d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 260,
        "wires": [
            [
                "eadf0e6975988504"
            ]
        ],
        "outputLabels": [
            "text"
        ]
    },
    {
        "id": "d83bb2f6d83b5c89",
        "type": "debug",
        "z": "bd4c07398c4539cf",
        "name": "conf",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 450,
        "y": 40,
        "wires": []
    },
    {
        "id": "fbda6c9b93db7211",
        "type": "debug",
        "z": "bd4c07398c4539cf",
        "name": "status",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 460,
        "y": 260,
        "wires": []
    },
    {
        "id": "a4044b88e6676dbc",
        "type": "debug",
        "z": "bd4c07398c4539cf",
        "name": "ValueI",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 700,
        "y": 480,
        "wires": []
    },
    {
        "id": "7fca0b5ac211e2a1",
        "type": "ui_text",
        "z": "bd4c07398c4539cf",
        "group": "590e59f993e7fcf2",
        "order": 8,
        "width": 12,
        "height": 2,
        "name": "hbw_configuration_data",
        "label": "HBW Configuration Data",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 710,
        "y": 180,
        "wires": []
    },
    {
        "id": "5b1f3fde323331eb",
        "type": "ui_text",
        "z": "bd4c07398c4539cf",
        "group": "118402dedc740fc4",
        "order": 6,
        "width": 12,
        "height": 2,
        "name": "mpo_status_data",
        "label": "MPO Status data",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 690,
        "y": 360,
        "wires": []
    },
    {
        "id": "8b4f38b016da3ede",
        "type": "ui_text",
        "z": "bd4c07398c4539cf",
        "group": "6e6e308ee4a45efd",
        "order": 6,
        "width": 12,
        "height": 2,
        "name": "sld_status_data",
        "label": "SLD Status data",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 700,
        "y": 320,
        "wires": []
    },
    {
        "id": "958858beb8882d64",
        "type": "ui_text",
        "z": "bd4c07398c4539cf",
        "group": "590e59f993e7fcf2",
        "order": 6,
        "width": 12,
        "height": 2,
        "name": "hbw_status_data",
        "label": "HBW Status data",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 710,
        "y": 400,
        "wires": []
    },
    {
        "id": "a80949f1fc8e3787",
        "type": "ui_text",
        "z": "bd4c07398c4539cf",
        "group": "118402dedc740fc4",
        "order": 8,
        "width": 12,
        "height": 2,
        "name": "mpo_configuration_data",
        "label": "MPO Configuration Data",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 710,
        "y": 140,
        "wires": []
    },
    {
        "id": "3dfeed2a5334cee0",
        "type": "ui_text",
        "z": "bd4c07398c4539cf",
        "group": "6e6e308ee4a45efd",
        "order": 8,
        "width": 12,
        "height": 2,
        "name": "sld_configuration_data",
        "label": "SLD Configuration Data",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 700,
        "y": 100,
        "wires": []
    },
    {
        "id": "1875e8e93bb0c180",
        "type": "ui_text",
        "z": "bd4c07398c4539cf",
        "group": "590e59f993e7fcf2",
        "order": 1,
        "width": 12,
        "height": 2,
        "name": "hbw_value_dataI",
        "label": "HBW Value dataI",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 730,
        "y": 620,
        "wires": []
    },
    {
        "id": "f5dce846a60996bb",
        "type": "ui_text",
        "z": "bd4c07398c4539cf",
        "group": "6e6e308ee4a45efd",
        "order": 1,
        "width": 12,
        "height": 2,
        "name": "sld_value_dataI",
        "label": "SLD Value dataI",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 720,
        "y": 540,
        "wires": []
    },
    {
        "id": "c52229eed3e39fbc",
        "type": "switch",
        "z": "bd4c07398c4539cf",
        "name": "switch_status",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "SLD/s/status",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "MPO/s/status",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "HBW/s/status",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 480,
        "y": 340,
        "wires": [
            [
                "8b4f38b016da3ede",
                "36f88d2dc0043e65"
            ],
            [
                "5b1f3fde323331eb"
            ],
            [
                "958858beb8882d64"
            ]
        ]
    },
    {
        "id": "b5e06cde3cd69c85",
        "type": "switch",
        "z": "bd4c07398c4539cf",
        "name": "switch_value",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "SLD/s/value",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "MPO/s/value",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "HBW/s/value",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 510,
        "y": 560,
        "wires": [
            [
                "f5dce846a60996bb",
                "a4044b88e6676dbc"
            ],
            [
                "bcd7512fbbdbcf7b"
            ],
            [
                "1875e8e93bb0c180"
            ]
        ]
    },
    {
        "id": "2aa233fc634d9080",
        "type": "switch",
        "z": "bd4c07398c4539cf",
        "name": "switch_value",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "SLD/s/conf",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "MPO/s/conf",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "HBW/s/conf",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 470,
        "y": 120,
        "wires": [
            [
                "3dfeed2a5334cee0"
            ],
            [
                "a80949f1fc8e3787"
            ],
            [
                "7fca0b5ac211e2a1"
            ]
        ]
    },
    {
        "id": "96f739de810d7189",
        "type": "mqtt in",
        "z": "bd4c07398c4539cf",
        "name": "receiver  valueC",
        "topic": "+/s/value/C",
        "qos": "0",
        "datatype": "json",
        "broker": "c58f8d4b7c13412d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 940,
        "wires": [
            [
                "40b6e2c037c3a51a"
            ]
        ],
        "outputLabels": [
            "text"
        ]
    },
    {
        "id": "df24db26aaad0b70",
        "type": "mqtt in",
        "z": "bd4c07398c4539cf",
        "name": "receiver  valueM",
        "topic": "+/s/value/M",
        "qos": "0",
        "datatype": "json",
        "broker": "c58f8d4b7c13412d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 740,
        "wires": [
            [
                "93cd6c0f0af233d6"
            ]
        ],
        "outputLabels": [
            "text"
        ]
    },
    {
        "id": "36f88d2dc0043e65",
        "type": "debug",
        "z": "bd4c07398c4539cf",
        "name": "Value",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 700,
        "y": 260,
        "wires": []
    },
    {
        "id": "584d638b5c79090f",
        "type": "debug",
        "z": "bd4c07398c4539cf",
        "name": "ValueM",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 700,
        "y": 740,
        "wires": []
    },
    {
        "id": "977534c24838c65e",
        "type": "debug",
        "z": "bd4c07398c4539cf",
        "name": "ValueC",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 680,
        "y": 960,
        "wires": []
    },
    {
        "id": "617c92f2be816a8f",
        "type": "ui_text",
        "z": "bd4c07398c4539cf",
        "group": "118402dedc740fc4",
        "order": 3,
        "width": 12,
        "height": 2,
        "name": "mpo_value_dataC",
        "label": "MPO Value dataC",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 710,
        "y": 1040,
        "wires": []
    },
    {
        "id": "e4c290b9f42182bd",
        "type": "ui_text",
        "z": "bd4c07398c4539cf",
        "group": "590e59f993e7fcf2",
        "order": 3,
        "width": 12,
        "height": 2,
        "name": "hbw_value_dataC",
        "label": "HBW Value dataC",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 710,
        "y": 1080,
        "wires": []
    },
    {
        "id": "d31f9f581dec11e2",
        "type": "ui_text",
        "z": "bd4c07398c4539cf",
        "group": "6e6e308ee4a45efd",
        "order": 3,
        "width": 12,
        "height": 2,
        "name": "sld_value_dataC",
        "label": "SLD Value dataC",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 710,
        "y": 1000,
        "wires": []
    },
    {
        "id": "5ff8f71bbb089f86",
        "type": "switch",
        "z": "bd4c07398c4539cf",
        "name": "switch_value",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "SLD/s/value",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "MPO/s/value",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "HBW/s/value",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 490,
        "y": 1040,
        "wires": [
            [
                "d31f9f581dec11e2",
                "977534c24838c65e"
            ],
            [
                "617c92f2be816a8f"
            ],
            [
                "e4c290b9f42182bd"
            ]
        ]
    },
    {
        "id": "8e5ef160bb99daa4",
        "type": "ui_text",
        "z": "bd4c07398c4539cf",
        "group": "118402dedc740fc4",
        "order": 5,
        "width": 12,
        "height": 2,
        "name": "mpo_value_dataM",
        "label": "MPO Value M",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 710,
        "y": 840,
        "wires": []
    },
    {
        "id": "08e69bd9b7aafa9c",
        "type": "ui_text",
        "z": "bd4c07398c4539cf",
        "group": "590e59f993e7fcf2",
        "order": 5,
        "width": 12,
        "height": 2,
        "name": "hbw_value_dataM",
        "label": "HBW Value dataM",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 710,
        "y": 880,
        "wires": []
    },
    {
        "id": "3823cb8d3a287cd1",
        "type": "ui_text",
        "z": "bd4c07398c4539cf",
        "group": "6e6e308ee4a45efd",
        "order": 5,
        "width": 12,
        "height": 2,
        "name": "sld_value_dataM",
        "label": "SLD Value dataM",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 710,
        "y": 800,
        "wires": []
    },
    {
        "id": "69bde9a58b75e08a",
        "type": "switch",
        "z": "bd4c07398c4539cf",
        "name": "switch_value",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "SLD/s/value",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "MPO/s/value",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "HBW/s/value",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 490,
        "y": 840,
        "wires": [
            [
                "3823cb8d3a287cd1",
                "584d638b5c79090f"
            ],
            [
                "8e5ef160bb99daa4"
            ],
            [
                "08e69bd9b7aafa9c"
            ]
        ]
    },
    {
        "id": "230338bd382fa6ea",
        "type": "inject",
        "z": "bd4c07398c4539cf",
        "name": "SLD motor data",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "SLD/s/value/M",
        "payload": "{\"device\":\"SLD\",\"ex\":{\"motor\":{\"M1\":{\"dist\":4500,\"duty1\":0,\"duty2\":512},\"M2\":{\"dist\":0,\"duty1\":512,\"duty2\":0},\"M3\":{\"dist\":0,\"duty1\":512,\"duty2\":0},\"M4\":{\"dist\":3300,\"duty1\":300,\"duty2\":0},\"T\":\"2000-01-01T03:51:30Z\"}}}",
        "payloadType": "json",
        "x": 120,
        "y": 820,
        "wires": [
            [
                "93cd6c0f0af233d6"
            ]
        ]
    },
    {
        "id": "93cd6c0f0af233d6",
        "type": "function",
        "z": "bd4c07398c4539cf",
        "name": "",
        "func": "var p=msg.payload;\nvar xs=p.ex.motor;\nvar s= 'M1=['+ xs.M1.duty1 +', '+ xs.M1.duty2+', '+ xs.M1.dist+']'+'\\n';\ns=s+'M2=['+ xs.M2.duty1 +', '+ xs.M2.duty2+', '+ xs.M2.dist+']'+'\\n';\ns=s+'M3=['+ xs.M3.duty1 +', '+ xs.M3.duty2+', '+ xs.M3.dist+']'+'\\n';\ns=s+'M4=['+ xs.M4.duty1 +', '+ xs.M4.duty2+', '+ xs.M4.dist+']'+'\\n';\ns+='T='+ xs.T; \n\nmsg.payload=s;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 780,
        "wires": [
            [
                "9e93884b4a67ed58",
                "69bde9a58b75e08a"
            ]
        ]
    },
    {
        "id": "9e93884b4a67ed58",
        "type": "debug",
        "z": "bd4c07398c4539cf",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 740,
        "wires": []
    },
    {
        "id": "ee4539cdc67bc222",
        "type": "inject",
        "z": "bd4c07398c4539cf",
        "name": "SLD input data",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "SLD/s/value/I",
        "payload": "{\"device\":\"SLD\",\"ex\":{\"input\":{\"I1\":{\"uni\":1},\"I2\":{\"uni\":0},\"I3\":{\"uni\":56},\"I4\":{\"uni\":1},\"I5\":{\"uni\":1},\"I6\":{\"uni\":76867},\"I7\":{\"uni\":13},\"I8\":{\"uni\":1},\"T\":\"2000-01-01T00:29:17Z\"}}}",
        "payloadType": "json",
        "x": 120,
        "y": 560,
        "wires": [
            [
                "b1a2c8920e07936b"
            ]
        ]
    },
    {
        "id": "03c8931f765d7962",
        "type": "inject",
        "z": "bd4c07398c4539cf",
        "name": "SLD counter data",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "SLD/s/value/C",
        "payload": "{\"device\":\"SLD\",\"ex\":{\"counter\":{\"C1\":{\"counter\":94,\"reset\":7,\"resetted\":7},\"C2\":{\"counter\":1234,\"reset\":8,\"resetted\":7},\"C3\":{\"counter\":45540,\"reset\":2,\"resetted\":1},\"C4\":{\"counter\":4340,\"reset\":4,\"resetted\":3},\"T\":\"2000-01-01T03:51:30Z\"}}}",
        "payloadType": "json",
        "x": 120,
        "y": 1040,
        "wires": [
            [
                "40b6e2c037c3a51a"
            ]
        ]
    },
    {
        "id": "40b6e2c037c3a51a",
        "type": "function",
        "z": "bd4c07398c4539cf",
        "name": "",
        "func": "var p=msg.payload;\nvar xs=p.ex.counter;\nvar s= 'C1=['+ xs.C1.counter +', '+ xs.C1.reset+', '+ xs.C1.resetted+']'+'\\n';\ns=s+' C2=['+  xs.C2.counter +', '+ xs.C2.reset+', '+ xs.C2.resetted+']'+'\\n';\ns=s+' C3=['+  xs.C3.counter +', '+ xs.C3.reset+', '+ xs.C3.resetted+']'+'\\n';\ns=s+' C4=['+  xs.C4.counter +', '+ xs.C4.reset+', '+ xs.C4.resetted+']'+'\\n';\ns+='T='+ xs.T; \nmsg.payload=s;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 1000,
        "wires": [
            [
                "5ff8f71bbb089f86",
                "f570fbf041b84dc3"
            ]
        ]
    },
    {
        "id": "f570fbf041b84dc3",
        "type": "debug",
        "z": "bd4c07398c4539cf",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 960,
        "wires": []
    },
    {
        "id": "b1a2c8920e07936b",
        "type": "function",
        "z": "bd4c07398c4539cf",
        "name": "",
        "func": "var p=msg.payload;\nvar xs=p.ex.input;\nvar s= 'I=['+ xs.I1.uni +', '+ xs.I2.uni+', '+ xs.I3.uni +', '+ xs.I4.uni;\ns+=', '+ xs.I5.uni +', '+ xs.I5.uni+', '+ xs.I7.uni +', '+ xs.I8.uni+']'+'\\n';\ns+='T='+ xs.T; \n\nmsg.payload=s;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 520,
        "wires": [
            [
                "b5e06cde3cd69c85",
                "cc9446962620583f"
            ]
        ]
    },
    {
        "id": "cc9446962620583f",
        "type": "debug",
        "z": "bd4c07398c4539cf",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 480,
        "wires": []
    },
    {
        "id": "69946c03c89f556b",
        "type": "inject",
        "z": "bd4c07398c4539cf",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "SLD/s/status/M",
        "payload": "{\"device\":\"MPO\",\"ex\":{\"motor\":{\"M1\":{\"i_cmd_id\":0,\"i_reached\":0,\"o_cmd_id\":0,\"o_master\":0},\"M2\":{\"i_cmd_id\":0,\"i_reached\":0,\"o_cmd_id\":0,\"o_master\":0},\"M3\":{\"i_cmd_id\":0,\"i_reached\":0,\"o_cmd_id\":0,\"o_master\":0},\"M4\":{\"i_cmd_id\":0,\"i_reached\":0,\"o_cmd_id\":0,\"o_master\":0},\"T\":\"2000-01-01T00:28:57Z\"}}}",
        "payloadType": "json",
        "x": 110,
        "y": 340,
        "wires": [
            [
                "eadf0e6975988504"
            ]
        ]
    },
    {
        "id": "eadf0e6975988504",
        "type": "function",
        "z": "bd4c07398c4539cf",
        "name": "",
        "func": "var p=msg.payload;\nvar xs=p.ex.motor;\nvar s= 'M1=['+ xs.M1.i_cmd_id +', '+ xs.M1.i_reached+', '+ xs.M1.o_cmd_id+', '+ xs.M1.o_master+']'+'\\n';\ns=s+'M2=['+ xs.M2.i_cmd_id +', '+ xs.M2.i_reached+', '+ xs.M2.o_cmd_id+', '+ xs.M2.o_master+']'+'\\n';\ns=s+'M3=['+ xs.M3.i_cmd_id +', '+ xs.M3.i_reached+', '+ xs.M3.o_cmd_id+', '+ xs.M3.o_master+']'+'\\n';\ns=s+'M4=['+ xs.M4.i_cmd_id +', '+ xs.M4.i_reached+', '+ xs.M4.o_cmd_id+', '+ xs.M4.o_master+']'+'\\n';\ns+='T='+ xs.T; \n\nmsg.payload=s;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 300,
        "wires": [
            [
                "c52229eed3e39fbc",
                "fbda6c9b93db7211"
            ]
        ]
    }
]