flow(ft-factory).json
[
    {
        "id": "4e9eeca57a653287",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c58f8d4b7c13412d",
        "type": "mqtt-broker",
        "name": "laptop(localhost)",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "laptop/status",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "connected",
        "birthMsg": {},
        "closeTopic": "laptop/status",
        "closeQos": "2",
        "closeRetain": "true",
        "closePayload": "closing",
        "closeMsg": {},
        "willTopic": "laptop/status",
        "willQos": "2",
        "willRetain": "true",
        "willPayload": "Killed",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "70f9a5a2aadcbae3",
        "type": "ui_tab",
        "name": "A1",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f5c9be56d5dd31e9",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "My first dashboard",
            "hideToolbar": "false",
            "allowSwipe": "true",
            "lockMenu": "true",
            "allowTempTheme": "false",
            "dateFormat": "YYYY/MM/DD",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "aa9feae58ac4eadd",
        "type": "ui_group",
        "name": "Group1",
        "tab": "70f9a5a2aadcbae3",
        "order": 1,
        "disp": true,
        "width": "13",
        "collapse": false
    },
    {
        "id": "bd582865ce0a4c65",
        "type": "mqtt-broker",
        "name": "TxtUsb",
        "broker": "192.168.7.2",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "TxtUsb/status",
        "birthQos": "2",
        "birthRetain": "true",
        "birthPayload": "connected",
        "birthMsg": {},
        "closeTopic": "TxtUsb/status",
        "closeQos": "2",
        "closeRetain": "true",
        "closePayload": "disconnected",
        "closeMsg": {},
        "willTopic": "TxtUsb/status",
        "willQos": "2",
        "willRetain": "true",
        "willPayload": "killed",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "3a918d14429930a5",
        "type": "mqtt-broker",
        "name": "Txt175",
        "broker": "192.168.20.175",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "Txt175/status",
        "birthQos": "2",
        "birthRetain": "true",
        "birthPayload": "connected",
        "birthMsg": {},
        "closeTopic": "Txt175/status",
        "closeQos": "2",
        "closeRetain": "true",
        "closePayload": "disconnected",
        "closeMsg": {},
        "willTopic": "Txt175/status",
        "willQos": "2",
        "willRetain": "true",
        "willPayload": "killed",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "85f06380b4bc6391",
        "type": "ui_tab",
        "name": "A2",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "2c9faac5d0d18804",
        "type": "ui_tab",
        "name": "Tab 3",
        "icon": "dashboard",
        "order": 4
    },
    {
        "id": "30840b3c631a61fb",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "70f9a5a2aadcbae3",
        "order": 2,
        "disp": true,
        "width": 8,
        "collapse": false
    },
    {
        "id": "ccf5f67a2e5a062e",
        "type": "ui_group",
        "name": "Group 3",
        "tab": "70f9a5a2aadcbae3",
        "order": 3,
        "disp": true,
        "width": 7,
        "collapse": false
    },
    {
        "id": "ff9f35909093f900",
        "type": "ui_group",
        "name": "Group 3.1",
        "tab": "2c9faac5d0d18804",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "590e59f993e7fcf2",
        "type": "ui_group",
        "name": "Group 2.1",
        "tab": "85f06380b4bc6391",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "fc755ce7c4240337",
        "type": "ui_link",
        "name": "Link 4",
        "link": "http://www.TesCaWeb.nl/Carel",
        "icon": "open_in_browser",
        "target": "iframe",
        "order": 1
    },
    {
        "id": "b7b5582d96bb1c75",
        "type": "ui_group",
        "name": "Group 4",
        "tab": "70f9a5a2aadcbae3",
        "order": 4,
        "disp": true,
        "width": 6
    },
    {
        "id": "671f5a64ed1322a7",
        "type": "ui_group",
        "name": "Group 5",
        "tab": "70f9a5a2aadcbae3",
        "order": 5,
        "disp": true,
        "width": 6
    },
    {
        "id": "a5bbf109eb10c9e7",
        "type": "ui_group",
        "name": "Group 6",
        "tab": "70f9a5a2aadcbae3",
        "order": 6,
        "disp": true,
        "width": 6
    },
    {
        "id": "7902ab4912d760bb",
        "type": "ui_spacer",
        "z": "4e9eeca57a653287",
        "name": "spacer",
        "group": "aa9feae58ac4eadd",
        "order": 2,
        "width": 2,
        "height": 1
    },
    {
        "id": "c6ed934a39384496",
        "type": "ui_spacer",
        "z": "4e9eeca57a653287",
        "name": "spacer",
        "group": "aa9feae58ac4eadd",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "69461770741c7e40",
        "type": "ui_spacer",
        "z": "4e9eeca57a653287",
        "name": "spacer",
        "group": "aa9feae58ac4eadd",
        "order": 5,
        "width": 13,
        "height": 1
    },
    {
        "id": "71c45ea60cbe90d0",
        "type": "ui_spacer",
        "z": "4e9eeca57a653287",
        "name": "spacer",
        "group": "aa9feae58ac4eadd",
        "order": 6,
        "width": 13,
        "height": 1
    },
    {
        "id": "44ccf601122cd317",
        "type": "ui_spacer",
        "z": "4e9eeca57a653287",
        "name": "spacer",
        "group": "aa9feae58ac4eadd",
        "order": 7,
        "width": 13,
        "height": 1
    },
    {
        "id": "efa37454fcfd8713",
        "type": "ui_spacer",
        "z": "4e9eeca57a653287",
        "name": "spacer",
        "group": "aa9feae58ac4eadd",
        "order": 8,
        "width": 13,
        "height": 1
    },
    {
        "id": "11285088046042f9",
        "type": "ui_spacer",
        "z": "4e9eeca57a653287",
        "name": "spacer",
        "group": "aa9feae58ac4eadd",
        "order": 9,
        "width": 13,
        "height": 1
    },
    {
        "id": "10937d62666d8588",
        "type": "ui_spacer",
        "z": "4e9eeca57a653287",
        "name": "spacer",
        "group": "aa9feae58ac4eadd",
        "order": 10,
        "width": 13,
        "height": 1
    },
    {
        "id": "d021e128ed25db17",
        "type": "ui_spacer",
        "z": "4e9eeca57a653287",
        "name": "spacer",
        "group": "aa9feae58ac4eadd",
        "order": 11,
        "width": 13,
        "height": 1
    },
    {
        "id": "a16109a9ecf5b9f8",
        "type": "ui_spacer",
        "z": "4e9eeca57a653287",
        "name": "spacer",
        "group": "aa9feae58ac4eadd",
        "order": 12,
        "width": 13,
        "height": 1
    },
    {
        "id": "e9d5174bdf0a2e25",
        "type": "ui_spacer",
        "z": "4e9eeca57a653287",
        "name": "spacer",
        "group": "ccf5f67a2e5a062e",
        "order": 1,
        "width": 7,
        "height": 1
    },
    {
        "id": "989192102d3516ff",
        "type": "ui_spacer",
        "z": "4e9eeca57a653287",
        "name": "spacer",
        "group": "ccf5f67a2e5a062e",
        "order": 2,
        "width": 7,
        "height": 1
    },
    {
        "id": "363d847aa1709d5d",
        "type": "ui_spacer",
        "z": "4e9eeca57a653287",
        "name": "spacer",
        "group": "ccf5f67a2e5a062e",
        "order": 3,
        "width": 7,
        "height": 1
    },
    {
        "id": "2a2a279366c4b5b6",
        "type": "mqtt in",
        "z": "4e9eeca57a653287",
        "name": "receiver mqtt status",
        "topic": "txt/mqtt",
        "qos": "0",
        "datatype": "utf8",
        "broker": "c58f8d4b7c13412d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 160,
        "wires": [
            [
                "02eda2ef93f3bf97",
                "de37a8b93e2d46ae",
                "30e7ab76a96921a9"
            ]
        ],
        "outputLabels": [
            "text"
        ]
    },
    {
        "id": "02eda2ef93f3bf97",
        "type": "ui_text",
        "z": "4e9eeca57a653287",
        "group": "aa9feae58ac4eadd",
        "order": 3,
        "width": "0",
        "height": "0",
        "name": "MQTT status",
        "label": "mqtt_status",
        "format": "{{msg.topic},{msg.payload}}",
        "layout": "row-spread",
        "x": 590,
        "y": 80,
        "wires": []
    },
    {
        "id": "de37a8b93e2d46ae",
        "type": "debug",
        "z": "4e9eeca57a653287",
        "name": "mqtt status",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 550,
        "y": 200,
        "wires": []
    },
    {
        "id": "22dfbc3588c68679",
        "type": "ui_text",
        "z": "4e9eeca57a653287",
        "group": "aa9feae58ac4eadd",
        "order": 1,
        "width": "8",
        "height": "6",
        "name": "Value",
        "label": "value",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 430,
        "y": 500,
        "wires": []
    },
    {
        "id": "187c40ec5c7fe699",
        "type": "ui_text_input",
        "z": "4e9eeca57a653287",
        "name": "txt Configuration",
        "label": "TXT_conf",
        "tooltip": "configaratie van de controller",
        "group": "aa9feae58ac4eadd",
        "order": 13,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "topicType": "msg",
        "x": 460,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "7d47b52a3af6da21",
        "type": "ui_switch",
        "z": "4e9eeca57a653287",
        "name": "test",
        "label": "switch",
        "tooltip": "",
        "group": "ccf5f67a2e5a062e",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 90,
        "y": 40,
        "wires": [
            [
                "02eda2ef93f3bf97"
            ]
        ]
    },
    {
        "id": "b56c4e3d6894899d",
        "type": "mqtt in",
        "z": "4e9eeca57a653287",
        "name": "receiver  value",
        "topic": "txt/s/value/#",
        "qos": "0",
        "datatype": "json",
        "broker": "c58f8d4b7c13412d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 440,
        "wires": [
            [
                "44a5c5fccb018e8f",
                "22dfbc3588c68679"
            ]
        ],
        "outputLabels": [
            "text"
        ]
    },
    {
        "id": "2f9e78e12c9d2adb",
        "type": "mqtt in",
        "z": "4e9eeca57a653287",
        "name": "receiver conf",
        "topic": "txt/s/conf/#",
        "qos": "0",
        "datatype": "json",
        "broker": "c58f8d4b7c13412d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 360,
        "wires": [
            [
                "7026c40a7175f78b",
                "187c40ec5c7fe699"
            ]
        ],
        "outputLabels": [
            "text"
        ]
    },
    {
        "id": "6c6b68053b4940e0",
        "type": "mqtt in",
        "z": "4e9eeca57a653287",
        "name": "receiver status",
        "topic": "txt/s/status",
        "qos": "0",
        "datatype": "json",
        "broker": "c58f8d4b7c13412d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 300,
        "wires": [
            [
                "ba04ef9fa3ecd6c4"
            ]
        ],
        "outputLabels": [
            "text"
        ]
    },
    {
        "id": "7026c40a7175f78b",
        "type": "debug",
        "z": "4e9eeca57a653287",
        "name": "conf",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "jsonata",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 430,
        "y": 360,
        "wires": []
    },
    {
        "id": "ba04ef9fa3ecd6c4",
        "type": "debug",
        "z": "4e9eeca57a653287",
        "name": "status",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "jsonata",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 420,
        "y": 300,
        "wires": []
    },
    {
        "id": "44a5c5fccb018e8f",
        "type": "debug",
        "z": "4e9eeca57a653287",
        "name": "Value",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "jsonata",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 420,
        "y": 440,
        "wires": []
    },
    {
        "id": "30e7ab76a96921a9",
        "type": "ui_toast",
        "z": "4e9eeca57a653287",
        "position": "top left",
        "displayTime": "5",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": true,
        "topic": "#",
        "name": "mqtt",
        "x": 570,
        "y": 140,
        "wires": []
    },
    {
        "id": "cb249ba6ba04cbbe",
        "type": "ui_text",
        "z": "4e9eeca57a653287",
        "group": "aa9feae58ac4eadd",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "txt data",
        "label": "txt data",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 800,
        "y": 600,
        "wires": []
    },
    {
        "id": "1609fcc3d4de6e42",
        "type": "mqtt in",
        "z": "4e9eeca57a653287",
        "name": "p  value",
        "topic": "txt/p/#",
        "qos": "0",
        "datatype": "json",
        "broker": "c58f8d4b7c13412d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 580,
        "wires": [
            [
                "cb249ba6ba04cbbe",
                "94a1bc1eeca2e9ee",
                "dd547951abe66cb1"
            ]
        ],
        "outputLabels": [
            "text"
        ]
    },
    {
        "id": "cd50e099734a83d5",
        "type": "debug",
        "z": "4e9eeca57a653287",
        "name": "Value",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 900,
        "y": 540,
        "wires": []
    },
    {
        "id": "3ea86854cadcd14a",
        "type": "mqtt in JSON",
        "z": "4e9eeca57a653287",
        "name": "",
        "topic": "txt/mqtt",
        "qos": "0",
        "broker": "c58f8d4b7c13412d",
        "ignoreempty": true,
        "removemqttconfig": false,
        "x": 80,
        "y": 240,
        "wires": [
            [
                "4c5e224836b78723"
            ]
        ]
    },
    {
        "id": "4c5e224836b78723",
        "type": "ui_text",
        "z": "4e9eeca57a653287",
        "group": "aa9feae58ac4eadd",
        "order": 14,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 620,
        "y": 280,
        "wires": []
    },
    {
        "id": "f3094bbdc00853ec",
        "type": "ui_text",
        "z": "4e9eeca57a653287",
        "group": "aa9feae58ac4eadd",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "txt_data",
        "label": "txt data parse",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 860,
        "y": 680,
        "wires": []
    },
    {
        "id": "94a1bc1eeca2e9ee",
        "type": "json2md",
        "z": "4e9eeca57a653287",
        "name": "Parse json to markdown",
        "x": 530,
        "y": 640,
        "wires": [
            []
        ],
        "inputLabels": [
            "dara"
        ],
        "outputLabels": [
            "out"
        ]
    },
    {
        "id": "dd547951abe66cb1",
        "type": "contrib-json",
        "z": "4e9eeca57a653287",
        "engine": "JSONSelect",
        "command": "jq",
        "expr": ":root > .par [1]",
        "complete": "complete",
        "prop": "payload",
        "name": "",
        "x": 520,
        "y": 720,
        "wires": [
            [
                "f3094bbdc00853ec",
                "cd50e099734a83d5"
            ]
        ]
    },
    {
        "id": "1c1ba70ece2270da",
        "type": "function",
        "z": "4e9eeca57a653287",
        "name": "PmsgToText",
        "func": "var topic=msg.topic;\nvar payload=msg.payload;\n\nvar objId = payload.id;\nvar objp1 = payload.par[1];\nvar objp2 = payload.par[2];\nvar objp3 = payload.par[3];\nvar objp4 = payload.par[41];\nvar objp5 = payload.par[5];\nvar objT = payload.t;\n\n\nvar msgp1={};\nvar msgp2={};\nvar msgp3={};\nvar msgp4={};\nvar msgp5={};\nvar msgId={};\nvar msgT={};\n\nmsgId.payload=  objId ;\nmsgId.topic= \"txt/new\";\n\nmsgp1.payload= JSON.stringify(  obj1 );\nmsgp1.topic= \"txt/new\";\n\nmsgp2.payload= JSON.stringify(  obj2 );\nmsgp2.topic =   \"txt/new\";\n\nmsgp3.payload= JSON.stringify(  obj3 );\nmsgp3.topic =   \"txt/new\";\n\nmsgp4.payload=  JSON.stringify(  obj4 );\nmsgp4.topic =   \"txt/new\";\n\nmsgp5.payload= JSON.stringify(  obj5 );\nmsgp5.topic =   \"txt/new\";\nmsgp5.payload= objT;// JSON.stringify(  objT );\nmsgp5.topic =   \"txt/new\";\n\nreturn [msgId, msgp1,msgp2,msgp3,msgp4,msgp5,msgT ];",
        "outputs": 7,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1090,
        "y": 200,
        "wires": [
            [
                "ec7721de0f0b7d9f",
                "c8c6985e30350b1e"
            ],
            [
                "86665031f9eda74e",
                "8a4394a9efdfaf28"
            ],
            [
                "bd6fe3064ac45870",
                "c3260f8802de14dd"
            ],
            [
                "45e99371d7011bb1",
                "ed5d7988321c83d2"
            ],
            [
                "258bdb81abc46b8c",
                "35b6a4eaa4c6fc41"
            ],
            [
                "74361d051dabcde1",
                "46ef86020f10826a"
            ],
            [
                "43bfbe0e48bb946f",
                "d53d29e2fc1c5871"
            ]
        ],
        "inputLabels": [
            "Json{}"
        ],
        "outputLabels": [
            "Id",
            "P1",
            "P2",
            "P3",
            "P4",
            "P5",
            "Time"
        ]
    },
    {
        "id": "c901d370e731fb8e",
        "type": "inject",
        "z": "4e9eeca57a653287",
        "name": "P-msg",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "txt/test1",
        "payload": "{\"id\":\"p1\",\"par\":[34,253,65,512,-23],\"t\":\"2014-06-25T00:00:00.000Z\"}",
        "payloadType": "str",
        "x": 790,
        "y": 140,
        "wires": [
            [
                "0e42115eb538c443"
            ]
        ],
        "outputLabels": [
            "Json"
        ]
    },
    {
        "id": "b602821ef01f4d29",
        "type": "inject",
        "z": "4e9eeca57a653287",
        "name": "Value-msg",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "txt/test2",
        "payload": "{\"device\":\"Ussel2017\",\"ex\":{\"counter\":{\"C1\":{\"i_cnt\":0,\"i_counter\":0,\"i_reset\":0,\"i_resetted\":0},\"C2\":{\"i_cnt\":0,\"i_counter\":0,\"i_reset\":0,\"i_resetted\":0},\"C3\":{\"i_cnt\":0,\"i_counter\":1235,\"i_reset\":0,\"i_resetted\":0},\"C4\":{\"i_cnt\":0,\"i_counter\":0,\"i_reset\":0,\"i_resetted\":0}},\"input\":{\"I1\":{\"i_uni\":0},\"I2\":{\"i_uni\":1},\"I3\":{\"i_uni\":0},\"I4\":{\"i_uni\":0},\"I5\":{\"i_uni\":0},\"I6\":{\"i_uni\":0},\"I7\":{\"i_uni\":0},\"I8\":{\"i_uni\":0}},\"motor\":{\"M1\":{\"o_dista\":0,\"o_duty1\":512,\"o_duty2\":0},\"M2\":{\"o_dista\":0,\"o_duty1\":512,\"o_duty2\":0},\"M3\":{\"o_dista\":1234,\"o_duty1\":0,\"o_duty2\":512},\"M4\":{\"o_dista\":0,\"o_duty1\":0,\"o_duty2\":0}}}}",
        "payloadType": "json",
        "x": 820,
        "y": 300,
        "wires": [
            []
        ],
        "outputLabels": [
            "Json"
        ]
    },
    {
        "id": "8a4394a9efdfaf28",
        "type": "debug",
        "z": "4e9eeca57a653287",
        "name": "P1",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1310,
        "y": 60,
        "wires": []
    },
    {
        "id": "bd6fe3064ac45870",
        "type": "debug",
        "z": "4e9eeca57a653287",
        "name": "P2",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1310,
        "y": 140,
        "wires": []
    },
    {
        "id": "74361d051dabcde1",
        "type": "debug",
        "z": "4e9eeca57a653287",
        "name": "P5",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1330,
        "y": 340,
        "wires": []
    },
    {
        "id": "ed5d7988321c83d2",
        "type": "debug",
        "z": "4e9eeca57a653287",
        "name": "P3",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1330,
        "y": 200,
        "wires": []
    },
    {
        "id": "258bdb81abc46b8c",
        "type": "debug",
        "z": "4e9eeca57a653287",
        "name": "P4",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1330,
        "y": 260,
        "wires": []
    },
    {
        "id": "0e42115eb538c443",
        "type": "json",
        "z": "4e9eeca57a653287",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 930,
        "y": 140,
        "wires": [
            [
                "1c1ba70ece2270da"
            ]
        ]
    },
    {
        "id": "45e99371d7011bb1",
        "type": "ui_text",
        "z": "4e9eeca57a653287",
        "group": "30840b3c631a61fb",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "txt_p3",
        "label": "P3=",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "x": 1470,
        "y": 240,
        "wires": []
    },
    {
        "id": "35b6a4eaa4c6fc41",
        "type": "ui_text",
        "z": "4e9eeca57a653287",
        "group": "30840b3c631a61fb",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "txt_p4",
        "label": "P4=",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "x": 1470,
        "y": 300,
        "wires": []
    },
    {
        "id": "c3260f8802de14dd",
        "type": "ui_text",
        "z": "4e9eeca57a653287",
        "group": "30840b3c631a61fb",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "txt_p2",
        "label": "P2=",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "x": 1470,
        "y": 160,
        "wires": []
    },
    {
        "id": "46ef86020f10826a",
        "type": "ui_text",
        "z": "4e9eeca57a653287",
        "group": "30840b3c631a61fb",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "txt_p5",
        "label": "P5=",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "x": 1470,
        "y": 380,
        "wires": []
    },
    {
        "id": "86665031f9eda74e",
        "type": "ui_text",
        "z": "4e9eeca57a653287",
        "group": "30840b3c631a61fb",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "txt_p1",
        "label": "P1=",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "x": 1470,
        "y": 100,
        "wires": []
    },
    {
        "id": "ec7721de0f0b7d9f",
        "type": "debug",
        "z": "4e9eeca57a653287",
        "name": "Id",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1350,
        "y": 20,
        "wires": []
    },
    {
        "id": "c8c6985e30350b1e",
        "type": "ui_text",
        "z": "4e9eeca57a653287",
        "group": "30840b3c631a61fb",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "txt_Id",
        "label": "Id=",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "x": 1490,
        "y": 40,
        "wires": []
    },
    {
        "id": "43bfbe0e48bb946f",
        "type": "debug",
        "z": "4e9eeca57a653287",
        "name": "Time",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1340,
        "y": 420,
        "wires": []
    },
    {
        "id": "d53d29e2fc1c5871",
        "type": "ui_text",
        "z": "4e9eeca57a653287",
        "group": "30840b3c631a61fb",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "txt_time",
        "label": "Time=",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "x": 1400,
        "y": 480,
        "wires": []
    }
]