flow(ft-factory).json
[
    {
        "id": "4e9eeca57a653287",
        "type": "tab",
        "label": "Main Flow",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0fe26fd701518822",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4c7e81e43391897e",
        "type": "tab",
        "label": "Send motor data to TXT",
        "disabled": false,
        "info": "# Motor\n\nSend data to a TXT to activated a motor",
        "env": []
    },
    {
        "id": "f0a66f6a5cd9f8b9",
        "type": "tab",
        "label": "Receive P-data from TXT",
        "disabled": false,
        "info": "Subscribe P-data from TXT\n\n\t\"txt/p\",        \n\t\"txt/p/p1\",\n\t\t\"txt/p/p2\",\n\t\t\"txt/p/p3\",\n\t\t\"txt/s\",         \n\t\t\"txt/s/p1\",\n\t\t\"txt/s/p2\",\n\t\t\"txt/s/p3\"",
        "env": []
    },
    {
        "id": "86129776fa6cf627",
        "type": "tab",
        "label": "Publish P-data to TXT",
        "disabled": false,
        "info": "Publish P-data to TXT\ntopic= <txt>/out/p1\n5 different sub messages.\n\n\t\t\"txt/p\",        \n\t\t\"txt/p/p1\",\n\t\t\"txt/p/p2\",\n\t\t\"txt/p/p3\",\n\t\t\"txt/s\",         \n\t\t\"txt/s/p1\",\n\t\t\"txt/s/p2\",\n\t\t\"txt/s/p3\"",
        "env": []
    },
    {
        "id": "91a23abe8e481d5a",
        "type": "tab",
        "label": "Emergency stop",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1ddee8b072c433e9",
        "type": "subflow",
        "name": "ShowPmessage",
        "info": "",
        "category": "dashboard",
        "in": [
            {
                "x": 60,
                "y": 360,
                "wires": [
                    {
                        "id": "ead821eead376006"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "c58f8d4b7c13412d",
        "type": "mqtt-broker",
        "name": "laptop(localhost)",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "laptop/status",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "connected",
        "birthMsg": {},
        "closeTopic": "laptop/status",
        "closeQos": "2",
        "closeRetain": "true",
        "closePayload": "closing",
        "closeMsg": {},
        "willTopic": "laptop/status",
        "willQos": "2",
        "willRetain": "true",
        "willPayload": "Killed",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "70f9a5a2aadcbae3",
        "type": "ui_tab",
        "name": "A1",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f5c9be56d5dd31e9",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "MQTT test dashboard",
            "hideToolbar": "false",
            "allowSwipe": "true",
            "lockMenu": "true",
            "allowTempTheme": "none",
            "dateFormat": "YYYY/MM/DD",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "aa9feae58ac4eadd",
        "type": "ui_group",
        "name": "Group1",
        "tab": "70f9a5a2aadcbae3",
        "order": 1,
        "disp": true,
        "width": 11,
        "collapse": false
    },
    {
        "id": "bd582865ce0a4c65",
        "type": "mqtt-broker",
        "name": "TxtUsb",
        "broker": "192.168.7.2",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "TxtUsb/status",
        "birthQos": "2",
        "birthRetain": "true",
        "birthPayload": "connected",
        "birthMsg": {},
        "closeTopic": "TxtUsb/status",
        "closeQos": "2",
        "closeRetain": "true",
        "closePayload": "disconnected",
        "closeMsg": {},
        "willTopic": "TxtUsb/status",
        "willQos": "2",
        "willRetain": "true",
        "willPayload": "killed",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "3a918d14429930a5",
        "type": "mqtt-broker",
        "name": "Txt175",
        "broker": "192.168.20.175",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "Txt175/status",
        "birthQos": "2",
        "birthRetain": "true",
        "birthPayload": "connected",
        "birthMsg": {},
        "closeTopic": "Txt175/status",
        "closeQos": "2",
        "closeRetain": "true",
        "closePayload": "disconnected",
        "closeMsg": {},
        "willTopic": "Txt175/status",
        "willQos": "2",
        "willRetain": "true",
        "willPayload": "killed",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "85f06380b4bc6391",
        "type": "ui_tab",
        "name": "A2",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "2c9faac5d0d18804",
        "type": "ui_tab",
        "name": "Tab 3",
        "icon": "dashboard",
        "order": 3
    },
    {
        "id": "30840b3c631a61fb",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "70f9a5a2aadcbae3",
        "order": 2,
        "disp": true,
        "width": 7,
        "collapse": false
    },
    {
        "id": "ccf5f67a2e5a062e",
        "type": "ui_group",
        "name": "Group 3",
        "tab": "70f9a5a2aadcbae3",
        "order": 3,
        "disp": true,
        "width": 7,
        "collapse": false
    },
    {
        "id": "ff9f35909093f900",
        "type": "ui_group",
        "name": "Group 3.1",
        "tab": "2c9faac5d0d18804",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "590e59f993e7fcf2",
        "type": "ui_group",
        "name": "Group 2.1",
        "tab": "85f06380b4bc6391",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "fc755ce7c4240337",
        "type": "ui_link",
        "name": "Link 4",
        "link": "http://www.TesCaWeb.nl/Carel",
        "icon": "open_in_browser",
        "target": "iframe",
        "order": 4
    },
    {
        "id": "b7b5582d96bb1c75",
        "type": "ui_group",
        "name": "Group 4",
        "tab": "70f9a5a2aadcbae3",
        "order": 4,
        "disp": true,
        "width": 6
    },
    {
        "id": "671f5a64ed1322a7",
        "type": "ui_group",
        "name": "Group 5",
        "tab": "70f9a5a2aadcbae3",
        "order": 5,
        "disp": true,
        "width": 6
    },
    {
        "id": "24a1f7aac82fdc8e",
        "type": "ui_tab",
        "name": "Tab 5",
        "icon": "dashboard",
        "order": 5
    },
    {
        "id": "c7a5b91369d369db",
        "type": "ui_group",
        "name": "Group 6",
        "tab": "70f9a5a2aadcbae3",
        "order": 6,
        "disp": true,
        "width": 6
    },
    {
        "id": "f4d27e8436785395",
        "type": "ui_spacer",
        "z": "86129776fa6cf627",
        "name": "spacer",
        "group": "aa9feae58ac4eadd",
        "order": 2,
        "width": 5,
        "height": 1
    },
    {
        "id": "0dc9a093a04d0f8c",
        "type": "ui_spacer",
        "z": "86129776fa6cf627",
        "name": "spacer",
        "group": "aa9feae58ac4eadd",
        "order": 3,
        "width": 5,
        "height": 1
    },
    {
        "id": "d05daef17eb0a47d",
        "type": "ui_spacer",
        "z": "86129776fa6cf627",
        "name": "spacer",
        "group": "aa9feae58ac4eadd",
        "order": 4,
        "width": 5,
        "height": 1
    },
    {
        "id": "03c9fccd59337aee",
        "type": "ui_spacer",
        "z": "86129776fa6cf627",
        "name": "spacer",
        "group": "aa9feae58ac4eadd",
        "order": 5,
        "width": 11,
        "height": 1
    },
    {
        "id": "0c9511e409ebf31d",
        "type": "ui_spacer",
        "z": "86129776fa6cf627",
        "name": "spacer",
        "group": "aa9feae58ac4eadd",
        "order": 10,
        "width": 11,
        "height": 1
    },
    {
        "id": "c956e66f1f5f5b75",
        "type": "ui_spacer",
        "z": "86129776fa6cf627",
        "name": "spacer",
        "group": "30840b3c631a61fb",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "d1438f13e8da220c",
        "type": "ui_spacer",
        "z": "86129776fa6cf627",
        "name": "spacer",
        "group": "30840b3c631a61fb",
        "order": 9,
        "width": 3,
        "height": 1
    },
    {
        "id": "e575c9515dcd8e62",
        "type": "ui_spacer",
        "z": "86129776fa6cf627",
        "name": "spacer",
        "group": "ccf5f67a2e5a062e",
        "order": 5,
        "width": 3,
        "height": 1
    },
    {
        "id": "2d46f6d510076a19",
        "type": "ui_spacer",
        "z": "86129776fa6cf627",
        "name": "spacer",
        "group": "671f5a64ed1322a7",
        "order": 2,
        "width": 2,
        "height": 1
    },
    {
        "id": "ead821eead376006",
        "type": "function",
        "z": "1ddee8b072c433e9",
        "name": "PmsgToText",
        "func": "var topic=msg.topic;\nvar payload=msg.payload;\n\nvar objId = payload.id;\nvar objp1 = payload.par[0];\nvar objp2 = payload.par[1];\nvar objp3 = payload.par[2];\nvar objp4 = payload.par[3];\nvar objp5 = payload.par[4];\nvar objT = payload.t;\n\n\nvar msgp1={};\nvar msgp2={};\nvar msgp3={};\nvar msgp4={};\nvar msgp5={};\nvar msgId={};\nvar msgT={};\n\nmsgId.payload=  objId ;\nmsgId.topic= \"txt/new\";\n\nmsgp1.payload= JSON.stringify(  objp1 );\nmsgp1.topic= \"txt/new\";\n\nmsgp2.payload= JSON.stringify(  objp2 );\nmsgp2.topic =   \"txt/new\";\n\nmsgp3.payload= JSON.stringify(  objp3 );\nmsgp3.topic =   \"txt/new\";\n\nmsgp4.payload=  JSON.stringify( objp4 );\nmsgp4.topic =   \"txt/new\";\n\nmsgp5.payload= JSON.stringify(  objp5 );\nmsgp5.topic =   \"txt/new\";\n\nmsgT.payload= objT;// JSON.stringify(  objT );\nmsgT.topic =   \"txt/new\";\n\nreturn [msgId, msgp1,msgp2,msgp3,msgp4,msgp5,msgT ];",
        "outputs": 7,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 300,
        "wires": [
            [
                "f530bbe77edf422d"
            ],
            [
                "992d12bf21e1d55a",
                "54565dc94cbab058"
            ],
            [
                "c4a7a31bec8fb84c",
                "19791cd1aaed509b"
            ],
            [
                "a73d9ea8e177da05"
            ],
            [
                "87c4a68eface98c1",
                "1e64edf8bec3adbe"
            ],
            [
                "1f06885733d3866c",
                "ea1d7a82a6180e5d"
            ],
            [
                "3765ebc97d94aa9e",
                "2855acd71ce6b22a"
            ]
        ],
        "inputLabels": [
            "Json{}"
        ],
        "outputLabels": [
            "Id",
            "P1",
            "P2",
            "P3",
            "P4",
            "P5",
            "Time"
        ]
    },
    {
        "id": "a73ec3fdf3dfa7c8",
        "type": "inject",
        "z": "1ddee8b072c433e9",
        "name": "P-msg",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "txt/test1",
        "payload": "{\"id\":\"p1\",\"par\":[34,253,65,512,-23],\"t\":\"2014-06-25T00:00:00.000Z\"}",
        "payloadType": "str",
        "x": 110,
        "y": 220,
        "wires": [
            [
                "e14f6d882278fabf"
            ]
        ],
        "outputLabels": [
            "Json"
        ]
    },
    {
        "id": "54565dc94cbab058",
        "type": "debug",
        "z": "1ddee8b072c433e9",
        "name": "P1",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 770,
        "y": 160,
        "wires": []
    },
    {
        "id": "c4a7a31bec8fb84c",
        "type": "debug",
        "z": "1ddee8b072c433e9",
        "name": "P2",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 770,
        "y": 260,
        "wires": []
    },
    {
        "id": "1f06885733d3866c",
        "type": "debug",
        "z": "1ddee8b072c433e9",
        "name": "P5",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 770,
        "y": 560,
        "wires": []
    },
    {
        "id": "a73d9ea8e177da05",
        "type": "debug",
        "z": "1ddee8b072c433e9",
        "name": "P3",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 770,
        "y": 360,
        "wires": []
    },
    {
        "id": "87c4a68eface98c1",
        "type": "debug",
        "z": "1ddee8b072c433e9",
        "name": "P4",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 770,
        "y": 460,
        "wires": []
    },
    {
        "id": "e14f6d882278fabf",
        "type": "json",
        "z": "1ddee8b072c433e9",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 290,
        "y": 280,
        "wires": [
            [
                "ead821eead376006"
            ]
        ]
    },
    {
        "id": "1e64edf8bec3adbe",
        "type": "ui_text",
        "z": "1ddee8b072c433e9",
        "group": "671f5a64ed1322a7",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "txt_p4",
        "label": "P4=",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "className": "",
        "x": 770,
        "y": 520,
        "wires": []
    },
    {
        "id": "19791cd1aaed509b",
        "type": "ui_text",
        "z": "1ddee8b072c433e9",
        "group": "671f5a64ed1322a7",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "txt_p2",
        "label": "P2=",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "className": "",
        "x": 770,
        "y": 320,
        "wires": []
    },
    {
        "id": "ea1d7a82a6180e5d",
        "type": "ui_text",
        "z": "1ddee8b072c433e9",
        "group": "671f5a64ed1322a7",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "txt_p5",
        "label": "P5=",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "className": "",
        "x": 770,
        "y": 620,
        "wires": []
    },
    {
        "id": "992d12bf21e1d55a",
        "type": "ui_text",
        "z": "1ddee8b072c433e9",
        "group": "671f5a64ed1322a7",
        "order": 3,
        "width": 6,
        "height": 1,
        "name": "txt_p1",
        "label": "P1=",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "className": "",
        "x": 770,
        "y": 220,
        "wires": []
    },
    {
        "id": "f530bbe77edf422d",
        "type": "debug",
        "z": "1ddee8b072c433e9",
        "name": "Id",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 770,
        "y": 60,
        "wires": []
    },
    {
        "id": "3765ebc97d94aa9e",
        "type": "debug",
        "z": "1ddee8b072c433e9",
        "name": "Time",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 780,
        "y": 660,
        "wires": []
    },
    {
        "id": "2855acd71ce6b22a",
        "type": "ui_text",
        "z": "1ddee8b072c433e9",
        "group": "671f5a64ed1322a7",
        "order": 1,
        "width": 4,
        "height": 1,
        "name": "txt_time",
        "label": "Time=",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "className": "",
        "x": 780,
        "y": 720,
        "wires": []
    },
    {
        "id": "2a2a279366c4b5b6",
        "type": "mqtt in",
        "z": "4e9eeca57a653287",
        "name": "receiver mqtt status",
        "topic": "txt/mqtt",
        "qos": "0",
        "datatype": "utf8",
        "broker": "c58f8d4b7c13412d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 160,
        "wires": [
            [
                "02eda2ef93f3bf97",
                "de37a8b93e2d46ae",
                "30e7ab76a96921a9"
            ]
        ],
        "outputLabels": [
            "text"
        ]
    },
    {
        "id": "02eda2ef93f3bf97",
        "type": "ui_text",
        "z": "4e9eeca57a653287",
        "group": "aa9feae58ac4eadd",
        "order": 8,
        "width": 11,
        "height": 1,
        "name": "MQTT status",
        "label": "mqtt_status",
        "format": "{{msg.topic},{msg.payload}}",
        "layout": "row-spread",
        "x": 590,
        "y": 80,
        "wires": []
    },
    {
        "id": "de37a8b93e2d46ae",
        "type": "debug",
        "z": "4e9eeca57a653287",
        "name": "mqtt status",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 550,
        "y": 200,
        "wires": []
    },
    {
        "id": "22dfbc3588c68679",
        "type": "ui_text",
        "z": "4e9eeca57a653287",
        "group": "aa9feae58ac4eadd",
        "order": 6,
        "width": 11,
        "height": 3,
        "name": "Value",
        "label": "value",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 430,
        "y": 500,
        "wires": []
    },
    {
        "id": "187c40ec5c7fe699",
        "type": "ui_text_input",
        "z": "4e9eeca57a653287",
        "name": "txt Configuration",
        "label": "TXT_conf",
        "tooltip": "configaratie van de controller",
        "group": "aa9feae58ac4eadd",
        "order": 9,
        "width": 11,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "topicType": "msg",
        "x": 460,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "7d47b52a3af6da21",
        "type": "ui_switch",
        "z": "4e9eeca57a653287",
        "name": "test",
        "label": "switch",
        "tooltip": "",
        "group": "ccf5f67a2e5a062e",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 90,
        "y": 40,
        "wires": [
            [
                "02eda2ef93f3bf97"
            ]
        ]
    },
    {
        "id": "b56c4e3d6894899d",
        "type": "mqtt in",
        "z": "4e9eeca57a653287",
        "name": "receiver  value",
        "topic": "txt/s/value/#",
        "qos": "0",
        "datatype": "json",
        "broker": "c58f8d4b7c13412d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 440,
        "wires": [
            [
                "44a5c5fccb018e8f",
                "22dfbc3588c68679"
            ]
        ],
        "outputLabels": [
            "text"
        ]
    },
    {
        "id": "2f9e78e12c9d2adb",
        "type": "mqtt in",
        "z": "4e9eeca57a653287",
        "name": "receiver conf",
        "topic": "txt/s/conf/#",
        "qos": "0",
        "datatype": "json",
        "broker": "c58f8d4b7c13412d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 360,
        "wires": [
            [
                "7026c40a7175f78b",
                "187c40ec5c7fe699"
            ]
        ],
        "outputLabels": [
            "text"
        ]
    },
    {
        "id": "6c6b68053b4940e0",
        "type": "mqtt in",
        "z": "4e9eeca57a653287",
        "name": "receiver status",
        "topic": "txt/s/status",
        "qos": "0",
        "datatype": "json",
        "broker": "c58f8d4b7c13412d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 300,
        "wires": [
            [
                "ba04ef9fa3ecd6c4"
            ]
        ],
        "outputLabels": [
            "text"
        ]
    },
    {
        "id": "7026c40a7175f78b",
        "type": "debug",
        "z": "4e9eeca57a653287",
        "name": "conf",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "jsonata",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 430,
        "y": 360,
        "wires": []
    },
    {
        "id": "ba04ef9fa3ecd6c4",
        "type": "debug",
        "z": "4e9eeca57a653287",
        "name": "status",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "jsonata",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 420,
        "y": 300,
        "wires": []
    },
    {
        "id": "44a5c5fccb018e8f",
        "type": "debug",
        "z": "4e9eeca57a653287",
        "name": "Value",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "jsonata",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 420,
        "y": 440,
        "wires": []
    },
    {
        "id": "30e7ab76a96921a9",
        "type": "ui_toast",
        "z": "4e9eeca57a653287",
        "position": "top left",
        "displayTime": "5",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": true,
        "topic": "#",
        "name": "mqtt",
        "x": 570,
        "y": 140,
        "wires": []
    },
    {
        "id": "3ea86854cadcd14a",
        "type": "mqtt in JSON",
        "z": "4e9eeca57a653287",
        "name": "",
        "topic": "txt/mqtt",
        "qos": "0",
        "broker": "c58f8d4b7c13412d",
        "ignoreempty": true,
        "removemqttconfig": false,
        "x": 80,
        "y": 240,
        "wires": [
            [
                "4c5e224836b78723"
            ]
        ]
    },
    {
        "id": "4c5e224836b78723",
        "type": "ui_text",
        "z": "4e9eeca57a653287",
        "group": "aa9feae58ac4eadd",
        "order": 11,
        "width": 11,
        "height": 2,
        "name": "outTT",
        "label": "TT=",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 620,
        "y": 280,
        "wires": []
    },
    {
        "id": "ac6626680c328fd6",
        "type": "ui_text_input",
        "z": "4e9eeca57a653287",
        "name": "inP1",
        "label": "P1=",
        "tooltip": "",
        "group": "ccf5f67a2e5a062e",
        "order": 3,
        "width": 2,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 1070,
        "y": 960,
        "wires": [
            [
                "f223209feacb7f86"
            ]
        ]
    },
    {
        "id": "fe40d63bde94cf05",
        "type": "ui_text_input",
        "z": "4e9eeca57a653287",
        "name": "inP2",
        "label": "P2=",
        "tooltip": "",
        "group": "ccf5f67a2e5a062e",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 1070,
        "y": 1000,
        "wires": [
            [
                "f223209feacb7f86"
            ]
        ]
    },
    {
        "id": "f074621419c85ece",
        "type": "ui_text_input",
        "z": "4e9eeca57a653287",
        "name": "inP3",
        "label": "P3=",
        "tooltip": "",
        "group": "ccf5f67a2e5a062e",
        "order": 4,
        "width": 2,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 1070,
        "y": 1040,
        "wires": [
            [
                "f223209feacb7f86"
            ]
        ]
    },
    {
        "id": "aeec0403d47b3c6f",
        "type": "ui_slider",
        "z": "4e9eeca57a653287",
        "name": "inP4",
        "label": "P4=",
        "tooltip": "",
        "group": "ccf5f67a2e5a062e",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "-512",
        "max": "512",
        "step": 1,
        "className": "",
        "x": 1070,
        "y": 1100,
        "wires": [
            [
                "f223209feacb7f86"
            ]
        ]
    },
    {
        "id": "f223209feacb7f86",
        "type": "function",
        "z": "4e9eeca57a653287",
        "name": "",
        "func": "\nreturn msg;",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 1140,
        "wires": [
            [
                "740974992d34062f"
            ],
            [
                "0677eab1b559fc4c"
            ],
            []
        ]
    },
    {
        "id": "740974992d34062f",
        "type": "function",
        "z": "4e9eeca57a653287",
        "name": "",
        "func": "\nreturn msg;",
        "outputs": 4,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 1000,
        "wires": [
            [
                "ac6626680c328fd6"
            ],
            [
                "fe40d63bde94cf05"
            ],
            [
                "f074621419c85ece"
            ],
            [
                "aeec0403d47b3c6f"
            ]
        ]
    },
    {
        "id": "0677eab1b559fc4c",
        "type": "mqtt out",
        "z": "4e9eeca57a653287",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c58f8d4b7c13412d",
        "x": 1690,
        "y": 980,
        "wires": []
    },
    {
        "id": "15eb2257612e367f",
        "type": "sort",
        "z": "4e9eeca57a653287",
        "name": "",
        "order": "ascending",
        "as_num": false,
        "target": "payload",
        "targetType": "msg",
        "msgKey": "payload",
        "msgKeyType": "elem",
        "seqKey": "payload",
        "seqKeyType": "msg",
        "x": 1190,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "ea5b1d3fd2440b96",
        "type": "ui_form",
        "z": "4c7e81e43391897e",
        "name": "set_act",
        "label": "Actuator",
        "group": "b7b5582d96bb1c75",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "M [1..4]=",
                "value": "outMid",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "P [-512-512]=",
                "value": "outP",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "D [0..]=",
                "value": "outD",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "outMid": "",
            "outP": "",
            "outD": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "txt/act",
        "topicType": "str",
        "splitLayout": true,
        "className": "",
        "x": 420,
        "y": 240,
        "wires": [
            [
                "156bf0a285ed6539",
                "4b6f7179ec3b16d8"
            ]
        ],
        "inputLabels": [
            "data_in"
        ],
        "outputLabels": [
            "data_out"
        ]
    },
    {
        "id": "a1af0c2aa40e5882",
        "type": "debug",
        "z": "4c7e81e43391897e",
        "name": "send",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 790,
        "y": 480,
        "wires": []
    },
    {
        "id": "6eac0b4933e3c8ac",
        "type": "inject",
        "z": "4c7e81e43391897e",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "txt/act",
        "payload": "{\"outMid\":1,\"outD\":45,\"outP\":123}",
        "payloadType": "json",
        "x": 230,
        "y": 140,
        "wires": [
            [
                "ea5b1d3fd2440b96"
            ]
        ]
    },
    {
        "id": "fe35d86ff585ba4b",
        "type": "mqtt out",
        "z": "4c7e81e43391897e",
        "name": "Test",
        "topic": "txt/out/motor",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c58f8d4b7c13412d",
        "x": 810,
        "y": 360,
        "wires": []
    },
    {
        "id": "156bf0a285ed6539",
        "type": "function",
        "z": "4c7e81e43391897e",
        "name": "check_M",
        "func": "var payload=msg.payload;\nvar topic=msg.topic;\nvar error=false;\nvar j=payload ;//JSON.parse(payload);\nvar msg1={};\nif ( (j.outMid<1) || (j.outMid>4)){\n  j.outMid=null; error=true;  \n} \n\nif ( (j.outP<-512) || (j.outP>512)){\n  j.outP=null; error=true;  \n} \n\nif ( (j.outD<0) || (j.outD>32000)){\n  j.outD=null; error=true;  \n} \nmsg1.payload= j;\nmsg1.topic=topic;\n\n\nif (error) return [ msg1,  null];\n\nreturn [ null,msg1  ];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 340,
        "wires": [
            [
                "29acb7217437424b",
                "ea5b1d3fd2440b96"
            ],
            [
                "fe35d86ff585ba4b",
                "a1af0c2aa40e5882"
            ]
        ],
        "inputLabels": [
            "data"
        ],
        "outputLabels": [
            "err",
            "out"
        ]
    },
    {
        "id": "29acb7217437424b",
        "type": "debug",
        "z": "4c7e81e43391897e",
        "name": "error",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 690,
        "y": 240,
        "wires": []
    },
    {
        "id": "4b6f7179ec3b16d8",
        "type": "debug",
        "z": "4c7e81e43391897e",
        "name": "sttr",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 570,
        "y": 180,
        "wires": []
    },
    {
        "id": "3eee930ebefa8ae3",
        "type": "ui_text",
        "z": "f0a66f6a5cd9f8b9",
        "group": "aa9feae58ac4eadd",
        "order": 7,
        "width": 11,
        "height": 1,
        "name": "txt data",
        "label": "txt data",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 420,
        "y": 360,
        "wires": []
    },
    {
        "id": "c6d1e76f133acfe0",
        "type": "mqtt in",
        "z": "f0a66f6a5cd9f8b9",
        "name": "p  value",
        "topic": "txt/p/#",
        "qos": "0",
        "datatype": "json",
        "broker": "c58f8d4b7c13412d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 320,
        "wires": [
            [
                "e5c20a88abbd18b8",
                "8cb7838273183d5d"
            ]
        ],
        "outputLabels": [
            "text"
        ]
    },
    {
        "id": "e22ed57a3fac57eb",
        "type": "debug",
        "z": "f0a66f6a5cd9f8b9",
        "name": "Value",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 480,
        "y": 600,
        "wires": []
    },
    {
        "id": "e5c20a88abbd18b8",
        "type": "json2md",
        "z": "f0a66f6a5cd9f8b9",
        "name": "Parse json to markdown",
        "x": 370,
        "y": 500,
        "wires": [
            [
                "e22ed57a3fac57eb"
            ]
        ],
        "inputLabels": [
            "dara"
        ],
        "outputLabels": [
            "out"
        ]
    },
    {
        "id": "8cb7838273183d5d",
        "type": "function",
        "z": "f0a66f6a5cd9f8b9",
        "name": "PmsgToText",
        "func": "var topic=msg.topic;\nvar payload=msg.payload;\n\nvar objId = payload.id;\nvar objp1 = payload.par[0];\nvar objp2 = payload.par[1];\nvar objp3 = payload.par[2];\nvar objp4 = payload.par[3];\nvar objp5 = payload.par[4];\nvar objT = payload.t;\n\n\nvar msgp1={};\nvar msgp2={};\nvar msgp3={};\nvar msgp4={};\nvar msgp5={};\nvar msgId={};\nvar msgT={};\n\nmsgId.payload=  objId ;\nmsgId.topic= \"ID=\";\n\nmsgp1.payload= JSON.stringify(  objp1 );\nmsgp1.topic= \"txt/new\";\nmsgp1.ui_control={color:\"red\", classname:\"id-warn\",layout:\"row-left\" };\nmsgp1.color = 'red';\n\nmsgp2.payload= JSON.stringify(  objp2 );\nmsgp2.topic =   \"txt/new\";\n\nmsgp3.payload= JSON.stringify(  objp3 );\nmsgp3.topic =   \"txt/new\";\n\nmsgp4.payload=  JSON.stringify( objp4 );\nmsgp4.topic =   \"txt/new\";\n\nmsgp5.payload= JSON.stringify(  objp5 );\nmsgp5.topic =   \"txt/new\";\n\nmsgT.payload= objT;// JSON.stringify(  objT );\nmsgT.topic =   \"txt/new\";\n\nreturn [msgId, msgp1,msgp2,msgp3,msgp4,msgp5,msgT ];",
        "outputs": 7,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 220,
        "wires": [
            [
                "161368e93504bd81",
                "871ba4db4c9f6c62"
            ],
            [
                "d9aa082873a4a813",
                "62a8134f285496c6"
            ],
            [
                "2f72e14d7050fa58",
                "b05423851e6e9ef2"
            ],
            [
                "cd4b29572a44f6b6",
                "5cc6c6c51ed9baea"
            ],
            [
                "47129c14bd8469ef",
                "1bcdd7c5b8e44c59"
            ],
            [
                "390573897624e0e5",
                "b0602b45eade5e6e"
            ],
            [
                "0b29526cc288ea34",
                "43608e0b84f14d62"
            ]
        ],
        "inputLabels": [
            "Json{}"
        ],
        "outputLabels": [
            "Id",
            "P1",
            "P2",
            "P3",
            "P4",
            "P5",
            "Time"
        ]
    },
    {
        "id": "b2271eae59d1b120",
        "type": "inject",
        "z": "f0a66f6a5cd9f8b9",
        "name": "P-msg",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "txt/test1",
        "payload": "{\"id\":\"p1\",\"par\":[34,253,65,512,-23],\"t\":\"2014-06-25T00:00:00.000Z\"}",
        "payloadType": "str",
        "x": 110,
        "y": 160,
        "wires": [
            [
                "6da8ef9d1098089d"
            ]
        ],
        "outputLabels": [
            "Json"
        ]
    },
    {
        "id": "d9aa082873a4a813",
        "type": "debug",
        "z": "f0a66f6a5cd9f8b9",
        "name": "P1",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 810,
        "y": 240,
        "wires": []
    },
    {
        "id": "2f72e14d7050fa58",
        "type": "debug",
        "z": "f0a66f6a5cd9f8b9",
        "name": "P2",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 810,
        "y": 340,
        "wires": []
    },
    {
        "id": "390573897624e0e5",
        "type": "debug",
        "z": "f0a66f6a5cd9f8b9",
        "name": "P5",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 810,
        "y": 640,
        "wires": []
    },
    {
        "id": "5cc6c6c51ed9baea",
        "type": "debug",
        "z": "f0a66f6a5cd9f8b9",
        "name": "P3",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 810,
        "y": 440,
        "wires": []
    },
    {
        "id": "47129c14bd8469ef",
        "type": "debug",
        "z": "f0a66f6a5cd9f8b9",
        "name": "P4",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 810,
        "y": 520,
        "wires": []
    },
    {
        "id": "6da8ef9d1098089d",
        "type": "json",
        "z": "f0a66f6a5cd9f8b9",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 310,
        "y": 180,
        "wires": [
            [
                "8cb7838273183d5d",
                "3eee930ebefa8ae3"
            ]
        ]
    },
    {
        "id": "cd4b29572a44f6b6",
        "type": "ui_text",
        "z": "f0a66f6a5cd9f8b9",
        "group": "30840b3c631a61fb",
        "order": 5,
        "width": 2,
        "height": 1,
        "name": "o_p1_3",
        "label": "P3=",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "className": "",
        "x": 820,
        "y": 400,
        "wires": []
    },
    {
        "id": "161368e93504bd81",
        "type": "debug",
        "z": "f0a66f6a5cd9f8b9",
        "name": "Id",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 810,
        "y": 140,
        "wires": []
    },
    {
        "id": "871ba4db4c9f6c62",
        "type": "ui_text",
        "z": "f0a66f6a5cd9f8b9",
        "group": "30840b3c631a61fb",
        "order": 1,
        "width": 2,
        "height": 1,
        "name": "o_p1_Id",
        "label": "{{msg.topic}}",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "className": "",
        "x": 820,
        "y": 100,
        "wires": []
    },
    {
        "id": "0b29526cc288ea34",
        "type": "debug",
        "z": "f0a66f6a5cd9f8b9",
        "name": "Time",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 820,
        "y": 740,
        "wires": []
    },
    {
        "id": "1ed2323da7d440ed",
        "type": "inject",
        "z": "f0a66f6a5cd9f8b9",
        "name": "P-msg",
        "props": [
            {
                "p": "topic",
                "v": "{\"topic\":\"txt/test\"}",
                "vt": "json"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[{\"a\":\"11\",\"b\":\"22\",\"c\":\"33\",\"d\":\"44\"},{\"a\":\"55\",\"b\":\"66\",\"c\":\"77\",\"d\":\"88\"}]",
        "payloadType": "json",
        "x": 290,
        "y": 580,
        "wires": [
            [
                "e5c20a88abbd18b8"
            ]
        ],
        "outputLabels": [
            "Json"
        ]
    },
    {
        "id": "b0602b45eade5e6e",
        "type": "ui_text",
        "z": "f0a66f6a5cd9f8b9",
        "group": "30840b3c631a61fb",
        "order": 8,
        "width": 2,
        "height": 1,
        "name": "o_p1_5",
        "label": "P5=",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "className": "",
        "x": 820,
        "y": 600,
        "wires": []
    },
    {
        "id": "1bcdd7c5b8e44c59",
        "type": "ui_text",
        "z": "f0a66f6a5cd9f8b9",
        "group": "30840b3c631a61fb",
        "order": 7,
        "width": 2,
        "height": 1,
        "name": "o_p1_4",
        "label": "P3=",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "className": "",
        "x": 820,
        "y": 480,
        "wires": []
    },
    {
        "id": "b05423851e6e9ef2",
        "type": "ui_text",
        "z": "f0a66f6a5cd9f8b9",
        "group": "30840b3c631a61fb",
        "order": 4,
        "width": 2,
        "height": 1,
        "name": "o_p1_2",
        "label": "P2=",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "className": "",
        "x": 820,
        "y": 300,
        "wires": []
    },
    {
        "id": "62a8134f285496c6",
        "type": "ui_text",
        "z": "f0a66f6a5cd9f8b9",
        "group": "30840b3c631a61fb",
        "order": 3,
        "width": 2,
        "height": 1,
        "name": "o_p1_1",
        "label": "P1=",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "className": "",
        "x": 820,
        "y": 200,
        "wires": []
    },
    {
        "id": "43608e0b84f14d62",
        "type": "ui_text",
        "z": "f0a66f6a5cd9f8b9",
        "group": "30840b3c631a61fb",
        "order": 2,
        "width": 5,
        "height": 1,
        "name": "o_p1_T",
        "label": "T=",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "className": "",
        "x": 820,
        "y": 700,
        "wires": []
    },
    {
        "id": "ece4cb8c82db4177",
        "type": "ui_form",
        "z": "86129776fa6cf627",
        "name": "set_act",
        "label": "P-data",
        "group": "ccf5f67a2e5a062e",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Id [1..3]=",
                "value": "id",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "P1 [see doc] =",
                "value": "par1",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "P2 [see doc] =",
                "value": "par2",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "P3 [see doc] =",
                "value": "par3",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "P4 [see doc] =",
                "value": "par4",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "P5 [see doc] =",
                "value": "par5",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "id": "",
            "par1": "",
            "par2": "",
            "par3": "",
            "par4": "",
            "par5": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "txt/c/p1",
        "topicType": "str",
        "splitLayout": true,
        "className": "",
        "x": 300,
        "y": 220,
        "wires": [
            [
                "9d1e03aa5a7b52fd",
                "25c5f56b903361a1"
            ]
        ],
        "inputLabels": [
            "data_in"
        ],
        "outputLabels": [
            "data_out"
        ]
    },
    {
        "id": "77fbe054e9f51e1d",
        "type": "debug",
        "z": "86129776fa6cf627",
        "name": "send",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 530,
        "y": 540,
        "wires": []
    },
    {
        "id": "a2096132522109fa",
        "type": "inject",
        "z": "86129776fa6cf627",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "txt/c/p1",
        "payload": "{\"id\":1,\"par\":[34,253,65,512,-23],\"t\":\"2014-06-25T00:00:00.000Z\"}",
        "payloadType": "json",
        "x": 90,
        "y": 140,
        "wires": [
            [
                "ece4cb8c82db4177"
            ]
        ]
    },
    {
        "id": "d88163db1c48d4f6",
        "type": "mqtt out",
        "z": "86129776fa6cf627",
        "name": "pub_p1",
        "topic": "\"txt/c/p1\"",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c58f8d4b7c13412d",
        "x": 1200,
        "y": 260,
        "wires": []
    },
    {
        "id": "9d1e03aa5a7b52fd",
        "type": "function",
        "z": "86129776fa6cf627",
        "name": "check_M",
        "func": "var payload=msg.payload;\nvar topic=msg.topic;\nvar error=false;\nvar j=payload ;//JSON.parse(payload);\nvar msg1={};\nif ( (j.id<1) || (j.id>3)){\n  j.id=null; error=true;  \n} \n\n[0, 1,2,3,4].forEach(v => {\n\nif ( (j.par[v]<-32767) || (j.par[v]>32767)){\n  j.par[v]=null; error=true;  \n} \n});\n\n\nmsg1.payload= j;\nmsg1.topic=topic;\n\n\nif (error) return [ msg1,  null];\n\nreturn [ null,msg1  ];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 360,
        "wires": [
            [
                "a377809ecff81c51",
                "ece4cb8c82db4177"
            ],
            [
                "d88163db1c48d4f6",
                "77fbe054e9f51e1d"
            ]
        ],
        "inputLabels": [
            "data"
        ],
        "outputLabels": [
            "err",
            "out"
        ]
    },
    {
        "id": "a377809ecff81c51",
        "type": "debug",
        "z": "86129776fa6cf627",
        "name": "error",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 510,
        "y": 260,
        "wires": []
    },
    {
        "id": "25c5f56b903361a1",
        "type": "debug",
        "z": "86129776fa6cf627",
        "name": "sttr",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 510,
        "y": 120,
        "wires": []
    },
    {
        "id": "80f136618643dae4",
        "type": "debug",
        "z": "91a23abe8e481d5a",
        "name": "send",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 650,
        "y": 380,
        "wires": []
    },
    {
        "id": "7e9cab15f9dc9e6d",
        "type": "inject",
        "z": "91a23abe8e481d5a",
        "name": "Stop_all",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "txt/c/stop",
        "payload": "{\"item\":\"\"}",
        "payloadType": "json",
        "x": 200,
        "y": 320,
        "wires": [
            [
                "f05193b0812e1c3b"
            ]
        ]
    },
    {
        "id": "c9807cf65460edf8",
        "type": "mqtt out",
        "z": "91a23abe8e481d5a",
        "name": "Stop_all",
        "topic": "",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c58f8d4b7c13412d",
        "x": 660,
        "y": 320,
        "wires": []
    },
    {
        "id": "f05193b0812e1c3b",
        "type": "ui_button",
        "z": "91a23abe8e481d5a",
        "name": "btn_stop",
        "group": "aa9feae58ac4eadd",
        "order": 1,
        "width": 6,
        "height": 3,
        "passthru": true,
        "label": "STOP",
        "tooltip": "Emergency stop of the actuators in this section.",
        "color": "red",
        "bgcolor": "black",
        "className": "",
        "icon": "",
        "payload": "{\"outMid\":0}",
        "payloadType": "json",
        "topic": "txt/c/stop",
        "topicType": "str",
        "x": 400,
        "y": 320,
        "wires": [
            [
                "c9807cf65460edf8",
                "80f136618643dae4"
            ]
        ]
    }
]