flow(ft-factory).json
[
    {
        "id": "4e9eeca57a653287",
        "type": "tab",
        "label": "Main Flow",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0fe26fd701518822",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4c7e81e43391897e",
        "type": "tab",
        "label": "Publish motor data to TXT",
        "disabled": false,
        "info": "# Motor\n\nSend data to a TXT to activated a motor",
        "env": []
    },
    {
        "id": "f0a66f6a5cd9f8b9",
        "type": "tab",
        "label": "Receive P-data from TXT",
        "disabled": false,
        "info": "Subscribe P-data from TXT\n\n\t\"txt/p\",        \n\t\"txt/p/p1\",\n\t\t\"txt/p/p2\",\n\t\t\"txt/p/p3\",\n\t\t\"txt/s\",         \n\t\t\"txt/s/p1\",\n\t\t\"txt/s/p2\",\n\t\t\"txt/s/p3\"",
        "env": []
    },
    {
        "id": "86129776fa6cf627",
        "type": "tab",
        "label": "Publish P-data to TXT",
        "disabled": false,
        "info": "Publish P-data to TXT\ntopic= <txt>/out/p1\n5 different sub messages.\n\n\t\t\"txt/p\",        \n\t\t\"txt/p/p1\",\n\t\t\"txt/p/p2\",\n\t\t\"txt/p/p3\",\n\t\t\"txt/s\",         \n\t\t\"txt/s/p1\",\n\t\t\"txt/s/p2\",\n\t\t\"txt/s/p3\"",
        "env": []
    },
    {
        "id": "91a23abe8e481d5a",
        "type": "tab",
        "label": "Emergency stop",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5facf45f.05cf5c",
        "type": "tab",
        "label": "Diode 2.0",
        "disabled": false,
        "info": ""
    },
    {
        "id": "1ddee8b072c433e9",
        "type": "subflow",
        "name": "ShowPmessage",
        "info": "",
        "category": "dashboard",
        "in": [
            {
                "x": 60,
                "y": 360,
                "wires": [
                    {
                        "id": "ead821eead376006"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "c58f8d4b7c13412d",
        "type": "mqtt-broker",
        "name": "laptop(localhost)",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "laptop/status",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "connected",
        "birthMsg": {},
        "closeTopic": "laptop/status",
        "closeQos": "2",
        "closeRetain": "false",
        "closePayload": "closing",
        "closeMsg": {},
        "willTopic": "laptop/status",
        "willQos": "2",
        "willRetain": "false",
        "willPayload": "Node-Red unexpected disconnected",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "70f9a5a2aadcbae3",
        "type": "ui_tab",
        "name": "TBK-Factory01",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f5c9be56d5dd31e9",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Factory dashboard ",
            "hideToolbar": "false",
            "allowSwipe": "true",
            "lockMenu": "true",
            "allowTempTheme": "none",
            "dateFormat": "YYYY/MM/DD",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "aa9feae58ac4eadd",
        "type": "ui_group",
        "name": "Group1",
        "tab": "70f9a5a2aadcbae3",
        "order": 1,
        "disp": true,
        "width": 10,
        "collapse": false
    },
    {
        "id": "bd582865ce0a4c65",
        "type": "mqtt-broker",
        "name": "TxtUsb",
        "broker": "192.168.7.2",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "TxtUsb/status",
        "birthQos": "2",
        "birthRetain": "true",
        "birthPayload": "connected",
        "birthMsg": {},
        "closeTopic": "TxtUsb/status",
        "closeQos": "2",
        "closeRetain": "true",
        "closePayload": "disconnected",
        "closeMsg": {},
        "willTopic": "TxtUsb/status",
        "willQos": "2",
        "willRetain": "true",
        "willPayload": "killed",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "3a918d14429930a5",
        "type": "mqtt-broker",
        "name": "Txt175",
        "broker": "192.168.20.175",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "Txt175/status",
        "birthQos": "2",
        "birthRetain": "true",
        "birthPayload": "connected",
        "birthMsg": {},
        "closeTopic": "Txt175/status",
        "closeQos": "2",
        "closeRetain": "true",
        "closePayload": "disconnected",
        "closeMsg": {},
        "willTopic": "Txt175/status",
        "willQos": "2",
        "willRetain": "true",
        "willPayload": "killed",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "85f06380b4bc6391",
        "type": "ui_tab",
        "name": "TBK-Factory02",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "2c9faac5d0d18804",
        "type": "ui_tab",
        "name": "Tab 3",
        "icon": "dashboard",
        "order": 5
    },
    {
        "id": "30840b3c631a61fb",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "70f9a5a2aadcbae3",
        "order": 2,
        "disp": true,
        "width": 12,
        "collapse": false
    },
    {
        "id": "ccf5f67a2e5a062e",
        "type": "ui_group",
        "name": "Group 3",
        "tab": "70f9a5a2aadcbae3",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false
    },
    {
        "id": "ff9f35909093f900",
        "type": "ui_group",
        "name": "Group 3.1",
        "tab": "2c9faac5d0d18804",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "590e59f993e7fcf2",
        "type": "ui_group",
        "name": "Group 2.1",
        "tab": "85f06380b4bc6391",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "fc755ce7c4240337",
        "type": "ui_link",
        "name": "Link TesCaWeb",
        "link": "http://www.TesCaWeb.nl/Carel",
        "icon": "open_in_browser",
        "target": "iframe",
        "order": 4
    },
    {
        "id": "671f5a64ed1322a7",
        "type": "ui_group",
        "name": "Group 5",
        "tab": "85f06380b4bc6391",
        "order": 2,
        "disp": true,
        "width": 6
    },
    {
        "id": "24a1f7aac82fdc8e",
        "type": "ui_tab",
        "name": "Tab 5",
        "icon": "dashboard",
        "order": 6
    },
    {
        "id": "3e999925.bf7cb6",
        "type": "ui_group",
        "name": "Diodes",
        "tab": "4435d05.16bbb3",
        "order": 1,
        "disp": true,
        "width": "3",
        "collapse": true
    },
    {
        "id": "4435d05.16bbb3",
        "type": "ui_tab",
        "name": "Beta",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "5cfe21d2.307938",
        "type": "ui_group",
        "name": "Gate #2",
        "tab": "3616a722.b89bc8",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "fdb6c31c.4f2818",
        "type": "ui_group",
        "name": "Gate #1",
        "tab": "3616a722.b89bc8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3616a722.b89bc8",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 7
    },
    {
        "id": "d5765eefd8348572",
        "type": "ui_spacer",
        "z": "f0a66f6a5cd9f8b9",
        "name": "spacer",
        "group": "aa9feae58ac4eadd",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "c1db6be60fa63d5e",
        "type": "ui_spacer",
        "z": "f0a66f6a5cd9f8b9",
        "name": "spacer",
        "group": "aa9feae58ac4eadd",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "c743d8f2b1305397",
        "type": "ui_spacer",
        "z": "f0a66f6a5cd9f8b9",
        "name": "spacer",
        "group": "aa9feae58ac4eadd",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "b464d80bfd959d73",
        "type": "ui_spacer",
        "z": "f0a66f6a5cd9f8b9",
        "name": "spacer",
        "group": "aa9feae58ac4eadd",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "8bcb55e6a7cccab6",
        "type": "ui_spacer",
        "z": "f0a66f6a5cd9f8b9",
        "name": "spacer",
        "group": "aa9feae58ac4eadd",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "a3a57e6b799e2208",
        "type": "ui_spacer",
        "z": "f0a66f6a5cd9f8b9",
        "name": "spacer",
        "group": "aa9feae58ac4eadd",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "5ea604c763abd897",
        "type": "ui_spacer",
        "z": "f0a66f6a5cd9f8b9",
        "name": "spacer",
        "group": "aa9feae58ac4eadd",
        "order": 10,
        "width": 10,
        "height": 1
    },
    {
        "id": "6b2234bc810fa37d",
        "type": "ui_spacer",
        "z": "f0a66f6a5cd9f8b9",
        "name": "spacer",
        "group": "aa9feae58ac4eadd",
        "order": 11,
        "width": 10,
        "height": 1
    },
    {
        "id": "6fa363211ead9078",
        "type": "ui_spacer",
        "z": "f0a66f6a5cd9f8b9",
        "name": "spacer",
        "group": "aa9feae58ac4eadd",
        "order": 12,
        "width": 10,
        "height": 1
    },
    {
        "id": "eda46834306ed3de",
        "type": "ui_spacer",
        "z": "f0a66f6a5cd9f8b9",
        "name": "spacer",
        "group": "aa9feae58ac4eadd",
        "order": 14,
        "width": 10,
        "height": 1
    },
    {
        "id": "274fdc8d97924605",
        "type": "ui_spacer",
        "z": "f0a66f6a5cd9f8b9",
        "name": "spacer",
        "group": "aa9feae58ac4eadd",
        "order": 18,
        "width": 1,
        "height": 1
    },
    {
        "id": "0f7391fa1b2bfcf0",
        "type": "ui_spacer",
        "z": "f0a66f6a5cd9f8b9",
        "name": "spacer",
        "group": "aa9feae58ac4eadd",
        "order": 19,
        "width": 1,
        "height": 1
    },
    {
        "id": "4df8d8f572f28e08",
        "type": "ui_spacer",
        "z": "f0a66f6a5cd9f8b9",
        "name": "spacer",
        "group": "30840b3c631a61fb",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "c24ae399cc34d6d3",
        "type": "ui_spacer",
        "z": "f0a66f6a5cd9f8b9",
        "name": "spacer",
        "group": "30840b3c631a61fb",
        "order": 3,
        "width": 2,
        "height": 1
    },
    {
        "id": "5f8edbf06c1a60bd",
        "type": "ui_spacer",
        "z": "f0a66f6a5cd9f8b9",
        "name": "spacer",
        "group": "30840b3c631a61fb",
        "order": 5,
        "width": 2,
        "height": 1
    },
    {
        "id": "696b25f0148fda9d",
        "type": "ui_spacer",
        "z": "f0a66f6a5cd9f8b9",
        "name": "spacer",
        "group": "30840b3c631a61fb",
        "order": 11,
        "width": 2,
        "height": 1
    },
    {
        "id": "8b5ab3a13faabc75",
        "type": "ui_spacer",
        "z": "f0a66f6a5cd9f8b9",
        "name": "spacer",
        "group": "30840b3c631a61fb",
        "order": 12,
        "width": 1,
        "height": 1
    },
    {
        "id": "29cbbbe6fc9eaadb",
        "type": "ui_spacer",
        "z": "f0a66f6a5cd9f8b9",
        "name": "spacer",
        "group": "30840b3c631a61fb",
        "order": 14,
        "width": 2,
        "height": 1
    },
    {
        "id": "315b61fdc1d8da28",
        "type": "ui_spacer",
        "z": "f0a66f6a5cd9f8b9",
        "name": "spacer",
        "group": "30840b3c631a61fb",
        "order": 16,
        "width": 2,
        "height": 1
    },
    {
        "id": "f6a7b53ac0a285ae",
        "type": "ui_spacer",
        "z": "f0a66f6a5cd9f8b9",
        "name": "spacer",
        "group": "30840b3c631a61fb",
        "order": 22,
        "width": 2,
        "height": 1
    },
    {
        "id": "2bf2fe7375ffe9d3",
        "type": "ui_spacer",
        "z": "f0a66f6a5cd9f8b9",
        "name": "spacer",
        "group": "30840b3c631a61fb",
        "order": 23,
        "width": 1,
        "height": 1
    },
    {
        "id": "c2b3cab70202592d",
        "type": "ui_spacer",
        "z": "f0a66f6a5cd9f8b9",
        "name": "spacer",
        "group": "30840b3c631a61fb",
        "order": 25,
        "width": 2,
        "height": 1
    },
    {
        "id": "05f11b0f2b5f0bcf",
        "type": "ui_spacer",
        "z": "f0a66f6a5cd9f8b9",
        "name": "spacer",
        "group": "30840b3c631a61fb",
        "order": 27,
        "width": 2,
        "height": 1
    },
    {
        "id": "bd2041eb3ab62d24",
        "type": "ui_spacer",
        "z": "f0a66f6a5cd9f8b9",
        "name": "spacer",
        "group": "30840b3c631a61fb",
        "order": 33,
        "width": 2,
        "height": 1
    },
    {
        "id": "b5dbc89b64d255bf",
        "type": "ui_spacer",
        "z": "f0a66f6a5cd9f8b9",
        "name": "spacer",
        "group": "30840b3c631a61fb",
        "order": 37,
        "width": 3,
        "height": 1
    },
    {
        "id": "27c09884a5e41a89",
        "type": "ui_spacer",
        "z": "f0a66f6a5cd9f8b9",
        "name": "spacer",
        "group": "30840b3c631a61fb",
        "order": 38,
        "width": 1,
        "height": 1
    },
    {
        "id": "8b87a17c4fe4537c",
        "type": "ui_spacer",
        "z": "f0a66f6a5cd9f8b9",
        "name": "spacer",
        "group": "30840b3c631a61fb",
        "order": 40,
        "width": 2,
        "height": 1
    },
    {
        "id": "8c412a4d382f4da7",
        "type": "ui_spacer",
        "z": "f0a66f6a5cd9f8b9",
        "name": "spacer",
        "group": "30840b3c631a61fb",
        "order": 42,
        "width": 3,
        "height": 1
    },
    {
        "id": "00fbd464edcee61a",
        "type": "ui_spacer",
        "z": "f0a66f6a5cd9f8b9",
        "name": "spacer",
        "group": "30840b3c631a61fb",
        "order": 43,
        "width": 12,
        "height": 1
    },
    {
        "id": "0122a19ff9ea4cf4",
        "type": "ui_spacer",
        "z": "f0a66f6a5cd9f8b9",
        "name": "spacer",
        "group": "30840b3c631a61fb",
        "order": 45,
        "width": 2,
        "height": 1
    },
    {
        "id": "4cd58f78d3b26a87",
        "type": "ui_spacer",
        "z": "f0a66f6a5cd9f8b9",
        "name": "spacer",
        "group": "30840b3c631a61fb",
        "order": 47,
        "width": 2,
        "height": 1
    },
    {
        "id": "037065ed1649b491",
        "type": "ui_spacer",
        "z": "f0a66f6a5cd9f8b9",
        "name": "spacer",
        "group": "ccf5f67a2e5a062e",
        "order": 7,
        "width": 2,
        "height": 1
    },
    {
        "id": "cf6a75b37680c971",
        "type": "ui_spacer",
        "z": "f0a66f6a5cd9f8b9",
        "name": "spacer",
        "group": "671f5a64ed1322a7",
        "order": 2,
        "width": 2,
        "height": 1
    },
    {
        "id": "ead821eead376006",
        "type": "function",
        "z": "1ddee8b072c433e9",
        "name": "PmsgToText",
        "func": "var topic=msg.topic;\nvar payload=msg.payload;\n\nvar objId = payload.id;\nvar objp1 = payload.par[0];\nvar objp2 = payload.par[1];\nvar objp3 = payload.par[2];\nvar objp4 = payload.par[3];\nvar objp5 = payload.par[4];\nvar objT = payload.t;\n\n\nvar msgp1={};\nvar msgp2={};\nvar msgp3={};\nvar msgp4={};\nvar msgp5={};\nvar msgId={};\nvar msgT={};\n\nmsgId.payload=  objId ;\nmsgId.topic= \"txt/new\";\n\nmsgp1.payload= JSON.stringify(  objp1 );\nmsgp1.topic= \"txt/new\";\n\nmsgp2.payload= JSON.stringify(  objp2 );\nmsgp2.topic =   \"txt/new\";\n\nmsgp3.payload= JSON.stringify(  objp3 );\nmsgp3.topic =   \"txt/new\";\n\nmsgp4.payload=  JSON.stringify( objp4 );\nmsgp4.topic =   \"txt/new\";\n\nmsgp5.payload= JSON.stringify(  objp5 );\nmsgp5.topic =   \"txt/new\";\n\nmsgT.payload= objT;// JSON.stringify(  objT );\nmsgT.topic =   \"txt/new\";\n\nreturn [msgId, msgp1,msgp2,msgp3,msgp4,msgp5,msgT ];",
        "outputs": 7,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 300,
        "wires": [
            [
                "f530bbe77edf422d"
            ],
            [
                "992d12bf21e1d55a",
                "54565dc94cbab058"
            ],
            [
                "c4a7a31bec8fb84c",
                "19791cd1aaed509b"
            ],
            [
                "a73d9ea8e177da05"
            ],
            [
                "87c4a68eface98c1",
                "1e64edf8bec3adbe"
            ],
            [
                "1f06885733d3866c",
                "ea1d7a82a6180e5d"
            ],
            [
                "3765ebc97d94aa9e",
                "2855acd71ce6b22a"
            ]
        ],
        "inputLabels": [
            "Json{}"
        ],
        "outputLabels": [
            "Id",
            "P1",
            "P2",
            "P3",
            "P4",
            "P5",
            "Time"
        ]
    },
    {
        "id": "a73ec3fdf3dfa7c8",
        "type": "inject",
        "z": "1ddee8b072c433e9",
        "name": "P-msg",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "txt/test1",
        "payload": "{\"id\":\"p1\",\"par\":[34,253,65,512,-23],\"t\":\"2014-06-25T00:00:00.000Z\"}",
        "payloadType": "str",
        "x": 110,
        "y": 220,
        "wires": [
            [
                "e14f6d882278fabf"
            ]
        ],
        "outputLabels": [
            "Json"
        ]
    },
    {
        "id": "54565dc94cbab058",
        "type": "debug",
        "z": "1ddee8b072c433e9",
        "name": "P1",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 770,
        "y": 160,
        "wires": []
    },
    {
        "id": "c4a7a31bec8fb84c",
        "type": "debug",
        "z": "1ddee8b072c433e9",
        "name": "P2",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 770,
        "y": 260,
        "wires": []
    },
    {
        "id": "1f06885733d3866c",
        "type": "debug",
        "z": "1ddee8b072c433e9",
        "name": "P5",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 770,
        "y": 560,
        "wires": []
    },
    {
        "id": "a73d9ea8e177da05",
        "type": "debug",
        "z": "1ddee8b072c433e9",
        "name": "P3",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 770,
        "y": 360,
        "wires": []
    },
    {
        "id": "87c4a68eface98c1",
        "type": "debug",
        "z": "1ddee8b072c433e9",
        "name": "P4",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 770,
        "y": 460,
        "wires": []
    },
    {
        "id": "e14f6d882278fabf",
        "type": "json",
        "z": "1ddee8b072c433e9",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 290,
        "y": 280,
        "wires": [
            [
                "ead821eead376006"
            ]
        ]
    },
    {
        "id": "1e64edf8bec3adbe",
        "type": "ui_text",
        "z": "1ddee8b072c433e9",
        "group": "671f5a64ed1322a7",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "txt_p4",
        "label": "P4=",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "className": "",
        "x": 770,
        "y": 520,
        "wires": []
    },
    {
        "id": "19791cd1aaed509b",
        "type": "ui_text",
        "z": "1ddee8b072c433e9",
        "group": "671f5a64ed1322a7",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "txt_p2",
        "label": "P2=",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "className": "",
        "x": 770,
        "y": 320,
        "wires": []
    },
    {
        "id": "ea1d7a82a6180e5d",
        "type": "ui_text",
        "z": "1ddee8b072c433e9",
        "group": "671f5a64ed1322a7",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "txt_p5",
        "label": "P5=",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "className": "",
        "x": 770,
        "y": 620,
        "wires": []
    },
    {
        "id": "992d12bf21e1d55a",
        "type": "ui_text",
        "z": "1ddee8b072c433e9",
        "group": "671f5a64ed1322a7",
        "order": 3,
        "width": 6,
        "height": 1,
        "name": "txt_p1",
        "label": "P1=",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "className": "",
        "x": 770,
        "y": 220,
        "wires": []
    },
    {
        "id": "f530bbe77edf422d",
        "type": "debug",
        "z": "1ddee8b072c433e9",
        "name": "Id",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 770,
        "y": 60,
        "wires": []
    },
    {
        "id": "3765ebc97d94aa9e",
        "type": "debug",
        "z": "1ddee8b072c433e9",
        "name": "Time",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 780,
        "y": 660,
        "wires": []
    },
    {
        "id": "2855acd71ce6b22a",
        "type": "ui_text",
        "z": "1ddee8b072c433e9",
        "group": "671f5a64ed1322a7",
        "order": 1,
        "width": 4,
        "height": 1,
        "name": "txt_time",
        "label": "Time=",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "className": "",
        "x": 780,
        "y": 720,
        "wires": []
    },
    {
        "id": "2a2a279366c4b5b6",
        "type": "mqtt in",
        "z": "4e9eeca57a653287",
        "name": "receiver mqtt status",
        "topic": "txt/mqtt",
        "qos": "0",
        "datatype": "utf8",
        "broker": "c58f8d4b7c13412d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 160,
        "wires": [
            [
                "02eda2ef93f3bf97",
                "de37a8b93e2d46ae",
                "30e7ab76a96921a9"
            ]
        ],
        "outputLabels": [
            "text"
        ]
    },
    {
        "id": "02eda2ef93f3bf97",
        "type": "ui_text",
        "z": "4e9eeca57a653287",
        "group": "aa9feae58ac4eadd",
        "order": 15,
        "width": 10,
        "height": 1,
        "name": "MQTT status",
        "label": "mqtt_status",
        "format": "{{msg.topic},{msg.payload}}",
        "layout": "row-spread",
        "x": 590,
        "y": 80,
        "wires": []
    },
    {
        "id": "de37a8b93e2d46ae",
        "type": "debug",
        "z": "4e9eeca57a653287",
        "name": "mqtt status",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 550,
        "y": 200,
        "wires": []
    },
    {
        "id": "22dfbc3588c68679",
        "type": "ui_text",
        "z": "4e9eeca57a653287",
        "group": "aa9feae58ac4eadd",
        "order": 13,
        "width": 10,
        "height": 3,
        "name": "Value",
        "label": "value",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 430,
        "y": 500,
        "wires": []
    },
    {
        "id": "187c40ec5c7fe699",
        "type": "ui_text_input",
        "z": "4e9eeca57a653287",
        "name": "txt Configuration",
        "label": "TXT_conf",
        "tooltip": "configaratie van de controller",
        "group": "aa9feae58ac4eadd",
        "order": 16,
        "width": 10,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "topicType": "msg",
        "x": 460,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "7d47b52a3af6da21",
        "type": "ui_switch",
        "z": "4e9eeca57a653287",
        "name": "test",
        "label": "switch",
        "tooltip": "",
        "group": "ccf5f67a2e5a062e",
        "order": 13,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 90,
        "y": 80,
        "wires": [
            [
                "02eda2ef93f3bf97"
            ]
        ]
    },
    {
        "id": "b56c4e3d6894899d",
        "type": "mqtt in",
        "z": "4e9eeca57a653287",
        "name": "receiver  value",
        "topic": "txt/s/value/#",
        "qos": "0",
        "datatype": "json",
        "broker": "c58f8d4b7c13412d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 440,
        "wires": [
            [
                "44a5c5fccb018e8f",
                "22dfbc3588c68679"
            ]
        ],
        "outputLabels": [
            "text"
        ]
    },
    {
        "id": "2f9e78e12c9d2adb",
        "type": "mqtt in",
        "z": "4e9eeca57a653287",
        "name": "receiver conf",
        "topic": "txt/s/conf/#",
        "qos": "0",
        "datatype": "json",
        "broker": "c58f8d4b7c13412d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 360,
        "wires": [
            [
                "7026c40a7175f78b",
                "187c40ec5c7fe699"
            ]
        ],
        "outputLabels": [
            "text"
        ]
    },
    {
        "id": "6c6b68053b4940e0",
        "type": "mqtt in",
        "z": "4e9eeca57a653287",
        "name": "receiver status",
        "topic": "txt/s/status",
        "qos": "0",
        "datatype": "json",
        "broker": "c58f8d4b7c13412d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 300,
        "wires": [
            [
                "ba04ef9fa3ecd6c4"
            ]
        ],
        "outputLabels": [
            "text"
        ]
    },
    {
        "id": "7026c40a7175f78b",
        "type": "debug",
        "z": "4e9eeca57a653287",
        "name": "conf",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "jsonata",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 430,
        "y": 360,
        "wires": []
    },
    {
        "id": "ba04ef9fa3ecd6c4",
        "type": "debug",
        "z": "4e9eeca57a653287",
        "name": "status",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "jsonata",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 420,
        "y": 300,
        "wires": []
    },
    {
        "id": "44a5c5fccb018e8f",
        "type": "debug",
        "z": "4e9eeca57a653287",
        "name": "Value",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "jsonata",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 420,
        "y": 440,
        "wires": []
    },
    {
        "id": "30e7ab76a96921a9",
        "type": "ui_toast",
        "z": "4e9eeca57a653287",
        "position": "top left",
        "displayTime": "5",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": true,
        "topic": "#",
        "name": "mqtt",
        "x": 570,
        "y": 140,
        "wires": []
    },
    {
        "id": "3ea86854cadcd14a",
        "type": "mqtt in JSON",
        "z": "4e9eeca57a653287",
        "name": "MDO init",
        "topic": "MDO/mqtt",
        "qos": "0",
        "broker": "c58f8d4b7c13412d",
        "ignoreempty": true,
        "removemqttconfig": false,
        "x": 860,
        "y": 80,
        "wires": [
            [
                "4c5e224836b78723"
            ]
        ]
    },
    {
        "id": "4c5e224836b78723",
        "type": "ui_text",
        "z": "4e9eeca57a653287",
        "group": "aa9feae58ac4eadd",
        "order": 17,
        "width": 9,
        "height": 2,
        "name": "MDO_init",
        "label": "MDO is init",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1160,
        "y": 80,
        "wires": []
    },
    {
        "id": "ac6626680c328fd6",
        "type": "ui_text_input",
        "z": "4e9eeca57a653287",
        "name": "inP1",
        "label": "P1=",
        "tooltip": "",
        "group": "ccf5f67a2e5a062e",
        "order": 5,
        "width": 2,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 1070,
        "y": 960,
        "wires": [
            [
                "f223209feacb7f86"
            ]
        ]
    },
    {
        "id": "fe40d63bde94cf05",
        "type": "ui_text_input",
        "z": "4e9eeca57a653287",
        "name": "inP2",
        "label": "P2=",
        "tooltip": "",
        "group": "ccf5f67a2e5a062e",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 1070,
        "y": 1000,
        "wires": [
            [
                "f223209feacb7f86"
            ]
        ]
    },
    {
        "id": "f074621419c85ece",
        "type": "ui_text_input",
        "z": "4e9eeca57a653287",
        "name": "inP3",
        "label": "P3=",
        "tooltip": "",
        "group": "ccf5f67a2e5a062e",
        "order": 6,
        "width": 2,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 1070,
        "y": 1040,
        "wires": [
            [
                "f223209feacb7f86"
            ]
        ]
    },
    {
        "id": "aeec0403d47b3c6f",
        "type": "ui_slider",
        "z": "4e9eeca57a653287",
        "name": "inP4",
        "label": "P4=",
        "tooltip": "",
        "group": "ccf5f67a2e5a062e",
        "order": 11,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "-512",
        "max": "512",
        "step": 1,
        "className": "",
        "x": 1070,
        "y": 1100,
        "wires": [
            [
                "f223209feacb7f86"
            ]
        ]
    },
    {
        "id": "f223209feacb7f86",
        "type": "function",
        "z": "4e9eeca57a653287",
        "name": "",
        "func": "\nreturn msg;",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 1140,
        "wires": [
            [
                "740974992d34062f"
            ],
            [
                "0677eab1b559fc4c"
            ],
            []
        ]
    },
    {
        "id": "740974992d34062f",
        "type": "function",
        "z": "4e9eeca57a653287",
        "name": "",
        "func": "\nreturn msg;",
        "outputs": 4,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 1000,
        "wires": [
            [
                "ac6626680c328fd6"
            ],
            [
                "fe40d63bde94cf05"
            ],
            [
                "f074621419c85ece"
            ],
            [
                "aeec0403d47b3c6f"
            ]
        ]
    },
    {
        "id": "0677eab1b559fc4c",
        "type": "mqtt out",
        "z": "4e9eeca57a653287",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c58f8d4b7c13412d",
        "x": 1690,
        "y": 980,
        "wires": []
    },
    {
        "id": "cd5a583e.c8ec88",
        "type": "gate",
        "z": "4e9eeca57a653287",
        "name": "Pause Or Resume",
        "controlTopic": "control",
        "defaultState": "open",
        "openCmd": "Resume",
        "closeCmd": "Pause",
        "toggleCmd": "",
        "defaultCmd": "",
        "persist": false,
        "x": 560,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "469f5e0bc84e936b",
        "type": "mqtt in JSON",
        "z": "4e9eeca57a653287",
        "name": "HBW init",
        "topic": "HBW/mqtt",
        "qos": "0",
        "broker": "c58f8d4b7c13412d",
        "ignoreempty": true,
        "removemqttconfig": false,
        "x": 860,
        "y": 160,
        "wires": [
            [
                "217b57421cf89a96"
            ]
        ]
    },
    {
        "id": "217b57421cf89a96",
        "type": "ui_text",
        "z": "4e9eeca57a653287",
        "group": "aa9feae58ac4eadd",
        "order": 17,
        "width": 9,
        "height": 2,
        "name": "HBW_init",
        "label": "HBW is init",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1160,
        "y": 160,
        "wires": []
    },
    {
        "id": "4b04c229693647e5",
        "type": "mqtt in JSON",
        "z": "4e9eeca57a653287",
        "name": "SLD init",
        "topic": "SLD/mqtt",
        "qos": "0",
        "broker": "c58f8d4b7c13412d",
        "ignoreempty": true,
        "removemqttconfig": false,
        "x": 850,
        "y": 220,
        "wires": [
            [
                "5cdff2b11bd1fe3e"
            ]
        ]
    },
    {
        "id": "5cdff2b11bd1fe3e",
        "type": "ui_text",
        "z": "4e9eeca57a653287",
        "group": "aa9feae58ac4eadd",
        "order": 17,
        "width": 9,
        "height": 2,
        "name": "SLD_init",
        "label": "SLD is init",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1160,
        "y": 220,
        "wires": []
    },
    {
        "id": "606fbab30e743e90",
        "type": "link in",
        "z": "4e9eeca57a653287",
        "name": "Init_this_flow",
        "links": [],
        "x": 855,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "4237b5bfd7ce309b",
        "type": "link out",
        "z": "4e9eeca57a653287",
        "name": "Init_system",
        "mode": "link",
        "links": [
            "aac3bfe0c4ca492c"
        ],
        "x": 855,
        "y": 400,
        "wires": []
    },
    {
        "id": "0b63604cad85fa37",
        "type": "config",
        "z": "4e9eeca57a653287",
        "name": "",
        "properties": [
            {
                "p": "",
                "pt": "flow",
                "to": "",
                "tot": "str"
            }
        ],
        "active": true,
        "x": 690,
        "y": 580,
        "wires": []
    },
    {
        "id": "f6b7cb301667d9b9",
        "type": "inject",
        "z": "4e9eeca57a653287",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 660,
        "y": 380,
        "wires": [
            [
                "4237b5bfd7ce309b"
            ]
        ]
    },
    {
        "id": "ea5b1d3fd2440b96",
        "type": "ui_form",
        "z": "4c7e81e43391897e",
        "name": "set_actuator_data",
        "label": "Send actuator data",
        "group": "30840b3c631a61fb",
        "order": 46,
        "width": 10,
        "height": 1,
        "options": [
            {
                "label": "M [1..4]=",
                "value": "outMid",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "P [-512-512]=",
                "value": "outP",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "D [0..]=",
                "value": "outD",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "outMid": "",
            "outP": "",
            "outD": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "txt/c/m",
        "topicType": "str",
        "splitLayout": true,
        "className": "",
        "x": 410,
        "y": 140,
        "wires": [
            [
                "156bf0a285ed6539",
                "4b6f7179ec3b16d8"
            ]
        ],
        "inputLabels": [
            "data_in"
        ],
        "outputLabels": [
            "data_out"
        ]
    },
    {
        "id": "a1af0c2aa40e5882",
        "type": "debug",
        "z": "4c7e81e43391897e",
        "name": "send",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 670,
        "y": 320,
        "wires": []
    },
    {
        "id": "6eac0b4933e3c8ac",
        "type": "inject",
        "z": "4c7e81e43391897e",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "txt/act",
        "payload": "{\"outMid\":1,\"outD\":45,\"outP\":123}",
        "payloadType": "json",
        "x": 150,
        "y": 80,
        "wires": [
            [
                "ea5b1d3fd2440b96"
            ]
        ]
    },
    {
        "id": "fe35d86ff585ba4b",
        "type": "mqtt out",
        "z": "4c7e81e43391897e",
        "name": "Test",
        "topic": "txt/out/motor",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c58f8d4b7c13412d",
        "x": 670,
        "y": 240,
        "wires": []
    },
    {
        "id": "156bf0a285ed6539",
        "type": "function",
        "z": "4c7e81e43391897e",
        "name": "check_M",
        "func": "var payload=msg.payload;\nvar topic=msg.topic;\nvar error=false;\nvar j=payload ;//JSON.parse(payload);\nvar msg1={};\nif ( (j.outMid<1) || (j.outMid>4)){\n  j.outMid=null; error=true;  \n} \n\nif ( (j.outP<-512) || (j.outP>512)){\n  j.outP=null; error=true;  \n} \n\nif ( (j.outD<0) || (j.outD>32000)){\n  j.outD=null; error=true;  \n} \nmsg1.payload= j;\nmsg1.topic=topic;\n\n\nif (error) return [ msg1,  null];\n\nreturn [ null,msg1  ];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 240,
        "wires": [
            [
                "29acb7217437424b",
                "ea5b1d3fd2440b96"
            ],
            [
                "fe35d86ff585ba4b",
                "a1af0c2aa40e5882"
            ]
        ],
        "inputLabels": [
            "data"
        ],
        "outputLabels": [
            "err",
            "out"
        ]
    },
    {
        "id": "29acb7217437424b",
        "type": "debug",
        "z": "4c7e81e43391897e",
        "name": "error",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 670,
        "y": 180,
        "wires": []
    },
    {
        "id": "4b6f7179ec3b16d8",
        "type": "debug",
        "z": "4c7e81e43391897e",
        "name": "sttr",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 530,
        "y": 80,
        "wires": []
    },
    {
        "id": "3eee930ebefa8ae3",
        "type": "ui_text",
        "z": "f0a66f6a5cd9f8b9",
        "group": "aa9feae58ac4eadd",
        "order": 1,
        "width": 9,
        "height": 2,
        "name": "sld txt data",
        "label": "sld txt data",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 530,
        "y": 100,
        "wires": []
    },
    {
        "id": "c6d1e76f133acfe0",
        "type": "mqtt in",
        "z": "f0a66f6a5cd9f8b9",
        "name": "SLD p  message",
        "topic": "SLD/p/p",
        "qos": "0",
        "datatype": "json",
        "broker": "c58f8d4b7c13412d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 280,
        "wires": [
            [
                "e5c20a88abbd18b8",
                "8cb7838273183d5d"
            ]
        ],
        "outputLabels": [
            "text"
        ]
    },
    {
        "id": "e22ed57a3fac57eb",
        "type": "debug",
        "z": "f0a66f6a5cd9f8b9",
        "name": "Value",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 90,
        "y": 520,
        "wires": []
    },
    {
        "id": "e5c20a88abbd18b8",
        "type": "json2md",
        "z": "f0a66f6a5cd9f8b9",
        "name": "Parse json to markdown",
        "x": 130,
        "y": 440,
        "wires": [
            [
                "e22ed57a3fac57eb"
            ]
        ],
        "inputLabels": [
            "dara"
        ],
        "outputLabels": [
            "out"
        ]
    },
    {
        "id": "8cb7838273183d5d",
        "type": "function",
        "z": "f0a66f6a5cd9f8b9",
        "name": "SLD PmsgToText",
        "func": "var topic=msg.topic;\nvar payload=msg.payload;\n\nvar objId = payload.id;\nvar objp1 = payload.par[0];\nvar objp2 = payload.par[1];\nvar objp3 = payload.par[2];\nvar objp4 = payload.par[3];\nvar objp5 = payload.par[4];\nvar objT = payload.t;\n\n\nvar msgp1={};\nvar msgp2={};\nvar msgp3={};\nvar msgp4={};\nvar msgp5={};\nvar msgId={};\nvar msgT={};\n\nmsgId.payload=  objId ;\nmsgId.topic= \"ID=\";\n\n//msgp1.payload= JSON.stringify(  objp1 );\nmsgp1.topic= \"txt/new\";\nmsgp1.ui_control={color:\"red\", classname:\"id-warn\",layout:\"row-left\" };\n\nif(objp1==1){\nmsgp1.color = 'green';msgp1.payload = 'white';\n}else if (objp1==2){\nmsgp1.color  = 'white';msgp1.payload = 'red';\n}else if (objp1==3){\nmsgp1.color = 'white';msgp1.payload ='blue';\n}else if (objp1==4){\nmsgp1.color  = 'green' ;msgp1.payload ='not accepted';\n}else { msgp1.color = 'yellow' ;msgp1.payload ='error';};\n\nmsgp2.payload= JSON.stringify( objp2 );\nmsgp2.topic =   \"txt/new\";\n\nmsgp3.payload= JSON.stringify(  objp3 );\nmsgp3.topic =   \"txt/new\";\n\nmsgp4.payload=  JSON.stringify( objp4 );\nmsgp4.topic =   \"txt/new\";\n\nmsgp5.payload= JSON.stringify(  objp5 );\nmsgp5.topic =   \"txt/new\";\n\nmsgT.payload= objT;// JSON.stringify(  objT );\nmsgT.topic =   \"txt/new\";\n\nreturn [msgId, msgp1,msgp2,msgp3,msgp4,msgp5,msgT ];",
        "outputs": 7,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 220,
        "wires": [
            [
                "161368e93504bd81",
                "871ba4db4c9f6c62"
            ],
            [
                "d9aa082873a4a813",
                "62a8134f285496c6"
            ],
            [
                "2f72e14d7050fa58",
                "b05423851e6e9ef2"
            ],
            [
                "cd4b29572a44f6b6",
                "5cc6c6c51ed9baea"
            ],
            [
                "47129c14bd8469ef",
                "1bcdd7c5b8e44c59"
            ],
            [
                "390573897624e0e5",
                "b0602b45eade5e6e"
            ],
            [
                "0b29526cc288ea34",
                "43608e0b84f14d62"
            ]
        ],
        "inputLabels": [
            "Json{}"
        ],
        "outputLabels": [
            "Id",
            "P1",
            "P2",
            "P3",
            "P4",
            "P5",
            "Time"
        ]
    },
    {
        "id": "b2271eae59d1b120",
        "type": "inject",
        "z": "f0a66f6a5cd9f8b9",
        "name": "P-msg",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "SLD/p/p",
        "payload": " {         \"id\" : \"p2\",         \"par\" :         [                 1,                 1022,                 65,                 0,                 0         ],         \"t\" : \"2000-01-01T01:57:41Z\" }",
        "payloadType": "str",
        "x": 270,
        "y": 60,
        "wires": [
            [
                "6da8ef9d1098089d"
            ]
        ],
        "outputLabels": [
            "Json"
        ]
    },
    {
        "id": "d9aa082873a4a813",
        "type": "debug",
        "z": "f0a66f6a5cd9f8b9",
        "name": "P1",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 810,
        "y": 240,
        "wires": []
    },
    {
        "id": "2f72e14d7050fa58",
        "type": "debug",
        "z": "f0a66f6a5cd9f8b9",
        "name": "P2",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 810,
        "y": 340,
        "wires": []
    },
    {
        "id": "390573897624e0e5",
        "type": "debug",
        "z": "f0a66f6a5cd9f8b9",
        "name": "P5",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 810,
        "y": 640,
        "wires": []
    },
    {
        "id": "5cc6c6c51ed9baea",
        "type": "debug",
        "z": "f0a66f6a5cd9f8b9",
        "name": "P3",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 810,
        "y": 440,
        "wires": []
    },
    {
        "id": "47129c14bd8469ef",
        "type": "debug",
        "z": "f0a66f6a5cd9f8b9",
        "name": "P4",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 810,
        "y": 540,
        "wires": []
    },
    {
        "id": "6da8ef9d1098089d",
        "type": "json",
        "z": "f0a66f6a5cd9f8b9",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 330,
        "y": 200,
        "wires": [
            [
                "8cb7838273183d5d",
                "3eee930ebefa8ae3"
            ]
        ]
    },
    {
        "id": "cd4b29572a44f6b6",
        "type": "ui_text",
        "z": "f0a66f6a5cd9f8b9",
        "group": "30840b3c631a61fb",
        "order": 8,
        "width": 2,
        "height": 1,
        "name": "o_p1_3",
        "label": "P3=",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "className": "",
        "x": 820,
        "y": 400,
        "wires": []
    },
    {
        "id": "161368e93504bd81",
        "type": "debug",
        "z": "f0a66f6a5cd9f8b9",
        "name": "Id",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 810,
        "y": 140,
        "wires": []
    },
    {
        "id": "871ba4db4c9f6c62",
        "type": "ui_text",
        "z": "f0a66f6a5cd9f8b9",
        "group": "30840b3c631a61fb",
        "order": 2,
        "width": 2,
        "height": 1,
        "name": "o_p1_Id",
        "label": "{{msg.topic}}",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "className": "",
        "x": 820,
        "y": 100,
        "wires": []
    },
    {
        "id": "0b29526cc288ea34",
        "type": "debug",
        "z": "f0a66f6a5cd9f8b9",
        "name": "Time",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 820,
        "y": 740,
        "wires": []
    },
    {
        "id": "1ed2323da7d440ed",
        "type": "inject",
        "z": "f0a66f6a5cd9f8b9",
        "name": "P-msg",
        "props": [
            {
                "p": "topic",
                "v": "{\"topic\":\"txt/test\"}",
                "vt": "json"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[{\"a\":\"11\",\"b\":\"22\",\"c\":\"33\",\"d\":\"44\"},{\"a\":\"55\",\"b\":\"66\",\"c\":\"77\",\"d\":\"88\"}]",
        "payloadType": "json",
        "x": 90,
        "y": 360,
        "wires": [
            [
                "e5c20a88abbd18b8"
            ]
        ],
        "outputLabels": [
            "Json"
        ]
    },
    {
        "id": "b0602b45eade5e6e",
        "type": "ui_text",
        "z": "f0a66f6a5cd9f8b9",
        "group": "30840b3c631a61fb",
        "order": 10,
        "width": 2,
        "height": 1,
        "name": "o_p1_5",
        "label": "P5=",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "className": "",
        "x": 820,
        "y": 600,
        "wires": []
    },
    {
        "id": "1bcdd7c5b8e44c59",
        "type": "ui_text",
        "z": "f0a66f6a5cd9f8b9",
        "group": "30840b3c631a61fb",
        "order": 9,
        "width": 2,
        "height": 1,
        "name": "o_p1_4",
        "label": "P4=",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "className": "",
        "x": 820,
        "y": 500,
        "wires": []
    },
    {
        "id": "b05423851e6e9ef2",
        "type": "ui_text",
        "z": "f0a66f6a5cd9f8b9",
        "group": "30840b3c631a61fb",
        "order": 7,
        "width": 2,
        "height": 1,
        "name": "o_p1_2",
        "label": "P2=",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "className": "",
        "x": 820,
        "y": 300,
        "wires": []
    },
    {
        "id": "62a8134f285496c6",
        "type": "ui_text",
        "z": "f0a66f6a5cd9f8b9",
        "group": "30840b3c631a61fb",
        "order": 6,
        "width": 2,
        "height": 1,
        "name": "o_p1_1",
        "label": "P1=",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "className": "",
        "x": 820,
        "y": 200,
        "wires": []
    },
    {
        "id": "43608e0b84f14d62",
        "type": "ui_text",
        "z": "f0a66f6a5cd9f8b9",
        "group": "30840b3c631a61fb",
        "order": 4,
        "width": 5,
        "height": 1,
        "name": "o_p1_T",
        "label": "T=",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "className": "",
        "x": 820,
        "y": 700,
        "wires": []
    },
    {
        "id": "1a29f5251e78ea4d",
        "type": "mqtt in",
        "z": "f0a66f6a5cd9f8b9",
        "name": "MPO p  message",
        "topic": "MPO/p/p",
        "qos": "0",
        "datatype": "json",
        "broker": "c58f8d4b7c13412d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1000,
        "y": 340,
        "wires": [
            [
                "cd935a42bd030fea"
            ]
        ],
        "outputLabels": [
            "text"
        ]
    },
    {
        "id": "7fc2a0a5c90caec3",
        "type": "mqtt in",
        "z": "f0a66f6a5cd9f8b9",
        "name": "HBW p  message",
        "topic": "HBW/p/p",
        "qos": "0",
        "datatype": "json",
        "broker": "c58f8d4b7c13412d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 500,
        "y": 1300,
        "wires": [
            [
                "ca35adf3bd215ff6"
            ]
        ],
        "outputLabels": [
            "text"
        ]
    },
    {
        "id": "cf9621ed66eaf421",
        "type": "ui_text",
        "z": "f0a66f6a5cd9f8b9",
        "group": "aa9feae58ac4eadd",
        "order": 4,
        "width": 9,
        "height": 2,
        "name": "mpo txt data",
        "label": "mpo txt data",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1310,
        "y": 140,
        "wires": []
    },
    {
        "id": "cd935a42bd030fea",
        "type": "function",
        "z": "f0a66f6a5cd9f8b9",
        "name": "MPO PmsgToText",
        "func": "var topic=msg.topic;\nvar payload=msg.payload;\n\nvar objId = payload.id;\nvar objp1 = payload.par[0];\nvar objp2 = payload.par[1];\nvar objp3 = payload.par[2];\nvar objp4 = payload.par[3];\nvar objp5 = payload.par[4];\nvar objT = payload.t;\n\n\nvar msgp1={};\nvar msgp2={};\nvar msgp3={};\nvar msgp4={};\nvar msgp5={};\nvar msgId={};\nvar msgT={};\n\nmsgId.payload=  objId ;\nmsgId.topic= \"ID=\";\n\nmsgp1.payload= JSON.stringify(  objp1 );\nmsgp1.topic= \"txt/new\";\n\nmsgp2.payload= JSON.stringify( objp2 );\nmsgp2.topic =   \"txt/new\";\n\nmsgp3.payload= JSON.stringify(  objp3 );\nmsgp3.topic =   \"txt/new\";\n\nmsgp4.payload=  JSON.stringify( objp4 );\nmsgp4.topic =   \"txt/new\";\n\nmsgp5.payload= JSON.stringify(  objp5 );\nmsgp5.topic =   \"txt/new\";\n\nmsgT.payload= objT;// JSON.stringify(  objT );\nmsgT.topic =   \"txt/new\";\n\nreturn [msgId, msgp1,msgp2,msgp3,msgp4,msgp5,msgT ];",
        "outputs": 7,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1330,
        "y": 220,
        "wires": [
            [
                "80524aceb2920b69",
                "390868443d3a9477"
            ],
            [
                "a0b0b7dc2379ad9a",
                "0e516b83a1d18a47"
            ],
            [
                "0559b5b43c18bfea",
                "346dfdab397ae786"
            ],
            [
                "7aad353107bfcb6b",
                "7b6a94c1f4facbcc"
            ],
            [
                "be01446d5e6e5fde",
                "bbc7fa3ba46c1f12"
            ],
            [
                "069b82e3e331d8ed",
                "5f9d183cad2973e5"
            ],
            [
                "371bfe8f726e59df",
                "3a95b2a74d6c4309"
            ]
        ],
        "inputLabels": [
            "Json{}"
        ],
        "outputLabels": [
            "Id",
            "P1",
            "P2",
            "P3",
            "P4",
            "P5",
            "Time"
        ]
    },
    {
        "id": "01961adf460d8aca",
        "type": "inject",
        "z": "f0a66f6a5cd9f8b9",
        "name": "P-msg",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "SLD/p/p",
        "payload": " {         \"id\" : \"p2\",         \"par\" :         [                 1,                 1022,                 65,                 0,                 0         ],         \"t\" : \"2000-01-01T01:57:41Z\" }",
        "payloadType": "str",
        "x": 1170,
        "y": 160,
        "wires": [
            [
                "b40734fb88c0b317"
            ]
        ],
        "outputLabels": [
            "Json"
        ]
    },
    {
        "id": "a0b0b7dc2379ad9a",
        "type": "debug",
        "z": "f0a66f6a5cd9f8b9",
        "name": "P1",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1610,
        "y": 240,
        "wires": []
    },
    {
        "id": "0559b5b43c18bfea",
        "type": "debug",
        "z": "f0a66f6a5cd9f8b9",
        "name": "P2",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1610,
        "y": 340,
        "wires": []
    },
    {
        "id": "069b82e3e331d8ed",
        "type": "debug",
        "z": "f0a66f6a5cd9f8b9",
        "name": "P5",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1610,
        "y": 640,
        "wires": []
    },
    {
        "id": "7b6a94c1f4facbcc",
        "type": "debug",
        "z": "f0a66f6a5cd9f8b9",
        "name": "P3",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1610,
        "y": 440,
        "wires": []
    },
    {
        "id": "be01446d5e6e5fde",
        "type": "debug",
        "z": "f0a66f6a5cd9f8b9",
        "name": "P4",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1610,
        "y": 540,
        "wires": []
    },
    {
        "id": "b40734fb88c0b317",
        "type": "json",
        "z": "f0a66f6a5cd9f8b9",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 1230,
        "y": 80,
        "wires": [
            [
                "cd935a42bd030fea",
                "cf9621ed66eaf421"
            ]
        ]
    },
    {
        "id": "7aad353107bfcb6b",
        "type": "ui_text",
        "z": "f0a66f6a5cd9f8b9",
        "group": "30840b3c631a61fb",
        "order": 19,
        "width": 2,
        "height": 1,
        "name": "mpo_p1_3",
        "label": "P3=",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "className": "",
        "x": 1630,
        "y": 400,
        "wires": []
    },
    {
        "id": "80524aceb2920b69",
        "type": "debug",
        "z": "f0a66f6a5cd9f8b9",
        "name": "Id",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1610,
        "y": 140,
        "wires": []
    },
    {
        "id": "390868443d3a9477",
        "type": "ui_text",
        "z": "f0a66f6a5cd9f8b9",
        "group": "30840b3c631a61fb",
        "order": 13,
        "width": 2,
        "height": 1,
        "name": "mpo_p1_Id",
        "label": "{{msg.topic}}",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "className": "",
        "x": 1630,
        "y": 100,
        "wires": []
    },
    {
        "id": "371bfe8f726e59df",
        "type": "debug",
        "z": "f0a66f6a5cd9f8b9",
        "name": "Time",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1620,
        "y": 740,
        "wires": []
    },
    {
        "id": "5f9d183cad2973e5",
        "type": "ui_text",
        "z": "f0a66f6a5cd9f8b9",
        "group": "30840b3c631a61fb",
        "order": 21,
        "width": 2,
        "height": 1,
        "name": "mpo_p1_5",
        "label": "P5=",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "className": "",
        "x": 1630,
        "y": 600,
        "wires": []
    },
    {
        "id": "bbc7fa3ba46c1f12",
        "type": "ui_text",
        "z": "f0a66f6a5cd9f8b9",
        "group": "30840b3c631a61fb",
        "order": 20,
        "width": 2,
        "height": 1,
        "name": "mpo_p1_4",
        "label": "P4=",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "className": "",
        "x": 1630,
        "y": 500,
        "wires": []
    },
    {
        "id": "346dfdab397ae786",
        "type": "ui_text",
        "z": "f0a66f6a5cd9f8b9",
        "group": "30840b3c631a61fb",
        "order": 18,
        "width": 2,
        "height": 1,
        "name": "mpo_p1_2",
        "label": "P2=",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "className": "",
        "x": 1630,
        "y": 300,
        "wires": []
    },
    {
        "id": "0e516b83a1d18a47",
        "type": "ui_text",
        "z": "f0a66f6a5cd9f8b9",
        "group": "30840b3c631a61fb",
        "order": 17,
        "width": 2,
        "height": 1,
        "name": "mpo_p1_1",
        "label": "P1=",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "className": "",
        "x": 1630,
        "y": 200,
        "wires": []
    },
    {
        "id": "3a95b2a74d6c4309",
        "type": "ui_text",
        "z": "f0a66f6a5cd9f8b9",
        "group": "30840b3c631a61fb",
        "order": 15,
        "width": 5,
        "height": 1,
        "name": "mpo_p1_T",
        "label": "T=",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "className": "",
        "x": 1630,
        "y": 700,
        "wires": []
    },
    {
        "id": "f148c4340805c752",
        "type": "ui_text",
        "z": "f0a66f6a5cd9f8b9",
        "group": "aa9feae58ac4eadd",
        "order": 7,
        "width": 9,
        "height": 2,
        "name": "hbw txt data",
        "label": "hbw txt data",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 869.765625,
        "y": 1228.25,
        "wires": []
    },
    {
        "id": "ca35adf3bd215ff6",
        "type": "function",
        "z": "f0a66f6a5cd9f8b9",
        "name": "HBW PmsgToText",
        "func": "var topic=msg.topic;\nvar payload=msg.payload;\n\nvar objId = payload.id;\nvar objp1 = payload.par[0];\nvar objp2 = payload.par[1];\nvar objp3 = payload.par[2];\nvar objp4 = payload.par[3];\nvar objp5 = payload.par[4];\nvar objT = payload.t;\n\n\nvar msgp1={};\nvar msgp2={};\nvar msgp3={};\nvar msgp4={};\nvar msgp5={};\nvar msgId={};\nvar msgT={};\n\nmsgId.payload=  objId ;\nmsgId.topic= \"ID=\";\n\nmsgp1.payload= JSON.stringify(  objp1 );\nmsgp1.topic= \"txt/new\";\n\nmsgp2.payload= JSON.stringify( objp2 );\nmsgp2.topic =   \"txt/new\";\n\nmsgp3.payload= JSON.stringify(  objp3 );\nmsgp3.topic =   \"txt/new\";\n\nmsgp4.payload=  JSON.stringify( objp4 );\nmsgp4.topic =   \"txt/new\";\n\nmsgp5.payload= JSON.stringify(  objp5 );\nmsgp5.topic =   \"txt/new\";\n\nmsgT.payload= objT;// JSON.stringify(  objT );\nmsgT.topic =   \"txt/new\";\n\nreturn [msgId, msgp1,msgp2,msgp3,msgp4,msgp5,msgT ];",
        "outputs": 7,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 909.765625,
        "y": 1308.25,
        "wires": [
            [
                "50193d4f26814db6",
                "d2eb1106502cdefb"
            ],
            [
                "f2e5d6727bba5e10",
                "12ebffadbf841610"
            ],
            [
                "f7977ff668a73113",
                "d1ffc48be901e49f"
            ],
            [
                "44e88743cc7aed3d",
                "c801eb648574b93a"
            ],
            [
                "5ffc1d5247e2981c",
                "d73ddeba68ac3d43"
            ],
            [
                "d9924cc0e24f3959",
                "4a989f0d1776998a"
            ],
            [
                "ae87eb797c1dc66b",
                "8c03f50d3993503e"
            ]
        ],
        "inputLabels": [
            "Json{}"
        ],
        "outputLabels": [
            "Id",
            "P1",
            "P2",
            "P3",
            "P4",
            "P5",
            "Time"
        ]
    },
    {
        "id": "e5c7f7a48995a5e5",
        "type": "inject",
        "z": "f0a66f6a5cd9f8b9",
        "name": "P-msg",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "SLD/p/p",
        "payload": " {         \"id\" : \"p2\",         \"par\" :         [                 1,                 1022,                 65,                 0,                 0         ],         \"t\" : \"2000-01-01T01:57:41Z\" }",
        "payloadType": "str",
        "x": 570,
        "y": 1120,
        "wires": [
            [
                "ff6ffb5fb236e06d"
            ]
        ],
        "outputLabels": [
            "Json"
        ]
    },
    {
        "id": "f2e5d6727bba5e10",
        "type": "debug",
        "z": "f0a66f6a5cd9f8b9",
        "name": "P1",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1149.765625,
        "y": 1328.25,
        "wires": []
    },
    {
        "id": "f7977ff668a73113",
        "type": "debug",
        "z": "f0a66f6a5cd9f8b9",
        "name": "P2",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1149.765625,
        "y": 1428.25,
        "wires": []
    },
    {
        "id": "d9924cc0e24f3959",
        "type": "debug",
        "z": "f0a66f6a5cd9f8b9",
        "name": "P5",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1149.765625,
        "y": 1728.25,
        "wires": []
    },
    {
        "id": "c801eb648574b93a",
        "type": "debug",
        "z": "f0a66f6a5cd9f8b9",
        "name": "P3",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1149.765625,
        "y": 1528.25,
        "wires": []
    },
    {
        "id": "5ffc1d5247e2981c",
        "type": "debug",
        "z": "f0a66f6a5cd9f8b9",
        "name": "P4",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1149.765625,
        "y": 1628.25,
        "wires": []
    },
    {
        "id": "ff6ffb5fb236e06d",
        "type": "json",
        "z": "f0a66f6a5cd9f8b9",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 769.765625,
        "y": 1168.25,
        "wires": [
            [
                "ca35adf3bd215ff6",
                "f148c4340805c752"
            ]
        ]
    },
    {
        "id": "44e88743cc7aed3d",
        "type": "ui_text",
        "z": "f0a66f6a5cd9f8b9",
        "group": "30840b3c631a61fb",
        "order": 30,
        "width": 2,
        "height": 1,
        "name": "mpo_p1_3",
        "label": "P3=",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "className": "",
        "x": 1189.765625,
        "y": 1488.25,
        "wires": []
    },
    {
        "id": "50193d4f26814db6",
        "type": "debug",
        "z": "f0a66f6a5cd9f8b9",
        "name": "Id",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1149.765625,
        "y": 1228.25,
        "wires": []
    },
    {
        "id": "d2eb1106502cdefb",
        "type": "ui_text",
        "z": "f0a66f6a5cd9f8b9",
        "group": "30840b3c631a61fb",
        "order": 24,
        "width": 2,
        "height": 1,
        "name": "hbw_p1_Id",
        "label": "{{msg.topic}}",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "className": "",
        "x": 1189.765625,
        "y": 1188.25,
        "wires": []
    },
    {
        "id": "ae87eb797c1dc66b",
        "type": "debug",
        "z": "f0a66f6a5cd9f8b9",
        "name": "Time",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1169.765625,
        "y": 1828.25,
        "wires": []
    },
    {
        "id": "4a989f0d1776998a",
        "type": "ui_text",
        "z": "f0a66f6a5cd9f8b9",
        "group": "30840b3c631a61fb",
        "order": 32,
        "width": 2,
        "height": 1,
        "name": "hbw_p1_5",
        "label": "P5=",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "className": "",
        "x": 1189.765625,
        "y": 1688.25,
        "wires": []
    },
    {
        "id": "d73ddeba68ac3d43",
        "type": "ui_text",
        "z": "f0a66f6a5cd9f8b9",
        "group": "30840b3c631a61fb",
        "order": 31,
        "width": 2,
        "height": 1,
        "name": "hbw_p1_4",
        "label": "P4=",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "className": "",
        "x": 1189.765625,
        "y": 1588.25,
        "wires": []
    },
    {
        "id": "d1ffc48be901e49f",
        "type": "ui_text",
        "z": "f0a66f6a5cd9f8b9",
        "group": "30840b3c631a61fb",
        "order": 29,
        "width": 2,
        "height": 1,
        "name": "hbw_p1_2",
        "label": "P2=",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "className": "",
        "x": 1189.765625,
        "y": 1388.25,
        "wires": []
    },
    {
        "id": "12ebffadbf841610",
        "type": "ui_text",
        "z": "f0a66f6a5cd9f8b9",
        "group": "30840b3c631a61fb",
        "order": 28,
        "width": 2,
        "height": 1,
        "name": "hbw_p1_1",
        "label": "P1=",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "className": "",
        "x": 1189.765625,
        "y": 1288.25,
        "wires": []
    },
    {
        "id": "8c03f50d3993503e",
        "type": "ui_text",
        "z": "f0a66f6a5cd9f8b9",
        "group": "30840b3c631a61fb",
        "order": 26,
        "width": 5,
        "height": 1,
        "name": "hbw_p1_T",
        "label": "T=",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "className": "",
        "x": 1189.765625,
        "y": 1788.25,
        "wires": []
    },
    {
        "id": "aac3bfe0c4ca492c",
        "type": "link in",
        "z": "f0a66f6a5cd9f8b9",
        "name": "Init_SLD_p",
        "links": [
            "4237b5bfd7ce309b"
        ],
        "x": 35,
        "y": 140,
        "wires": [
            [
                "b40faac52f6261df"
            ]
        ]
    },
    {
        "id": "95ccafd3c272f901",
        "type": "config",
        "z": "f0a66f6a5cd9f8b9",
        "name": "",
        "properties": [
            {
                "p": "",
                "pt": "flow",
                "to": "",
                "tot": "str"
            }
        ],
        "active": true,
        "x": 110,
        "y": 600,
        "wires": []
    },
    {
        "id": "b40faac52f6261df",
        "type": "change",
        "z": "f0a66f6a5cd9f8b9",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": " {         \"id\" : \"\",         \"par\" :         [                  null,                 null,       null,                 null,                 null         ],         \"t\" : \"2000-01-01T00:00:00Z\" }",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "SLD/p/p",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 160,
        "y": 140,
        "wires": [
            [
                "6da8ef9d1098089d"
            ]
        ]
    },
    {
        "id": "ece4cb8c82db4177",
        "type": "ui_form",
        "z": "86129776fa6cf627",
        "name": "publish_P_data",
        "label": "Send P1-data",
        "group": "30840b3c631a61fb",
        "order": 44,
        "width": 10,
        "height": 1,
        "options": [
            {
                "label": "Id [1..3]=",
                "value": "id",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "P1 [see doc] =",
                "value": "par1",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "P2 [see doc] =",
                "value": "par2",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "P3 [see doc] =",
                "value": "par3",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "P4 [see doc] =",
                "value": "par4",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "P5 [see doc] =",
                "value": "par5",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "id": "",
            "par1": "",
            "par2": "",
            "par3": "",
            "par4": "",
            "par5": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "txt/c/p1",
        "topicType": "str",
        "splitLayout": true,
        "className": "",
        "x": 320,
        "y": 200,
        "wires": [
            [
                "9d1e03aa5a7b52fd",
                "25c5f56b903361a1"
            ]
        ],
        "inputLabels": [
            "data_in"
        ],
        "outputLabels": [
            "data_out"
        ]
    },
    {
        "id": "77fbe054e9f51e1d",
        "type": "debug",
        "z": "86129776fa6cf627",
        "name": "send",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 530,
        "y": 380,
        "wires": []
    },
    {
        "id": "a2096132522109fa",
        "type": "inject",
        "z": "86129776fa6cf627",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "txt/c/p1",
        "payload": "{\"id\":1,\"par1\":0,\"par2\":0,\"par3\":0,\"par4\":0,\"par5\":0,\"t\":\"2014-06-25T00:00:00.000Z\"}",
        "payloadType": "json",
        "x": 90,
        "y": 180,
        "wires": [
            [
                "ece4cb8c82db4177"
            ]
        ],
        "info": "\"par\":[34,253,65,512,-23],"
    },
    {
        "id": "d88163db1c48d4f6",
        "type": "mqtt out",
        "z": "86129776fa6cf627",
        "name": "pub_p1",
        "topic": "\"txt/c/p1\"",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c58f8d4b7c13412d",
        "x": 760,
        "y": 320,
        "wires": []
    },
    {
        "id": "9d1e03aa5a7b52fd",
        "type": "function",
        "z": "86129776fa6cf627",
        "name": "check_M",
        "func": "var payload=msg.payload;\nvar plOut={};\nvar topic=msg.topic;\nvar error=false;\nvar j=payload ;//JSON.parse(payload);\nvar msg1={};\nvar msg3={};\nvar msg4={};\nif ( (j.id<1) || (j.id>3)){\n  j.id=null; error=true;  \n} else \nplOut.id=\"P1\";//  \"P\"+ payload.id.toString();\nvar r=[j.par1,j.par2,j.par3,j.par4,j.par5];\nplOut.par=[];\n\n\n[0, 1,2,3,4].forEach(v => {\nplOut.par[v]=r[v];\nif ( (plOut.par[v]<-32767) || (plOut.par[v]>32767)){\n  plOut.par[v]=null; error=true;  \n} \n});\nj.par1=plOut.par[0];\nj.par2=plOut.par[1];\nj.par3=plOut.par[2];\nj.par4=plOut.par[3];\nj.par5=plOut.par[4];\nj.t=new Date();\nmsg.payload= j;\nif (error){\n   return [ msg,  null]; \n} \nplOut.t=new Date();\nmsg1.payload= plOut;\nmsg1.topic=topic;\nreturn [ msg,msg1];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 320,
        "wires": [
            [
                "a377809ecff81c51",
                "ece4cb8c82db4177"
            ],
            [
                "d88163db1c48d4f6",
                "77fbe054e9f51e1d"
            ]
        ],
        "inputLabels": [
            "data"
        ],
        "outputLabels": [
            "err",
            "out"
        ]
    },
    {
        "id": "a377809ecff81c51",
        "type": "debug",
        "z": "86129776fa6cf627",
        "name": "error",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 530,
        "y": 260,
        "wires": []
    },
    {
        "id": "25c5f56b903361a1",
        "type": "debug",
        "z": "86129776fa6cf627",
        "name": "button_out",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 550,
        "y": 180,
        "wires": []
    },
    {
        "id": "80f136618643dae4",
        "type": "debug",
        "z": "91a23abe8e481d5a",
        "name": "Cmd Halt",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 600,
        "y": 200,
        "wires": []
    },
    {
        "id": "7e9cab15f9dc9e6d",
        "type": "inject",
        "z": "91a23abe8e481d5a",
        "name": "Halt MPO",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "MPO/c/halt",
        "payload": "{\"outMid\":0}",
        "payloadType": "json",
        "x": 140,
        "y": 140,
        "wires": [
            [
                "f05193b0812e1c3b"
            ]
        ]
    },
    {
        "id": "c9807cf65460edf8",
        "type": "mqtt out",
        "z": "91a23abe8e481d5a",
        "name": "Cmd Halt",
        "topic": "",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c58f8d4b7c13412d",
        "x": 600,
        "y": 140,
        "wires": []
    },
    {
        "id": "f05193b0812e1c3b",
        "type": "ui_button",
        "z": "91a23abe8e481d5a",
        "name": "Halt MPO",
        "group": "30840b3c631a61fb",
        "order": 34,
        "width": 3,
        "height": 1,
        "passthru": true,
        "label": "btn_halt_mpo",
        "tooltip": "Emergency stop of the actuators in this section.",
        "color": "red",
        "bgcolor": "black",
        "className": "",
        "icon": "",
        "payload": "{\"outMid\":0}",
        "payloadType": "json",
        "topic": "MPO/c/halt",
        "topicType": "str",
        "x": 340,
        "y": 120,
        "wires": [
            [
                "c9807cf65460edf8",
                "80f136618643dae4"
            ]
        ]
    },
    {
        "id": "0a0b4dd278101868",
        "type": "debug",
        "z": "91a23abe8e481d5a",
        "name": "pause",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 590,
        "y": 520,
        "wires": []
    },
    {
        "id": "1a16ff1a2011c0eb",
        "type": "inject",
        "z": "91a23abe8e481d5a",
        "name": "Pause",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "txt/c/pause",
        "payload": "{\"item\":\"\"}",
        "payloadType": "json",
        "x": 130,
        "y": 460,
        "wires": [
            [
                "e6a33923a4197ba8"
            ]
        ]
    },
    {
        "id": "135238f4fed07999",
        "type": "mqtt out",
        "z": "91a23abe8e481d5a",
        "name": "Pause",
        "topic": "",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c58f8d4b7c13412d",
        "x": 590,
        "y": 460,
        "wires": []
    },
    {
        "id": "e6a33923a4197ba8",
        "type": "ui_button",
        "z": "91a23abe8e481d5a",
        "name": "btn_pause",
        "group": "30840b3c631a61fb",
        "order": 39,
        "width": 3,
        "height": 1,
        "passthru": true,
        "label": "Pause",
        "tooltip": "Emergency stop of the actuators in this section.",
        "color": "blue",
        "bgcolor": "black",
        "className": "",
        "icon": "",
        "payload": "{\"outMid\":0}",
        "payloadType": "json",
        "topic": "txt/c/pause",
        "topicType": "str",
        "x": 350,
        "y": 460,
        "wires": [
            [
                "135238f4fed07999",
                "0a0b4dd278101868"
            ]
        ]
    },
    {
        "id": "7b68d6663cd47345",
        "type": "debug",
        "z": "91a23abe8e481d5a",
        "name": "resume",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 600,
        "y": 640,
        "wires": []
    },
    {
        "id": "584f36681d9fc98e",
        "type": "inject",
        "z": "91a23abe8e481d5a",
        "name": "Resume",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "txt/c/resume",
        "payload": "{\"item\":\"\"}",
        "payloadType": "json",
        "x": 140,
        "y": 580,
        "wires": [
            [
                "aa80c834baf65210"
            ]
        ]
    },
    {
        "id": "76458433e2e6c887",
        "type": "mqtt out",
        "z": "91a23abe8e481d5a",
        "name": "Resume",
        "topic": "",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c58f8d4b7c13412d",
        "x": 600,
        "y": 580,
        "wires": []
    },
    {
        "id": "aa80c834baf65210",
        "type": "ui_button",
        "z": "91a23abe8e481d5a",
        "name": "btn_resume",
        "group": "30840b3c631a61fb",
        "order": 41,
        "width": 3,
        "height": 1,
        "passthru": true,
        "label": "Resume",
        "tooltip": "Emergency stop of the actuators in this section.",
        "color": "green",
        "bgcolor": "black",
        "className": "",
        "icon": "",
        "payload": "{\"outMid\":0}",
        "payloadType": "json",
        "topic": "txt/c/resume",
        "topicType": "str",
        "x": 350,
        "y": 580,
        "wires": [
            [
                "76458433e2e6c887",
                "7b68d6663cd47345"
            ]
        ]
    },
    {
        "id": "3efcf8219619efbb",
        "type": "inject",
        "z": "91a23abe8e481d5a",
        "name": "Halt HBW",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "HBW/c/halt",
        "payload": "{\"outMid\":0}",
        "payloadType": "json",
        "x": 140,
        "y": 200,
        "wires": [
            [
                "851e6f5532bf9635"
            ]
        ]
    },
    {
        "id": "851e6f5532bf9635",
        "type": "ui_button",
        "z": "91a23abe8e481d5a",
        "name": "Halt HBW",
        "group": "30840b3c631a61fb",
        "order": 35,
        "width": 3,
        "height": 1,
        "passthru": true,
        "label": "btn_halt_hbw",
        "tooltip": "Emergency stop of the actuators in this section.",
        "color": "red",
        "bgcolor": "black",
        "className": "",
        "icon": "",
        "payload": "{\"outMid\":0}",
        "payloadType": "json",
        "topic": "HBW/c/halt",
        "topicType": "str",
        "x": 340,
        "y": 200,
        "wires": [
            [
                "c9807cf65460edf8",
                "80f136618643dae4"
            ]
        ]
    },
    {
        "id": "6a2bb4f2cc9fe66d",
        "type": "inject",
        "z": "91a23abe8e481d5a",
        "name": "Halt SLD",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            },
            {
                "p": "payload.enable",
                "v": "",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "SLD/c/halt",
        "payload": "{\"outMid\":0}",
        "payloadType": "json",
        "x": 140,
        "y": 240,
        "wires": [
            [
                "851e6f5532bf9635"
            ]
        ]
    },
    {
        "id": "1ae2ef1ffadb8893",
        "type": "ui_button",
        "z": "91a23abe8e481d5a",
        "name": "Halt SLD",
        "group": "30840b3c631a61fb",
        "order": 36,
        "width": 3,
        "height": 1,
        "passthru": true,
        "label": "btn_halt_sld",
        "tooltip": "Emergency stop of the actuators in this section.",
        "color": "red",
        "bgcolor": "black",
        "className": "",
        "icon": "",
        "payload": "{\"outMid\":0}",
        "payloadType": "json",
        "topic": "SLD/c/halt",
        "topicType": "str",
        "x": 340,
        "y": 240,
        "wires": [
            [
                "c9807cf65460edf8",
                "80f136618643dae4"
            ]
        ]
    },
    {
        "id": "a02da425.d46d5",
        "type": "inject",
        "z": "5facf45f.05cf5c",
        "name": "Suspend",
        "props": [
            {
                "p": "enabled",
                "v": "true",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 100,
        "y": 300,
        "wires": [
            [
                "3cad32a8.067e76"
            ]
        ]
    },
    {
        "id": "7a23eae9.cd1384",
        "type": "inject",
        "z": "5facf45f.05cf5c",
        "name": "Resume",
        "props": [
            {
                "p": "enabled",
                "v": "false",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 100,
        "y": 340,
        "wires": [
            [
                "cc00de15.89d4d8"
            ]
        ]
    },
    {
        "id": "3cad32a8.067e76",
        "type": "ui_button",
        "z": "5facf45f.05cf5c",
        "name": "Pause",
        "group": "ccf5f67a2e5a062e",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Pause",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Pause",
        "payloadType": "str",
        "topic": "Control",
        "topicType": "str",
        "x": 370,
        "y": 280,
        "wires": [
            [
                "4b6e5e93.4914e8",
                "56e72bad.24ea6c"
            ]
        ]
    },
    {
        "id": "cc00de15.89d4d8",
        "type": "ui_button",
        "z": "5facf45f.05cf5c",
        "name": "Resume",
        "group": "ccf5f67a2e5a062e",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Resume",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Resume",
        "payloadType": "str",
        "topic": "Control",
        "topicType": "str",
        "x": 380,
        "y": 340,
        "wires": [
            [
                "bec9ea3b.bf282",
                "2daf4ddb.117182"
            ]
        ]
    },
    {
        "id": "c0bd2bb.0cde158",
        "type": "debug",
        "z": "5facf45f.05cf5c",
        "name": "Message",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 140,
        "wires": []
    },
    {
        "id": "45bfabc3.537124",
        "type": "inject",
        "z": "5facf45f.05cf5c",
        "name": "On (Blue)",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "5,8",
        "payloadType": "str",
        "x": 100,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "9f20e8c3.16bf68",
        "type": "inject",
        "z": "5facf45f.05cf5c",
        "name": "Off (Blue)",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "9,6",
        "payloadType": "str",
        "x": 100,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "4b6e5e93.4914e8",
        "type": "change",
        "z": "5facf45f.05cf5c",
        "name": "Disable",
        "rules": [],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 260,
        "y": 200,
        "wires": [
            [
                "3cad32a8.067e76"
            ]
        ]
    },
    {
        "id": "2daf4ddb.117182",
        "type": "change",
        "z": "5facf45f.05cf5c",
        "name": "Enable",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 360,
        "wires": [
            [
                "3cad32a8.067e76"
            ]
        ]
    },
    {
        "id": "bec9ea3b.bf282",
        "type": "change",
        "z": "5facf45f.05cf5c",
        "name": "Disable",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 260,
        "y": 440,
        "wires": [
            [
                "cc00de15.89d4d8"
            ]
        ]
    },
    {
        "id": "56e72bad.24ea6c",
        "type": "change",
        "z": "5facf45f.05cf5c",
        "name": "Enable",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 280,
        "wires": [
            [
                "cc00de15.89d4d8"
            ]
        ]
    },
    {
        "id": "d81194ef.313d6",
        "type": "gate",
        "z": "5facf45f.05cf5c",
        "name": "gate 1",
        "controlTopic": "control",
        "defaultState": "open",
        "openCmd": "open",
        "closeCmd": "close",
        "toggleCmd": "toggle",
        "defaultCmd": "default",
        "statusCmd": "",
        "persist": true,
        "x": 1230,
        "y": 440,
        "wires": [
            [
                "f2823cc0.7548c"
            ]
        ]
    },
    {
        "id": "a2c1bfc0.3be47",
        "type": "status",
        "z": "5facf45f.05cf5c",
        "name": "status 1",
        "scope": [
            "d81194ef.313d6"
        ],
        "x": 1370,
        "y": 480,
        "wires": [
            [
                "4e7accb1.6a1244",
                "c7ba6981.1c5ca8"
            ]
        ]
    },
    {
        "id": "ffac76df.157138",
        "type": "inject",
        "z": "5facf45f.05cf5c",
        "name": "timestamp",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 920,
        "y": 400,
        "wires": [
            [
                "717d6cd.b967594"
            ]
        ]
    },
    {
        "id": "5f1d51af.3f9ef8",
        "type": "gate",
        "z": "5facf45f.05cf5c",
        "name": "gate 2",
        "controlTopic": "control",
        "defaultState": "open",
        "openCmd": "open",
        "closeCmd": "close",
        "toggleCmd": "toggle",
        "defaultCmd": "default",
        "x": 1230,
        "y": 620,
        "wires": [
            [
                "9b2a6a4.c99b098"
            ]
        ]
    },
    {
        "id": "10481de0.41060a",
        "type": "ui_switch",
        "z": "5facf45f.05cf5c",
        "name": "open/close",
        "label": "open/close",
        "group": "5cfe21d2.307938",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "false",
        "topic": "control",
        "style": "",
        "onvalue": "open",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "close",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 1070,
        "y": 640,
        "wires": [
            [
                "5f1d51af.3f9ef8"
            ]
        ]
    },
    {
        "id": "dbc56c5c.9a499",
        "type": "ui_button",
        "z": "5facf45f.05cf5c",
        "name": "toggle",
        "group": "ccf5f67a2e5a062e",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "toggle",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "toggle",
        "payloadType": "str",
        "topic": "control",
        "topicType": "str",
        "x": 1090,
        "y": 440,
        "wires": [
            [
                "d81194ef.313d6"
            ]
        ]
    },
    {
        "id": "fb3862a9.febaa8",
        "type": "ui_button",
        "z": "5facf45f.05cf5c",
        "name": "reset",
        "group": "ccf5f67a2e5a062e",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "reset",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "default",
        "payloadType": "str",
        "topic": "control",
        "topicType": "str",
        "x": 1090,
        "y": 480,
        "wires": [
            [
                "d81194ef.313d6"
            ]
        ]
    },
    {
        "id": "717d6cd.b967594",
        "type": "ui_button",
        "z": "5facf45f.05cf5c",
        "name": "message 1",
        "group": "ccf5f67a2e5a062e",
        "order": 12,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Send",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "anything",
        "topicType": "str",
        "x": 1070,
        "y": 400,
        "wires": [
            [
                "d81194ef.313d6"
            ]
        ]
    },
    {
        "id": "cf3d94f3.62e01",
        "type": "ui_button",
        "z": "5facf45f.05cf5c",
        "name": "message 2",
        "group": "5cfe21d2.307938",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Send",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "x": 1070,
        "y": 600,
        "wires": [
            [
                "5f1d51af.3f9ef8"
            ]
        ]
    },
    {
        "id": "f2823cc0.7548c",
        "type": "ui_text",
        "z": "5facf45f.05cf5c",
        "group": "ccf5f67a2e5a062e",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "display 1",
        "label": "Message",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1380,
        "y": 440,
        "wires": []
    },
    {
        "id": "4e7accb1.6a1244",
        "type": "ui_text",
        "z": "5facf45f.05cf5c",
        "group": "ccf5f67a2e5a062e",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "status 1",
        "label": "Status",
        "format": "{{msg.status.text}}",
        "layout": "row-spread",
        "className": "",
        "x": 1520,
        "y": 480,
        "wires": []
    },
    {
        "id": "9b2a6a4.c99b098",
        "type": "ui_text",
        "z": "5facf45f.05cf5c",
        "group": "5cfe21d2.307938",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "display 2",
        "label": "Message",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1380,
        "y": 620,
        "wires": []
    },
    {
        "id": "9fdf32be.f66568",
        "type": "ui_text",
        "z": "5facf45f.05cf5c",
        "group": "5cfe21d2.307938",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "status 2",
        "label": "Status",
        "format": "{{msg.status.text}}",
        "layout": "row-spread",
        "x": 1500,
        "y": 660,
        "wires": []
    },
    {
        "id": "d3b465d7.ab11d",
        "type": "inject",
        "z": "5facf45f.05cf5c",
        "name": "timestamp",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 920,
        "y": 600,
        "wires": [
            [
                "cf3d94f3.62e01"
            ]
        ]
    },
    {
        "id": "7378029e.0e7004",
        "type": "status",
        "z": "5facf45f.05cf5c",
        "name": "status 2",
        "scope": [
            "5f1d51af.3f9ef8"
        ],
        "x": 1370,
        "y": 660,
        "wires": [
            [
                "9fdf32be.f66568"
            ]
        ]
    },
    {
        "id": "66b1fc61.8e356c",
        "type": "inject",
        "z": "5facf45f.05cf5c",
        "name": "toggle",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 930,
        "y": 440,
        "wires": [
            [
                "dbc56c5c.9a499"
            ]
        ]
    },
    {
        "id": "c7bd73e3.460f",
        "type": "inject",
        "z": "5facf45f.05cf5c",
        "name": "reset",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 930,
        "y": 480,
        "wires": [
            [
                "fb3862a9.febaa8"
            ]
        ]
    },
    {
        "id": "c7ba6981.1c5ca8",
        "type": "debug",
        "z": "5facf45f.05cf5c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "status",
        "x": 1530,
        "y": 520,
        "wires": []
    },
    {
        "id": "233d3fe562c3f6df",
        "type": "ui_button",
        "z": "5facf45f.05cf5c",
        "name": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1050,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "0b12347dd5f74b50",
        "type": "toggle",
        "z": "5facf45f.05cf5c",
        "name": "",
        "onOffTopic": "",
        "onValue": "",
        "onType": "str",
        "offValue": "",
        "offType": "str",
        "toggleTopic": "",
        "toggleValue": "",
        "toggleType": "str",
        "passOnOff": "",
        "x": 1090,
        "y": 220,
        "wires": [
            []
        ]
    }
]